@import '~basics/colors/colors.scss';

.hig__global-nav__side-nav__section__group__module__submodule {
  display: block;
  padding-left: 48px;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  color: color(hig-gray-20);
  user-select: none;

  &:hover,
  &--active {
    color: color(hig-blue-30);
  }

  &:focus,
  &:active {
    outline: none;
    color: color(hig-blue-20);
  }

  &--hide {
    display: none;
  }
}
