@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__global-nav__top-nav__search {
  position: relative;
  display: flex;
  align-items: stretch;
}

.hig__global-nav__top-nav__search__icon {
  margin: 0 10px;
  display: flex;
  align-items: center;

  &:hover{
    cursor: pointer;
  }
}

.hig__global-nav__top-nav__search__input {
  @include reset;
  align-self: center;
  margin-left: -5px;
  border: none;
  font-size: 16px;
  padding: 5px;
  max-width: 460px;
  font-weight: 500;

  &::placeholder {
    font-weight: normal;
    color: color(hig-cool-gray-50);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.hig__global-nav__top-nav__search__clear {
  display: flex;
  align-items: center;
  opacity: 0; // hide by opacity to enable event propagation with focusin/focusout events

  &--show {
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
  }
}
