@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__global-nav__side-nav__section__group__module__collapse{
    position: absolute;
    top: 6px;
    right: -10px;

    @include vendor-prefix('transform', 'rotate(90deg)');

    &--collapsed{
        @include vendor-prefix('transform', 'rotate(0deg)');
    }

    &--hide{
        display: none;
    }

    &:hover{
        cursor: pointer;
    }
}