@import '../../basics/colors/colors.scss';
@import '../../basics/shadows/shadows.scss';
@import '~helpers/css/layers.scss';
@mixin chevron-border() {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 11px 11px;
}

@mixin chevron-bg() {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
}

@mixin top-chevron--dark() {
  @include chevron-border();
  top: -11px;
  border-top-width: 0;
  border-color: transparent transparent color(hig-cool-gray-20) transparent;
}

@mixin top-chevron--light(){
  @include chevron-bg();
  top: -9px;
  border-top-width: 0;
  border-color: transparent transparent white transparent;
}

@mixin right-chevron--dark() {
  @include chevron-border();
  right: -11px;
  border-right-width: 0;
  border-color: transparent transparent transparent color(hig-cool-gray-20);
}

@mixin right-chevron--light() {
  @include chevron-bg();
  right: -9px;
  border-right-width: 0;
  border-color: transparent transparent transparent white;
}

@mixin bottom-chevron--dark() {
  @include chevron-border();
  bottom: -10px;
  border-bottom-width: 0;
  border-color: color(hig-cool-gray-20) transparent transparent transparent;
}

@mixin bottom-chevron--light() {
  @include chevron-bg();
  bottom: -8px;
  border-bottom-width: 0;
  border-color: white transparent transparent transparent;
}

@mixin left-chevron--dark() {
  @include chevron-border();
  left: -11px;
  border-left-width: 0;
  border-color: transparent color(hig-cool-gray-20) transparent transparent;
}

@mixin left-chevron--light() {
  @include chevron-bg();
  left: -9px;
  border-left-width: 0;
  border-color: transparent white transparent transparent;
}



.hig__flyout {
  position: relative;
  display: inline-block;
}

.hig__flyout--entering> {
  .hig__flyout__container {
    &--anchor-bottom-center,
    &--anchor-bottom-left,
    &--anchor-bottom-right {
      animation-name: show-flyout-anchor-bottom;
      animation-duration: .3s;
    }
    &--anchor-right-center,
    &--anchor-right-top,
    &--anchor-right-bottom {
      animation-name: show-flyout-anchor-right;
      animation-duration: .3s;
    }
    &--anchor-left-center,
    &--anchor-left-top,
    &--anchor-left-bottom {
      animation-name: show-flyout-anchor-left;
      animation-duration: .3s;
    }
    &--anchor-top-center,
    &--anchor-top-left,
    &--anchor-top-right {
      animation-name: show-flyout-anchor-top;
      animation-duration: .3s;
    }
  }
}

.hig__flyout--exiting {
  .hig__flyout__container {
    &--anchor-bottom-center,
    &--anchor-bottom-left,
    &--anchor-bottom-right {
      animation-name: hide-flyout-anchor-bottom;
      animation-duration: .3s;
    }
    &--anchor-right-center,
    &--anchor-right-top,
    &--anchor-right-bottom {
      animation-name: hide-flyout-anchor-right;
      animation-duration: .3s;
    }
    &--anchor-left-center,
    &--anchor-left-top,
    &--anchor-left-bottom {
      animation-name: hide-flyout-anchor-left;
      animation-duration: .3s;
    }
    &--anchor-top-center,
    &--anchor-top-left,
    &--anchor-top-right {
      animation-name: hide-flyout-anchor-top;
      animation-duration: .3s;
    }
  }
}

.hig__flyout__container {
  position: absolute;
  display: none;
  z-index: $flyout-container-layer;
  .hig__flyout--entering>&,
  .hig__flyout--entered>& {
    display: block;
  }
  .hig__flyout--exiting>& {
    display: block;
  }
  .hig__flyout--exited>& {
    display: none;
  }
  &--anchor-top-left {
    left: 0;
    margin-left: 5px;
    margin-top: 3px;
  }
  &--anchor-top-center {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3px;
  }
  &--anchor-top-right {
    right: 0;
    margin-right: 5px;
    margin-top: 3px;
  }
  &--anchor-right-top {
    transform: translateX(-100%);
    left: -4px;
    top: -7px;
  }
  &--anchor-right-center {
    transform: translateX(-100%) translateY(-50%);
    top: 50%;
    left: -4px;
  }
  &--anchor-right-bottom {
    transform: translateX(-100%);
    left: -4px;
    bottom: -7px;
  }
  &--anchor-bottom-left {
    transform: translateY(-100%);
    left: 0;
    top: -4px;
    margin-left: 5px;
  }
  &--anchor-bottom-center {
    top: -4px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
  }
  &--anchor-bottom-right {
    top: -4px;
    right: 0;
    margin-right: 5px;
    transform: translateY(-100%);
  }
  &--anchor-left-top {
    left: 100%;
    top: -7px;
    margin-left: 4px;
  }
  &--anchor-left-center {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 4px;
  }
  &--anchor-left-bottom {
    left: 100%;
    bottom: -7px;
    margin-left: 4px;
  }
}

.hig__flyout__chevron {
  position: absolute;


  .hig__flyout__container--anchor-top-left & {

    .hig__flyout__chevron--dark {
      left: 14px;
      @include top-chevron--dark;
    }

    .hig__flyout__chevron--light {
      left: 15px;
      @include top-chevron--light;
    }
  }


  .hig__flyout__container--anchor-top-center & {
    left: 50%;
    .hig__flyout__chevron--dark {
      left: 50%;
      @include top-chevron--dark;
      transform: translateX(-50%);
    }

    .hig__flyout__chevron--light {
      left: 50%;
      @include top-chevron--light;
      transform: translateX(-50%);
    }
  }


  .hig__flyout__container--anchor-top-right & {
     right: 0;

    .hig__flyout__chevron--dark {
      right: 14px;
      @include top-chevron--dark;
    }

    .hig__flyout__chevron--light {
      right: 15px;
      @include top-chevron--light;
    }
  }

  .hig__flyout__container--anchor-right-top & {
    right: 0;

    .hig__flyout__chevron--dark {
      @include right-chevron--dark;
      top: 14px;
    }
    .hig__flyout__chevron--light {
      @include right-chevron--light;
      top: 15px;
    }
  }
  .hig__flyout__container--anchor-right-center & {
    top: 50%;
    right: 0px;

    .hig__flyout__chevron--dark {
      @include right-chevron--dark;
      transform: translateY(-50%);
    }

    .hig__flyout__chevron--light {
      @include right-chevron--light;
      transform: translateY(-50%);
    }

  }
  .hig__flyout__container--anchor-right-bottom & {
    right: 0px;
    bottom: 0px;
    .hig__flyout__chevron--dark {
      @include right-chevron--dark;
      bottom: 14px;
    }

    .hig__flyout__chevron--light {
      @include right-chevron--light;
      bottom: 15px;
    }
  }

  .hig__flyout__container--anchor-bottom-left & {
    bottom: 0px;

    .hig__flyout__chevron--dark {
      @include bottom-chevron--dark;
      left: 14px;
    }

    .hig__flyout__chevron--light {
      @include bottom-chevron--light;
      left: 15px;
    }
  }
  .hig__flyout__container--anchor-bottom-center & {
    left: 50%;
    bottom: 0px;

    .hig__flyout__chevron--dark {
      @include bottom-chevron--dark;
      transform: translateX(-50%);
    }

    .hig__flyout__chevron--light {
      @include bottom-chevron--light;
      transform: translateX(-50%);
    }
  }
  .hig__flyout__container--anchor-bottom-right & {
    right: 0px;
    bottom: 0px;

    .hig__flyout__chevron--dark {
      @include bottom-chevron--dark;
      right: 14px;
    }

    .hig__flyout__chevron--light {
      @include bottom-chevron--light;
      right: 15px;
    }
  }


  .hig__flyout__container--anchor-left-top & {
    .hig__flyout__chevron--dark {
      @include left-chevron--dark;
      top: 14px;
    }

    .hig__flyout__chevron--light {
      @include left-chevron--light;
      top: 15px;
    }
  }


  .hig__flyout__container--anchor-left-center & {
    top: 50%;

    .hig__flyout__chevron--dark {
      @include left-chevron--dark;
      transform: translateY(-50%);
    }

    .hig__flyout__chevron--light {
      @include left-chevron--light;
      transform: translateY(-50%);
    }
  }

  .hig__flyout__container--anchor-left-bottom & {
    bottom: 0px;

    .hig__flyout__chevron--dark {
      @include left-chevron--dark;
      bottom: 14px;
    }

    .hig__flyout__chevron--light {
      @include left-chevron--light;
      bottom: 15px;
    }
  }
}

.hig__flyout__panel {
  padding: 10px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  max-height: 360px;
  min-width: 200px;
  max-width: 400px;
  background-color: color(hig-white);
  border: 1px solid color(hig-cool-gray-20);
  border-radius: 4px;
  @include shadow("common");
}

@keyframes show-flyout-anchor-top {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    margin-top: 4px;
  }
  100% {
    margin-top: 3px;
  }
}

@keyframes hide-flyout-anchor-top {
  0% {
    margin-top: 4px;
    opacity: 1;
  }
  100% {
    margin-top: 0px;
    opacity: 0;
  }
}

@keyframes show-flyout-anchor-bottom {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    top: -5px;
  }
  100% {
    top: -4px;
  }
}

@keyframes hide-flyout-anchor-bottom {
  0% {
    top: -4px;
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 0px;
  }
}

@keyframes show-flyout-anchor-right {
  0% {
    left: 0;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    left: -7px;
  }
  100% {
    left: -4px;
  }
}

@keyframes hide-flyout-anchor-right {
  0% {
    left: -4px;
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 0px;
  }
}

@keyframes show-flyout-anchor-left {
  0% {
    left: 100%;
    margin-left: 0px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    margin-left: 7px;
  }
  100% {
    margin-left: 4px;
  }
}

@keyframes hide-flyout-anchor-left {
  0% {
    margin-left: 4px;
    opacity: 1;
  }
  100% {
    margin-left: 0px;
    opacity: 0
  }
}
