@import '~@hig/styles/mixins/colors.scss';
@import '~@hig/styles/mixins/typography.scss';

.hig__range {
  @include typography-base;

  position: relative;
  margin-bottom: 20px;
  width: 300px;
}

.hig__range__label {
  display: block;
  margin-bottom: 15px;

  color: color(hig-cool-gray-50);
  font-size: 12px;
  line-height: 14px;

  .hig__slider__input:focus + & {
    color: color(hig-blue-60);
  }

  .hig__range--required &::after {
      content: '*';
      display: inline-block;
      margin-left: 5px;
  }
}

.hig__range__required-notice {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #939ca5;

  &:before {
    content: "*";
    margin-right: 5px;
  }
}

.hig__range__field__range-values {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  &:after,
  &:before {
    position: absolute;
    bottom: 0;
    color: color(hig-cool-gray-50);
    font-size: 12px;

    .hig__range--disabled & {
      color: color(hig-cool-gray-20);
    }
  }

  &:before {
    content: attr(data-range-min);
  }

  &:after {
    right: 0;
    content: attr(data-range-max);
  }
}

.hig__range__field__current-value {
  color: color(hig-gray-70);
  position: absolute;
  margin: auto;
  top: 24px;
  text-align: left;

  .hig__range--disabled & {
    color: color(hig-cool-gray-20);
  }
}

.hig__range__instructions {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: color(hig-cool-gray-50);
}
