@import '~@hig/styles/mixins/colors.scss';
@import '~@hig/styles/mixins/typography.scss';

.hig__slider {
  @include typography-base;

  position: relative;
  margin-bottom: 20px;
  width: 300px;
}

.hig__slider__label {
  display: block;
  margin-bottom: 15px;

  color: color(hig-cool-gray-50);
  font-size: 12px;
  line-height: 14px;

  .hig__slider__input:focus + & {
    color: color(hig-blue-60);
  }

  .hig__slider--required &:after {
    content: '*';
    display: inline-block;
    margin-left: 5px;
  }
}

.hig__slider__required-notice {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: color(hig-cool-gray-40);

  &:before {
    content: "*";
    margin-right: 5px;
  }
}

.hig__slider__wrapper {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  &:after,
  &:before {
    position: absolute;
    bottom: 0;
    color: color(hig-cool-gray-50);
    font-size: 12px;

    .hig__slider--disabled & {
      color: color(hig-cool-gray-20);
    }
  }

  &:before {
    content: attr(data-range-min);
  }

  &:after {
    right: 0;
    content: attr(data-range-max);
  }
}

.hig__slider__current-value {
  color: color(hig-gray-70);
  position: absolute;
  margin: auto;
  top: 24px;
  text-align: left;

  .hig__slider--disabled & {
    color: color(hig-cool-gray-20);
  }
}

.hig__slider__instructions {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: color(hig-cool-gray-50);
}
