html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'ArtifaktElement';
}

.playground-content {
  background-color: #FFFFFF;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

section {
  margin-bottom: 16px;
}

.quick-links {
  position: absolute;
  opacity: 0.3;
  right: 0;
  bottom: 0;
  left: 0;
  height: 54px;
  z-index: 3;
  background-color: #024B6C;
}