.hig__toast {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;

  width: 340px;
  min-height: 53px;
  padding: 6px 6px 6px 28px;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .5); /* TODO: restore color map for hig-react */
  border-radius: 4px;
  border-left: 3px solid transparent;
}

.hig__toast--primary {
  border-color: #0696d7;
}

.hig__toast--success {
  border-color: #87bc40;
}

.hig__toast--danger {
  border-color: #ee4444;
}
.hig__toast--warning {
  border-color: #faa21b;
}

.hig__toast__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hig__toast__message {
  padding: 7px 0; /* Aligns first line of message to match the IconButton height */
}
