@import "~@hig/styles/mixins/colors.scss";

.hig__toast {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;

  width: 340px;
  min-height: 53px;
  padding: {
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 0px;
  }

  box-shadow: 0px 2px 4px 0px transparentize(color(hig-gray-70), .5);
  border-radius: 4px;
  border-left: 3px solid transparent;
}

.hig__toast--primary {
  border-color: color(hig-blue-50);
}

.hig__toast--success {
  border-color: color(hig-green-good);
}

.hig__toast--danger {
  border-color: color(hig-red-alert);
}

.hig__toast--warning {
  border-color: color(hig-yellow-warning);
}

.hig__toast__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hig__toast__message {
  padding: {
    top: 7px; /* Aligns first line of message to match the IconButton height */
    bottom: 7px;
    left: 12px;
  }

  .hig__rich-text {
    margin: unset; /* Hacky until we have a better CSS reset */
  }
}

.hig__toast__dismiss-container {
  align-self: flex-start;
  display: flex;
}
