@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/placeholder.scss';

.hig__text-field {
    position: relative;
    display: flex;
    font-family: 'ArtifaktElement', sans-serif;
    font-weight: 500;
    margin: 30px 0;
    max-width: 300px;
}

.hig__text-field__icon-spacer {
    flex: 0 0 24px;
    margin-right: 2px;
}

.hig__text-field__content {
    flex: 1 1 auto;
}

.hig__text-field__icon {
    display: none;
    position: absolute;
    left: -26px;
    bottom: 6px;

    &.hig__text-field__icon--visible {
        display: block;
    }

    .hig__text-field--disabled & {
        opacity: 0.3;
    }
}

.hig__text-field__label {
    display: none;
    position: relative;
    padding-bottom: 8px;

    color: color(hig-gray-30);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;

    transition-property: top, font-size, line-height;
    transition-duration: 0.1s, 0.1s, 0.1s;
    transition-delay: 0.1s;

    &.hig__text-field__label--visible {
        display: block;
    }

    .hig__text-field__input:focus + & {
        color: color(hig-blue-20);
    }

    .hig__text-field--required &::after {
        content: '*';
        display: inline-block;
        margin-left: 5px;
    }

    .hig__text-field__input--no-value + & {
        top: 22px;
        left: 1px;
        font-size: 14px;
    }

    .hig__text-field__input--no-value.hig__text-field__input:focus + & {
        top: 0;
        left: 0;
        font-size: 12px;
        transition-delay: 0s;
    }

    .hig__text-field__input[disabled] + & {
        color: color(hig-gray-50);
    }

}

.hig__text-field__input {
    display: block;
    height: 25px;
    padding-bottom: 13px;
    width: 100%;
    box-sizing: border-box;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid color(hig-gray-40);

    font-family: 'ArtifaktElement', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: color(hig-gray-10);

    @include placeholder {
        transition: color 0.2s;
        color: color(hig-gray-30);
        font-size: 14px;
    }

    &:hover {
        border: none;
        border-bottom: 1px solid color(hig-turquoise-30);
        box-shadow: 0 1px 0 color(hig-turquoise-30);
    }

    &.hig__text-field__input--no-value {
        @include placeholder {
            color: transparent;
        }
    }

    &:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid color(hig-blue-20);
        box-shadow: 0 1px 0 color(hig-blue-20);

        @include placeholder {
            color: color(hig-gray-30);
            transition-delay: 0.2s;
        }
    }

    &[disabled] {
        border-bottom-style: dashed;
        border-bottom-color: color(hig-gray-50);
        color: color(hig-gray-50);

        &:hover {
            box-shadow: none;
        }
    }

    &[type=password] {
        font-size: 24px;
        letter-spacing: 1px;
    }

    &[type=password].hig__text-field__input--no-value {
        font-size: 14px;
        letter-spacing: 0;
    }

}

.hig__text-field__instructions,
.hig__text-field__required-notice {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: color(hig-gray-30);
}

.hig__text-field__required-notice::before {
    content: '*';
    display: inline-block;
    margin-right: 5px;
}

.hig__text-field__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
}

.hig__text-field__extra {
    display: none;
    position: absolute;
    bottom: 3px;
    right: 0;
    border: none;
    background: none;

    &:focus {
        outline: none;
    }

    &.hig__text-field__extra--show {
        display: block;
    }

    .hig__text-field--disabled & {
        opacity: 0.3;
    }
}

.hig__text-field__extra--dropdown-caret {
    width: 26px;
    height: 17px;
    pointer-events: none;
}