@import "~@hig/styles/mixins/typography.scss";

.hig__project-account-switcher__target {
  @include typography-base;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hig__project-account-switcher__target__item {
  padding-left: 10px;
}

.hig__project-account-switcher__target__caret {
  margin: 0 12px;
}
