@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/placeholder.scss";
@import "~@hig/styles/mixins/typography.scss";
@import "../tokens.scss";

.hig__text-field-v1__input {
  @include typography-base;
  @include placeholder {
    transition: color 0.2s;
    color: color(hig-cool-gray-50);
  }

  display: block;
  padding: $label-to-input-spacing 0;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
    @include placeholder {
      color: color(hig-cool-gray-50);
      font-size: 14px;
      transition-delay: 0.2s;
    }
  }

  &[type=password] {
    font-size: 24px;
    letter-spacing: 1px;
  }

  &[type=password].hig__text-field-v1__input--no-value {
    font-size: 14px;
    letter-spacing: 0;
  }
}

.hig__text-field-v1__input--no-value {
  @include placeholder {
    color: transparent;
  }
}
