<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../../../lib/hig.css">
  <script type="text/javascript" src="../../../../lib/hig.js"></script>
</head>

<body>
  <style>
    body {
      margin: 20px;
      padding: 16px;
    }

    .test-group {
      margin-bottom: 60px;
    }

    .tests-table-defaults {
      margin-bottom: 40px;
    }

    .tests-table-setters {
      margin-bottom: 40px;
    }

    .tests-table-large {
      margin-bottom: 40px;
    }
  </style>

  <div class="tests-table-setters"></div>
  <div class="tests-table-defaults"></div>
  <div class="tests-table-large"></div>

  <script>
    // CREATE Table Using Setters
    var Table = new Hig.Table();
    Table.mount(".tests-table-setters");

    Table.setDensity("standard");

    var TableHead = new Table.partials.TableHead();
    Table.addTableHead(TableHead);

    var EmptyCell = new TableHead.partials.TextHeadCell();
    TableHead.addCell(EmptyCell);
    EmptyCell.setWidth("30px");

    var TitleHeadCell = new TableHead.partials.TextHeadCell();
    TableHead.addCell(TitleHeadCell);
    TitleHeadCell.setText('Title');
    TitleHeadCell.setAlignment("left");
    TitleHeadCell.setWidth('1fr');

    var TypeHeadCell = new TableHead.partials.TextHeadCell();
    TableHead.addCell(TypeHeadCell);
    TypeHeadCell.setText('Type');
    TypeHeadCell.setAlignment("left");
    TypeHeadCell.setWidth("1fr");

    var LocationHeadCell = new TableHead.partials.TextHeadCell();
    TableHead.addCell(LocationHeadCell);
    LocationHeadCell.setText('Location');
    LocationHeadCell.setAlignment("left");
    LocationHeadCell.setWidth("1fr")

    var BudgetHeadCell = new TableHead.partials.TextHeadCell();
    TableHead.addCell(BudgetHeadCell);
    BudgetHeadCell.setText('Budget');
    BudgetHeadCell.setAlignment("right");
    BudgetHeadCell.setWidth("50px");

    var nextHeadCell = new TableHead.partials.TextHeadCell();
    TableHead.addCell(nextHeadCell);
    nextHeadCell.setText('Name');
    nextHeadCell.setAlignment("left");
    nextHeadCell.setWidth("1fr");

    //Add Table Body

    var TableRow = new Table.partials.TableRow();
    Table.addTableRow(TableRow);

    var IconCell = new TableRow.partials.IconCell();
    TableRow.addCell(IconCell);
    IconCell.setIcon('settings');


    var TypeCell1 = new TableRow.partials.TextCell();
    TableRow.addCell(TypeCell1);
    TypeCell1.setText('Window Commissioning');
    TypeCell1.setAlignment("left");

    var TextCell = new TableRow.partials.TextCell();
    TableRow.addCell(TextCell);
    TextCell.setText('Lorem ipsum dolor sit amet, consectetur adipiscing elit');
    TextCell.setAlignment('left');
    TextCell.setDetail('new detail');


    var LocationCell = new TableRow.partials.TextCell();
    TableRow.addCell(LocationCell);
    LocationCell.setText('Floor 3, Room 21. Building 400. 2nd Street');
    LocationCell.setAlignment('left');

    var BudgetTextCell = new TableRow.partials.TextCell();
    TableRow.addCell(BudgetTextCell);
    BudgetTextCell.setText('2535');
    BudgetTextCell.setAlignment('right');


    var AssigneeTextCell = new TableRow.partials.TextCell();
    TableRow.addCell(AssigneeTextCell);
    AssigneeTextCell.setText('Atlas Plumbi');
    AssigneeTextCell.setAlignment('left');

    //Add a Second Row

    var TableRow1 = new Table.partials.TableRow();
    Table.addTableRow(TableRow1);

    var IconCell1 = new TableRow1.partials.IconCell();
    TableRow1.addCell(IconCell1);
    IconCell1.setIcon('hamburger');

    var TextCell1 = new TableRow1.partials.TextCell();
    TableRow1.addCell(TextCell1);
    TextCell1.setText('Pre-Pour Checklist');
    TextCell1.setAlignment('left');

    var TextCell11 = new TableRow1.partials.TextCell();
    TableRow1.addCell(TextCell11);
    TextCell11.setText('Proin ut arcu vitae urna congue pulvinar.');
    TextCell11.setAlignment('left');
    TextCell.setDetail('new detail');


    var LocationCell1 = new TableRow1.partials.TextCell();
    TableRow1.addCell(LocationCell1);
    LocationCell1.setText('Building 3, Room 3. Building 201. 3rd Street');
    LocationCell1.setAlignment('left');

    var BudgetTextCell1 = new TableRow1.partials.TextCell();
    TableRow1.addCell(BudgetTextCell1);
    BudgetTextCell1.setText('4500');
    BudgetTextCell1.setAlignment('right');


    var AssigneeTextCell2 = new TableRow1.partials.TextCell();
    TableRow1.addCell(AssigneeTextCell2);
    AssigneeTextCell2.setText('Abby Worgan');
    AssigneeTextCell2.setAlignment('left');


    //Add Row 3
    var TableRow2 = new Table.partials.TableRow();
    Table.addTableRow(TableRow2);

    var IconCell1 = new TableRow2.partials.IconCell();
    TableRow2.addCell(IconCell1);
    IconCell1.setIcon('photos');

    var TextCell2 = new TableRow2.partials.TextCell();
    TableRow2.addCell(TextCell2);
    TextCell2.setText('Void Slab - Face Up');
    TextCell2.setAlignment('left');

    var NextCell2 = new TableRow2.partials.TextCell();
    TableRow2.addCell(NextCell2);
    NextCell2.setText('Proin euismod malesuada mauris.');
    NextCell2.setAlignment('left');

    var LocationCell2 = new TableRow2.partials.TextCell();
    TableRow2.addCell(LocationCell2);
    LocationCell2.setText('Floor 4, Building 400. 1st Street');
    LocationCell2.setAlignment('left');

    var BudgetTextCell2 = new TableRow2.partials.TextCell();
    TableRow2.addCell(BudgetTextCell2);
    BudgetTextCell2.setText('3000');
    BudgetTextCell2.setAlignment('right');

    var AssigneeTextCell4 = new TableRow2.partials.TextCell();
    TableRow2.addCell(AssigneeTextCell4);
    AssigneeTextCell4.setText('Ben Ling');
    AssigneeTextCell4.setAlignment('left');

    //Add Row 4
    var TableRow3 = new Table.partials.TableRow();
    Table.addTableRow(TableRow3);

    var IconCell2 = new TableRow3.partials.IconCell();
    TableRow3.addCell(IconCell2);
    IconCell2.setIcon('quantities');

    var TextCell3 = new TableRow3.partials.TextCell();
    TableRow3.addCell(TextCell3);
    TextCell3.setText('Closure Cypsum Boards');
    TextCell3.setAlignment('left');

    var NextCell3 = new TableRow3.partials.TextCell();
    TableRow3.addCell(NextCell3);
    NextCell3.setText('Suspendisse faucibus congue odio, vitae tempus quam lobortis non');
    NextCell3.setAlignment('left');

    var LocationCell3 = new TableRow3.partials.TextCell();
    TableRow3.addCell(LocationCell3);
    LocationCell3.setText('Floor 12, Room 2. Building 100. B Street');
    LocationCell3.setAlignment('left');

    var BudgetTextCell3 = new TableRow3.partials.TextCell();
    TableRow3.addCell(BudgetTextCell3);
    BudgetTextCell3.setText('5500');
    BudgetTextCell3.setAlignment('right');

    var AssigneeTextCell6 = new TableRow3.partials.TextCell();
    TableRow3.addCell(AssigneeTextCell6);
    AssigneeTextCell6.setText('George Fitzmaur');
    AssigneeTextCell6.setAlignment('left');

    //Add Row 5
    var TableRow4 = new Table.partials.TableRow();
    Table.addTableRow(TableRow4);

    var IconCell2 = new TableRow4.partials.IconCell();
    TableRow4.addCell(IconCell2);
    IconCell2.setIcon('cost-control');

    var TextCell3 = new TableRow4.partials.TextCell();
    TableRow4.addCell(TextCell3);
    TextCell3.setText('Windows');
    TextCell3.setAlignment('left');

    var NextCell3 = new TableRow4.partials.TextCell();
    TableRow4.addCell(NextCell3);
    NextCell3.setText('Duis ac sem in massa scelerisque efficitur.');
    NextCell3.setAlignment('left');

    var LocationCell3 = new TableRow4.partials.TextCell();
    TableRow4.addCell(LocationCell3);
    LocationCell3.setText('Floor 11, Room A. Building 200. 16th Street');
    LocationCell3.setAlignment('left');

    var BudgetTextCell3 = new TableRow4.partials.TextCell();
    TableRow4.addCell(BudgetTextCell3);
    BudgetTextCell3.setText('3300');
    BudgetTextCell3.setAlignment('right');

    var AssigneeTextCell6 = new TableRow4.partials.TextCell();
    TableRow4.addCell(AssigneeTextCell6);
    AssigneeTextCell6.setText('Claire Louise');
    AssigneeTextCell6.setAlignment('left');

    //Adding a Table using defaults

    var DefaultTable = new Hig.Table();
    DefaultTable.mount(".tests-table-defaults");
    DefaultTable.setDensity("compressed");

    var TableHead = new DefaultTable.partials.TableHead();
    DefaultTable.addTableHead(TableHead);

    var TitleHeadCell1 = new TableHead.partials.TextHeadCell(
      { "width": "1fr", "alignment": "left", "text": "Title" }
    );
    TableHead.addCell(TitleHeadCell1);

    var TypeHeadCell1 = new TableHead.partials.TextHeadCell(
      { "width": "1fr", "alignment": "left", "text": "Type" }
    );
    TableHead.addCell(TypeHeadCell1);

    var LocationHeadCell1 = new TableHead.partials.TextHeadCell(
      { "width": "1fr", "alignment": "left", "text": "Location" });
    TableHead.addCell(LocationHeadCell1);

    var BudgetHeadCell1 = new TableHead.partials.TextHeadCell(
      { "width": "50px", "alignment": "right", "text": "Budget" }
    );
    TableHead.addCell(BudgetHeadCell1);

    var nameHeadCell = new TableHead.partials.TextHeadCell(
      { "width": "1fr", "alignment": "left", "text": "Name" }
    );
    TableHead.addCell(nameHeadCell);

    // Add row

    var TableRowDefault = new DefaultTable.partials.TableRow();
    DefaultTable.addTableRow(TableRowDefault);


    var TextCell = new TableRowDefault.partials.TextCell({
      "text": "Closure Gypsum Boards", "alignment": "left"
    });
    TableRowDefault.addCell(TextCell);

    var TypeCell = new TableRowDefault.partials.TextCell({
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit", "alignment": "left"
    });
    TableRowDefault.addCell(TypeCell);

    var LocationCell = new TableRowDefault.partials.TextCell({
      "text": "Floor 3, Room 21. Building 400. 2nd Street",
      "alignment": "left"
    });
    TableRowDefault.addCell(LocationCell);



    var BudgetTextCellDefault = new TableRowDefault.partials.TextCell({
      "text": "2535", "alignment": "right"
    });

    TableRowDefault.addCell(BudgetTextCellDefault);

    var NameCell = new TableRowDefault.partials.TextCell({
      "text": "Atlas Plumbi",
      "alignment": "left"
    });
    TableRowDefault.addCell(NameCell);

    //Add Row 2
    var TableRowDefault1 = new DefaultTable.partials.TableRow();
    DefaultTable.addTableRow(TableRowDefault1);


    var TextCell = new TableRowDefault1.partials.TextCell({
      "text": "Pre-Pour Checklist", "alignment": "left"
    });
    TableRowDefault1.addCell(TextCell);

    var TypeCell = new TableRowDefault1.partials.TextCell({
      "text": "Proin ut arcu vitae urna congue pulvinar.", "alignment": "left"
    });
    TableRowDefault1.addCell(TypeCell);

    var LocationCell1 = new TableRowDefault1.partials.TextCell({
      "text": "Building 3, Room 3. Building 201. 3rd Street",
      "alignment": "left"
    });
    TableRowDefault1.addCell(LocationCell1);


    var BudgetTextCellDefault = new TableRowDefault1.partials.TextCell({
      "text": "4500", "alignment": "right"
    });

    TableRowDefault1.addCell(BudgetTextCellDefault);

    var NameCell = new TableRowDefault1.partials.TextCell({
      "text": "Abby Worgan",
      "alignment": "left"
    });
    TableRowDefault1.addCell(NameCell);

    //Add Row 3

    var TableRowDefault2 = new DefaultTable.partials.TableRow();
    DefaultTable.addTableRow(TableRowDefault2);


    var TextCell = new TableRowDefault2.partials.TextCell({
      "text": "Void Slab - Face Up", "alignment": "left"
    });
    TableRowDefault2.addCell(TextCell);

    var TypeCell = new TableRowDefault2.partials.TextCell({
      "text": "Proin euismod malesuada mauris.", "alignment": "left"
    });
    TableRowDefault2.addCell(TypeCell);

    var LocationCell1 = new TableRowDefault2.partials.TextCell({
      "text": "Floor 4, Building 400. 1st Street",
      "alignment": "left"
    });
    TableRowDefault2.addCell(LocationCell1);


    var BudgetTextCellDefault = new TableRowDefault2.partials.TextCell({
      "text": "3000", "alignment": "right"
    });

    TableRowDefault2.addCell(BudgetTextCellDefault);

    var NameCell = new TableRowDefault2.partials.TextCell({
      "text": "Ben Ling",
      "alignment": "left"
    });
    TableRowDefault2.addCell(NameCell);

    // Add Row 4

    var TableRowDefault3 = new DefaultTable.partials.TableRow();
    DefaultTable.addTableRow(TableRowDefault3);


    var TextCell = new TableRowDefault3.partials.TextCell({
      "text": "Closure Cypsum Boards", "alignment": "left"
    });
    TableRowDefault3.addCell(TextCell);

    var TypeCell = new TableRowDefault3.partials.TextCell({
      "text": "Suspendisse faucibus congue odio, vitae tempus quam lobortis non", "alignment": "left"
    });
    TableRowDefault3.addCell(TypeCell);

    var LocationCell1 = new TableRowDefault3.partials.TextCell({
      "text": "Floor 12, Room 2. Building 100. B Street",
      "alignment": "left"
    });
    TableRowDefault3.addCell(LocationCell1);


    var BudgetTextCellDefault = new TableRowDefault3.partials.TextCell({
      "text": "5500", "alignment": "right"
    });

    TableRowDefault3.addCell(BudgetTextCellDefault);

    var NameCell = new TableRowDefault3.partials.TextCell({
      "text": "George Fitzmaur",
      "alignment": "left"
    });
    TableRowDefault3.addCell(NameCell);

    //Add Row 5
    var TableRowDefault4 = new DefaultTable.partials.TableRow();
    DefaultTable.addTableRow(TableRowDefault4);


    var TextCell = new TableRowDefault4.partials.TextCell({
      "text": "Windows", "alignment": "left"
    });
    TableRowDefault4.addCell(TextCell);

    var TypeCell = new TableRowDefault4.partials.TextCell({
      "text": "Duis ac sem in massa scelerisque efficitur.", "alignment": "left"
    });
    TableRowDefault4.addCell(TypeCell);

    var LocationCell1 = new TableRowDefault4.partials.TextCell({
      "text": "Floor 11, Room A. Building 200. 16th Street",
      "alignment": "left"
    });
    TableRowDefault4.addCell(LocationCell1);


    var BudgetTextCellDefault = new TableRowDefault4.partials.TextCell({
      "text": "3300", "alignment": "right"
    });

    TableRowDefault4.addCell(BudgetTextCellDefault);

    var NameCell = new TableRowDefault4.partials.TextCell({
      "text": "Claire Louise",
      "alignment": "left"
    });
    TableRowDefault4.addCell(NameCell);


    // Large table with defaults

    var DefaultTable1 = new Hig.Table();
    DefaultTable1.mount(".tests-table-large");
    DefaultTable1.setDensity("large");


    var TableHead = new DefaultTable1.partials.TableHead();
    DefaultTable1.addTableHead(TableHead);

    var EmptyCell1 = new TableHead.partials.TextHeadCell(
      { "width": "104px" });
    TableHead.addCell(EmptyCell1);


    var TitleHeadCell1 = new TableHead.partials.TextHeadCell(
      { "width": "1fr", "alignment": "left", "text": "Title" }
    );
    TableHead.addCell(TitleHeadCell1);


    var TypeHeadCell1 = new TableHead.partials.TextHeadCell(
      { "width": "1fr", "alignment": "left", "text": "Type" }
    );
    TableHead.addCell(TypeHeadCell1);

    var LocationHeadCell1 = new TableHead.partials.TextHeadCell(
      { "width": "1fr", "alignment": "left", "text": "Location" });
    TableHead.addCell(LocationHeadCell1);

    var BudgetHeadCell1 = new TableHead.partials.TextHeadCell(
      { "width": "50px", "alignment": "right", "text": "Budget" }
    );
    TableHead.addCell(BudgetHeadCell1);

    var newHeadCell1 = new TableHead.partials.TextHeadCell(
      { "width": "1fr", "alignment": "left", "text": "Name" }
    );

    TableHead.addCell(newHeadCell1);

    //Add Row

    var TableRowDefault2 = new DefaultTable1.partials.TableRow();
    DefaultTable1.addTableRow(TableRowDefault2);

    var SlotCell2 = new TableRowDefault2.partials.SlotCell();
    TableRowDefault2.addCell(SlotCell2);
    var NewSlotEl2 = document.createElement('div');
    NewSlotEl2.style.display = 'flex';
    NewSlotEl2.style.alignItems = 'center';
    NewSlotEl2.style.justifyContent = 'center';
    NewSlotEl2.innerHTML = '<img src="./images/table-image.png" style="width: 104px; height: 58px;">';
    SlotCell2.addSlot(NewSlotEl2);

    var TextCellDefault2 = new TableRowDefault2.partials.TextCell({
      "text": 'Window Commissioning', "alignment": "left", "detail": "text detail"
    });
    TableRowDefault2.addCell(TextCellDefault2);


    var NextCellDefault2 = new TableRowDefault2.partials.TextCell({
      "text": 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', alignment: "left"
    });
    TableRowDefault2.addCell(NextCellDefault2);


    var NextCellDefault5 = new TableRowDefault2.partials.TextCell({
      "text": 'Floor 3, Room 21. Building 400. 2nd Street', alignment: "left"
    });
    TableRowDefault2.addCell(NextCellDefault5);

    var BudgetTextCellDefault2 = new TableRowDefault2.partials.TextCell({
      "text": '2535', alignment: "right"
    });
    TableRowDefault2.addCell(BudgetTextCellDefault2);

    var AssigneeTextCellDefault2 = new TableRowDefault2.partials.TextCell({
      "text": 'Atlass Plumbi', alignment: "left"
    });
    TableRowDefault2.addCell(AssigneeTextCellDefault2);

    //Add Row 2

    var TableRowDefault3 = new DefaultTable1.partials.TableRow();
    DefaultTable1.addTableRow(TableRowDefault3);

    var SlotCell2 = new TableRowDefault3.partials.SlotCell();
    TableRowDefault3.addCell(SlotCell2);
    var NewSlotEl2 = document.createElement('div');
    NewSlotEl2.style.display = 'flex';
    NewSlotEl2.style.alignItems = 'center';
    NewSlotEl2.style.justifyContent = 'center';
    NewSlotEl2.innerHTML = '<img src="./images/file-name.png" style="width: 104px; height: 58px;">';
    SlotCell2.addSlot(NewSlotEl2);

    var TextCellDefault2 = new TableRowDefault3.partials.TextCell({
      "text": 'Pre-Pour Checklist', "alignment": "left", "detail": "text detail"
    });
    TableRowDefault3.addCell(TextCellDefault2);


    var NextCellDefault2 = new TableRowDefault3.partials.TextCell({
      "text": 'Proin ut arcu vitae urna congue pulvinar', alignment: "left"
    });
    TableRowDefault3.addCell(NextCellDefault2);


    var NextCellDefault5 = new TableRowDefault3.partials.TextCell({
      "text": 'Building 3, Room 3. Building 201. 3rd Street', alignment: "left"
    });
    TableRowDefault3.addCell(NextCellDefault5);

    var BudgetTextCellDefault2 = new TableRowDefault3.partials.TextCell({
      "text": '4500', alignment: "right"
    });
    TableRowDefault3.addCell(BudgetTextCellDefault2);

    var AssigneeTextCellDefault2 = new TableRowDefault3.partials.TextCell({
      "text": 'Abby Worgan', alignment: "left"
    });
    TableRowDefault3.addCell(AssigneeTextCellDefault2);

    //Add Row 3

    var TableRowDefault4 = new DefaultTable1.partials.TableRow();
    DefaultTable1.addTableRow(TableRowDefault4);

    var SlotCell2 = new TableRowDefault4.partials.SlotCell();
    TableRowDefault4.addCell(SlotCell2);
    var NewSlotEl2 = document.createElement('div');
    NewSlotEl2.style.display = 'flex';
    NewSlotEl2.style.alignItems = 'center';
    NewSlotEl2.style.justifyContent = 'center';
    NewSlotEl2.innerHTML = '<img src="./images/table-image.png" style="width: 104px; height: 58px;">';
    SlotCell2.addSlot(NewSlotEl2);

    var TextCellDefault2 = new TableRowDefault4.partials.TextCell({
      "text": 'Void Slab - Face Up', "alignment": "left", "detail": "text detail"
    });
    TableRowDefault4.addCell(TextCellDefault2);


    var NextCellDefault2 = new TableRowDefault4.partials.TextCell({
      "text": 'Proin euismod malesuada mauris', alignment: "left"
    });
    TableRowDefault4.addCell(NextCellDefault2);


    var NextCellDefault5 = new TableRowDefault4.partials.TextCell({
      "text": 'Floor 4, Building 400. 1st Street', alignment: "left"
    });
    TableRowDefault4.addCell(NextCellDefault5);

    var BudgetTextCellDefault2 = new TableRowDefault4.partials.TextCell({
      "text": '3000', alignment: "right"
    });
    TableRowDefault4.addCell(BudgetTextCellDefault2);

    var AssigneeTextCellDefault2 = new TableRowDefault4.partials.TextCell({
      "text": 'Ben Ling', alignment: "left"
    });
    TableRowDefault4.addCell(AssigneeTextCellDefault2);

    //Add Row 4

    var TableRowDefault5 = new DefaultTable1.partials.TableRow();
    DefaultTable1.addTableRow(TableRowDefault5);

    var SlotCell2 = new TableRowDefault5.partials.SlotCell();
    TableRowDefault5.addCell(SlotCell2);
    var NewSlotEl2 = document.createElement('div');
    NewSlotEl2.style.display = 'flex';
    NewSlotEl2.style.alignItems = 'center';
    NewSlotEl2.style.justifyContent = 'center';
    NewSlotEl2.innerHTML = '<img src="./images/file-name.png" style="width: 104px; height: 58px;">';
    SlotCell2.addSlot(NewSlotEl2);

    var TextCellDefault2 = new TableRowDefault5.partials.TextCell({
      "text": 'Closure Cypsum Boards', "alignment": "left", "detail": "text detail"
    });
    TableRowDefault5.addCell(TextCellDefault2);


    var NextCellDefault2 = new TableRowDefault5.partials.TextCell({
      "text": 'Suspendisse faucibus congue odio, vitae tempus quam lobortis non', alignment: "left"
    });
    TableRowDefault5.addCell(NextCellDefault2);


    var NextCellDefault5 = new TableRowDefault5.partials.TextCell({
      "text": 'Floor 12, Room 2. Building 100. B Street', alignment: "left"
    });
    TableRowDefault5.addCell(NextCellDefault5);

    var BudgetTextCellDefault2 = new TableRowDefault5.partials.TextCell({
      "text": '5500', alignment: "right"
    });
    TableRowDefault5.addCell(BudgetTextCellDefault2);

    var AssigneeTextCellDefault2 = new TableRowDefault5.partials.TextCell({
      "text": 'George Fitzmaur', alignment: "left"
    });
    TableRowDefault5.addCell(AssigneeTextCellDefault2);

    //Add Row 5
    var TableRowDefault6 = new DefaultTable1.partials.TableRow();
    DefaultTable1.addTableRow(TableRowDefault6);

    var SlotCell2 = new TableRowDefault6.partials.SlotCell();
    TableRowDefault6.addCell(SlotCell2);
    var NewSlotEl2 = document.createElement('div');
    NewSlotEl2.style.display = 'flex';
    NewSlotEl2.style.alignItems = 'center';
    NewSlotEl2.style.justifyContent = 'center';
    NewSlotEl2.innerHTML = '<img src="./images/table-image.png" style="width: 104px; height: 58px;">';
    SlotCell2.addSlot(NewSlotEl2);

    var TextCellDefault2 = new TableRowDefault6.partials.TextCell({
      "text": 'Windows', "alignment": "left", "detail": "text detail"
    });
    TableRowDefault6.addCell(TextCellDefault2);


    var NextCellDefault2 = new TableRowDefault6.partials.TextCell({
      "text": 'Duis ac sem in massa scelerisque efficitur.', alignment: "left"
    });
    TableRowDefault6.addCell(NextCellDefault2);


    var NextCellDefault5 = new TableRowDefault6.partials.TextCell({
      "text": 'Floor 11, Room A. Building 200. 16th Street', alignment: "left"
    });
    TableRowDefault6.addCell(NextCellDefault5);

    var BudgetTextCellDefault2 = new TableRowDefault6.partials.TextCell({
      "text": '3300', alignment: "right"
    });
    TableRowDefault6.addCell(BudgetTextCellDefault2);

    var AssigneeTextCellDefault2 = new TableRowDefault6.partials.TextCell({
      "text": 'Claire Louise', alignment: "left"
    });
    TableRowDefault6.addCell(AssigneeTextCellDefault2);
  </script>
</body>

</html>