@import '~basics/fonts/fonts.scss';
@import '~basics/colors/colors.scss';

.hig__typo{

    font-family: 'ArtifaktElement', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: color('hig-gray-10');

    // BOLD
    &__bold{
        font-weight: 700;
    }
}