@import "./colors.scss";
@import "./typography.scss";

@mixin default-link {
  text-decoration: none;
  cursor: pointer;
}

@mixin base-link {
  @include typography-base;
  @include default-link;
}

@mixin primary-link {
  color: color(hig-blue-50);

  &:hover {
    color: color(hig-blue-60);
  }

  &:active,
  &:focus {
    outline: none;
    color: color(hig-blue-70);
  }
}
