// TODO: Move values to tokens

@import "../tokens/colors.scss";

// Typography Base
// Give an element standard typographic properties
// Usage Example:
// .selector {
//   @include typography-base;
// }

@mixin typography-base() {
  @include typography-medium;
  font-family: 'ArtifaktElement', sans-serif;
  color: $typography-base-color;
  margin: 0; // Attempt to do antialiasing at pixel level instead of subpixel
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin typography-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@mixin typography-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin typography-small {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

@mixin typography-h1 {
  @include typography-base;
  display: block;
  font-size: 30px;
  line-height: 36px;
  color: $typography-base-color;
}

@mixin typography-h2 {
  @include typography-base;
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: $typography-base-color;
}

@mixin typography-h3 {
  @include typography-base;
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: $typography-base-color;
}

@mixin typography-h4 {
  @include typography-base;
  display: block;
  font-weight: 700;
  color: transparentize($typography-base-color, .5);
}

@mixin typography-h5 {
  @include typography-base;
  @include typography-small;
  display: block;
  font-weight: 700;
  color: transparentize($typography-base-color, .5);
}
