$option-height: 36px;

$menu-max-height: $option-height * 10;
$menu-top-offset: 43px; // Height from the top of the TextField wrapper to the input bottom border. @TODO: can be calculated dynamically?
