@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/typography.scss';

.hig__rich-text a,
.hig__text-link {
  @include typography-base;
  text-decoration: none;
  cursor: pointer;
}

.hig__rich-text--small a {
  @include typography-small;
}

.hig__rich-text a,
.hig__text-link--primary {
  color: color(hig-blue-50);
  &:hover {
    color: color(hig-blue-60);
  }
  &:active,
  &:focus {
    outline: none;
    color: color(hig-blue-70);
  }
}

.hig__text-link--secondary {
  color: transparentize($typography-base-color, .5);

  &:hover {
    color: color(hig-blue-50);
  }
  &:active,
  &:focus {
    outline: none;
    color: color(hig-blue-70);
  }
}
