@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/spacing.scss';
.hig__global-nav__side-nav__section__group__module__submodule {
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  user-select: none;
  &:first-child {
    margin-top: spacing(xs);
  }
  &:last-child {
    margin-bottom: spacing(m);
  }
  &:hover,
  &--active,
  &--active:focus {
    color: color(hig-blue-50);
  }
  &:focus,
  &:active {
    outline: none;
    color: color(hig-blue-50);
  }
  &--hide {
    display: none;
  }
}

// Light theme
.hig__global-nav__side-nav__section__group__module__submodule {
  color: color(hig-cool-gray-50);
  &:hover,
  &--active,
  &--active:focus {
    color: color(hig-blue-50);
  }
  &:focus,
  &:active {
    color: color(hig-blue-50);
  }
}

// Dark blue theme
.hig--dark-blue-theme {
  &.hig__global-nav__side-nav__section__group__module__submodule {
    color: transparentize($color: color(hig-white), $amount: 0.25);
    &:hover,
    &--active,
    &--active:focus {
      color: color(hig-blue-40);
    }
    &:focus,
    &:active {
      color: color(hig-blue-30);
    }
  }
}