@import '~basics/colors/colors.scss';
@import '~basics/responsive/responsive.scss';
@import '~basics/fonts/fonts.scss';

$close-button-layer: 3;
$shadow-mask-layer: 3;
$header-layer: 2;
$actions-layer: 2;
$body-layer: 1;
$shadow-layer: -1;

.hig__modal {
  color: #2A3B4D;
  display: none;

  &.hig__modal--open {
    display: block;
  }
}

.hig__modal__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hig__modal__window {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 128px;
  max-width: calc(100vw - 32px);
  width: 600px;
  left: 50%;
  transform: translateX(-50%);
  max-height: calc(100vh - 256px);
  overflow: hidden;

  border: 3px solid color(hig-blue-20);
  background: color(hig-white);
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(190, 200, 210, 0.4);

  @include phone-breakpoint {
    width: 500px;
  }
}

.hig__modal__close-button {
  position: absolute;
  top: 16px;
  right: 0;
  z-index: $close-button-layer;
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  .hig__modal__window--scrolling & {
    right: 32px;
  }

  .hig__modal__window--alternate & {
    top: 16px;
    right: 16px;
  }
}

.hig__modal__header {
  position: relative;
  margin: 0 32px;
  padding: 16px 0;
  font-size: 24px;
  font-family: 'ArtifaktElement';
  z-index: $header-layer;
  border-bottom: 1px solid color(hig-gray-50);
  min-height: 33px;

  .hig__modal__window--scrolling & {
    margin: 0;
    padding: 16px 32px;
  }

  .hig__modal__window--alternate & {
    background-color: color(hig-blue-70);
    margin: 0;
    padding: 16px 32px;
  }
}

.hig__modal__body {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
  z-index: $body-layer;
}

.hig__modal__slot {
  padding: 0 32px;
  overflow: auto;
  flex: 1 1 auto;
  border: none;

  &::before {
    content: '';
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 16px;
    display: block;
    z-index: $shadow-mask-layer;
    margin: 0 -16px;
  }

  &::after {
    content: '';
    position: relative;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 16px;
    display: block;
    z-index: $shadow-mask-layer;
    margin: 0 -16px;
  }
}

.hig__modal__actions {
  display: flex;
  justify-content: flex-end;
  margin: 0 32px;
  padding: 16px 0;
  z-index: $actions-layer;
  flex: 0 0 auto;
  min-height: 33px;
  border-top: 1px solid color(hig-gray-50);

  .hig__modal__window--scrolling & {
    margin: 0;
    padding: 16px 32px;
  }

  .hig__modal__window--alternate & {
    border: none;
    margin: 0;
    padding: 16px 32px;
  }
}
