<div class="hig__modal">
  <div class="hig__modal__overlay">
    <article class="hig__modal__window{{#style}} hig__modal__window--{{style}}{{/style}}">
      <header class="hig__modal__header">
        <button class="hig__modal__close-button">{{#renderIcon}}x-close-gray{{/renderIcon}}</button>
        <span class="hig__modal__header-title">{{title}}</span>
      </header>
      <div class="hig__modal__body">
        <div class="hig__modal__slot">{{body}}</div>
      </div>
      <div class="hig__modal__actions"><!--ACTIONS--></div>
    </article>
  </div>
</div>
