@import '~@hig/styles/mixins/colors.scss';
@import '~@hig/styles/mixins/base.scss';
@import '~@hig/styles/mixins/spacing.scss';
.hig__notification {
  position: relative;
  border-bottom: 1px solid color(hig-cool-gray-20);
  padding: spacing(s) spacing(l);

  &:last-child {
    border-bottom: none;
  }

  .hig__icon-button {
    display: none;
  }
}

@keyframes notification-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hig__notification--exiting {
  animation-name: notification-fade-out;
  animation-duration: .5s;
}

.hig__notification--exited {
  display: none;
}

.hig__notification--featured {
  background-color: color(hig-turquoise-20);

  &:hover {
    .hig__icon-button { display: block; }
  }

  .hig__icon-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    display: none;
  }
}

.hig__notification__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: spacing(s) spacing(l) spacing(m);
  border-bottom: 1px solid color(hig-cool-gray-20);
}

.hig__notification__unread-marker {
  opacity: 0;
  position: absolute;
  background-color: color(hig-blue-50);
  border-radius: 100%;
  width: 8px;
  height: 8px;
  top: 15px;
  left: spacing(xs);
  transition: opacity .2s linear;

  .hig__notification--unread > & {
    opacity: 1;
  }
}

.hig__notification--unread {

  &:hover{
    background-color: transparentize($color: color(hig-blue-10), $amount: 0.5)
  }

}
