@import '~basics/fonts/fonts.scss';
@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__range {
  position: relative;
  margin-bottom: 20px;
  width: 300px;

  font-family: 'ArtifaktElement', sans-serif;
}

.hig__range__field {
  -webkit-appearance: none;
  width: 100%; /* Specific width is required for Firefox. */
  background-color: transparent; /* Otherwise white in Chrome */
  box-sizing: content-box;
  height: 60px;
  margin: 0;
  position: relative;

  @each $vendor in ('-webkit-slider-thumb', '-moz-range-thumb', '-ms-thumb') {

    &:hover::#{$vendor} {
      background-color: color(hig-turquoise-30);
    }

    &:focus::#{$vendor} {
      background-color: color(hig-blue-30);
    }

    &:active::#{$vendor} {
      background-color: color(hig-blue-20);
    }

    &[disabled]::#{$vendor} {
      background-color: color(hig-white);
      border: 2px dotted color(hig-gray-50);
      outline: 2px solid color(hig-white);
    }
  }

  @each $vendor in ('-webkit-slider-thumb', '-moz-range-thumb') {
    &::#{$vendor} {
      box-sizing: content-box;
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
      background: color(hig-gray-50);
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border: 2px solid color(hig-white);
    }
  }

  &::-ms-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: color(hig-gray-50);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 2px solid color(hig-white);
  }

  &::-ms-fill-upper, &::-ms-fill-lower {
    border: none;
    background-color: color(hig-gray-50);
  }

  &::-ms-tooltip {
    display: none;
  }

  @each $vendor in ('-webkit-slider-runnable-track', '-moz-range-track', '-ms-track') {
    &::#{$vendor} {
      width: 100%;
      height: 2px;
      border: none;
      background: color(hig-gray-50);
      cursor: pointer;
      color: transparent;
    }

    &[disabled]::#{$vendor} {
      background-color: color(hig-gray-60);
    }
  }

  &:focus {
    outline: none;
  }
}

.hig__range__label {
  display: block;
  margin-bottom: 15px;

  color: color(hig-gray-30);
  font-size: 12px;
  line-height: 14px;

  .hig__range__field:focus + & {
    color: color(hig-blue-20);
  }

  .hig__range--required &::after {
      content: '*';
      display: inline-block;
      margin-left: 5px;
  }
}

.hig__range__required-notice {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #939ca5;

  &:before {
    content: "*";
    margin-right: 5px;
  }
}

.hig__range__field__range-values {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  &:after,
  &:before {
    position: absolute;
    bottom: 0;
    color: color(hig-gray-30);
    font-size: 12px;

    .hig__range--disabled & {
      color: color(hig-gray-50);
    }
  }

  &:before {
    content: attr(data-range-min);
  }

  &:after {
    right: 0;
    content: attr(data-range-max);
  }
}

.hig__range__field__current-value {
  color: color(hig-gray-10);
  position: absolute;
  margin: auto;
  top: 24px;
  text-align: left;

  .hig__range--disabled & {
    color: color(hig-gray-50);
  }
}

.hig__range__instructions {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: color(hig-gray-30);
}
