@import '~basics/colors/colors.scss';

.hig__form-elements__checkbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  &--required {
    .hig__form-elements__checkbox__label::after {
        content: '*';
      }
  }

  .hig__form-elements__checkbox__input {
    visibility: hidden;
    color: transparent;

    &::before {
      visibility: visible;
      content: '\2714';
      color: transparent;
      border: 1px solid color(hig-gray-10);
      border-radius: 3px;
      padding: 2px;
    }
  }


  &--checked .hig__form-elements__checkbox__input::before {
    border-color: color(adsk-blue-dark);
    color: color(adsk-blue-dark);
  }

  &:hover .hig__form-elements__checkbox__input::before {
    border-color: color(adsk-blue-light);
    color: color(adsk-blue-light);
  }

  &--disabled .hig__form-elements__checkbox__input::before {
    color: transparent;
    border-color: color(hig-gray-30);
    border-style: dotted;
  }

}

.hig__form-elements__checkbox__label {
  font-family: 'ArtifaktElement', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  line-height: 14px;
}
