@import '~basics/colors/colors.scss';

.hig__input-button--checkbox {
  .hig__input-button__input-wrapper {
    visibility: visible;
    color: transparent;
    border: 2px solid color(hig-gray-40);
    border-radius: 3px;
    background-color: color(hig-white);
    height: 14px;
    width: 14px;
  }

  .hig__input-button__input:checked + .hig__input-button__input-wrapper {
    border-color: color(hig-slate-light);
    color: color(hig-white);
    background-color: color(hig-slate-light);
  }
}

// required for specificity
.hig__input-button.hig__input-button--checkbox:focus  .hig__input-button__input-wrapper,
.hig__input-button.hig__input-button--checkbox:active  .hig__input-button__input-wrapper {
  outline: none;
  border-color: color(adsk-blue-dark);
}

