.hig__toast-list {
  @import "../../tokens.scss";

  display: flex;
  min-width: $container-width;
  .hig__toast {
    margin-bottom: 10px;
  }
}

.hig__toast-list--placement-top {
  flex-direction: column-reverse;
}

.hig__toast-list--placement-bottom {
  flex-direction: column;
}
