.hig__global-nav__avatar {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}
.hig__global-nav__avatar__image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}