@import '../../../basics/colors/colors.scss';

.hig__global-nav__sidenav{
    position: relative;
    background: $background-1;
    border-right: 1px solid $base-4;
    box-shadow: inset -2px 0 7px -2px $box-shadow-2;
    width: 280px - (2*16px);
    padding: 16px;

    display: none; // Hide by default

    &--open{
        display: block;
    }

    &__copywright{
        position: absolute;
        bottom: 40px;
        font-size: 12px;
        color: $base-5;
    }
}