@import '~basics/colors/colors.scss';

$hig__global-nav__sidenav--width: 280px;

.hig__global-nav__sidenav{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $background-1;
    border-right: 1px solid $base-4;
    box-shadow: inset -2px 0 7px -2px $box-shadow-2;

    box-sizing: border-box;
    width: $hig__global-nav__sidenav--width;
    padding: 16px;

    display: none; // Hide by default

    &__copywright{
        position: absolute;
        bottom: 40px;
        font-size: 12px;
        color: $base-5;
    }
}
    .hig__global-nav--open .hig__global-nav__sidenav{
        display: block;
    }