@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__global-nav__help__group {
  border-bottom: 1px solid color(hig-cool-gray-20);
  margin: 0 6px 10px 6px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;


  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}
