@import '../../basics/colors/colors.scss';

.hig__flyout {
    position: relative;
    display: inline-block;
}

.hig__flyout__container {
    position: absolute;
    display: none;
    right: 0;
    margin-top: 6px;
    margin-right: 5px;

    .hig__flyout--open > & {
        display: block;
    }
}

.hig__flyout__chevron {
    &::after {
        content: '';
        position: absolute;
        top: -9px;
        right: 15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent white transparent;
    }

    &::before {
        content: '';
        position: absolute;
        top: -11px;
        right: 14px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        border-color: transparent transparent $hig-gray-4 transparent;
    }
}

.hig__flyout__panel {
    padding: 10px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    box-sizing: border-box;
    max-height: 360px;
    width: 270px;

    background-color: $hig-white;
    border: 1px solid $hig-gray-4;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}