@import '~helpers/css/mixins/spacing.scss';
@import '~basics/colors/colors.scss';
@import '../side-nav.scss';

.hig__global-nav__side-nav__section {
  position: relative;
  margin-bottom: 60px;

  &__header {
    font-size: 12px;
    padding: 0 $hig__global-nav__sidenav--r-side-padding 0 $hig__global-nav__sidenav--l-side-padding;
    margin-bottom: spacing(s);

    &__label {
      display: block;
      color: color(hig-gray-20);
      font-size: 12px;
    }

    &__name {
      display: block;
      color: color(hig-gray-10);
      font-size: 16px;
    }
  }

  &--hide {
    display: none;
  }
}