@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";

@mixin group-separator {
  &:after {
    position: absolute;
    top: auto;
    bottom: 0;
    height: 1px;
    display: block;
    content: '';
    left: spacing(xs);
    right: spacing(xs);
    border-top: 1px solid color(hig-cool-gray-20);

    @include tablet-breakpoint {
      left: spacing(m);
      right: spacing(s);
    }
  }
}
