@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/spacing.scss';
@import '../side-nav.scss';
.hig__global-nav__sidenav__links {
  font-size: 14px;
  line-height: 26px;
  margin: spacing(m) 0;
}

.hig__global-nav__sidenav__links__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: color(hig-cool-gray-50);
  padding: 0 spacing(m);
  &:hover {
    color: color(hig-blue-50);
  }
}

// Light theme
.hig__global-nav__sidenav__links__link {
  color: color(hig-cool-gray-50);
  svg * { stroke: color(hig-cool-gray-50); }

  &:hover {
    color: color(hig-blue-50);

    svg * {
      stroke: color(hig-blue-50);
    }
  }
}

// Dark blue theme
.hig--dark-blue-theme {
  &.hig__global-nav__sidenav__links__link {
    color: color(hig-white);
    svg * { stroke: color(hig-white); }

    &:hover {
      color: color(hig-blue-40);

      svg * {
      stroke: color(hig-blue-40);
    }
    }
  }
}
