@import '~@hig/styles/build/fonts.css';
@import '~@hig/styles/mixins/base.scss';
@import '~@hig/styles/mixins/placeholder.scss';
@import '~@hig/styles/mixins/typography.scss';

.hig__text-area {
  position: relative;
  font-family: 'ArtifaktElement', sans-serif;
  margin-bottom: 20px;
  margin-top: 22px;

  *::selection {
    background-color: color(hig-turquoise-30);
  }
}

.hig__text-area--required {
  .hig__text-area__required-notice {
    display: block;
  }
}

.hig__text-area__instructions.hig__text-area__instructions--visible {
  display: block;
}

.hig__text-area__label {
  @include typography-small;
  color: transparentize($typography-base-color, .5);

  position: absolute;
  padding-bottom: 8px;

  transition-property: top, left, font-size, line-height;
  transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
  transition-delay: 0.1s, 0.1s, 0.1s, 0.1s;

  &.hig__text-area__label--visible {
    display: inherit;
  }

  .hig__text-area__field:focus + & {
    color: color(hig-blue-60);
  }

  .hig__text-area--required &::after {
    content: '*';
    display: inline-block;
    margin-left: 5px;
  }

  .hig__text-area__field.hig__text-area__field--no-value + & {
    @include typography-medium;
    top: 12px;
    left: 10px;
  }

  .hig__text-area__field--has-value + &,
  .hig__text-area__field--no-value.hig__text-area__field:focus + & {
    @include typography-small;
    top: -22px;
    left: 0px;
    transition-delay: 0s;
  }

  .hig__text-area__field[disabled] + & {
    color: color(hig-cool-gray-20);
  }
}

.hig__text-area__field {
  min-width: 280px;
  min-height: 100px;
  padding: 8px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid color(hig-cool-gray-30);
  resize: none;

  font-size: 14px;
  line-height: 20px;
  color: color(hig-gray-70);
  font-family: 'ArtifaktElement', sans-serif;

  @include placeholder {
    transition: color 0.2s;
    font-size: 14px;
    line-height: 20px;
    color: color(hig-cool-gray-50);
  }

  &:hover {
    border: 1px solid color(hig-turquoise-50);
    box-shadow: 0 0 0 1px color(hig-turquoise-50);
  }

  &.hig__text-area__field--no-value {
    @include placeholder {
      color: transparent;
    }
  }

  &:focus {
    outline: none;
    border: 1px solid color(hig-blue-60);
    box-shadow: 0 0 0 1px color(hig-blue-60);
    @include placeholder {
      color: color(hig-cool-gray-50);
      transition-delay: 0.2s;
    }
  }

  &:disabled {
    border-style: dashed;
    &:hover {
      border-color: color(hig-cool-gray-30);
      box-shadow: none;
    }
  }
}

.hig__text-area__instructions,
.hig__text-area__required-notice {
  display: none;
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: color(hig-cool-gray-50);
}

.hig__text-area__required-notice {
  &::before {
    margin-right: 3px;
    content: '*';
  }
}