$dropdown-layer: 10000;
$flyout-container-layer: 10000;

$top-nav-layer: 9999;

$modal-close-button-layer: 1003;
$modal-shadow-mask-layer: 1003;
$modal-header-layer: 1002;
$modal-actions-layer: 1002;
$modal-body-layer: 1001;
$modal-shadow-layer: -1;


$sub-nav-tabs-layer: 2;

$checkbox-layer: 1;
