$modal-layer: 10001;
  $modal-close-button-layer: 1003;
  $modal-shadow-mask-layer: 1003;
  $modal-header-layer: 1002;
  $modal-actions-layer: 1002;
  $modal-body-layer: 1001;
  $modal-shadow-layer: -1;

$flyout-container-layer: 9999;

$top-nav-layer: 9998;
$sub-nav-layer: 9997;
  $sub-nav-tabs-layer: 2;

$dropdown-layer: 9996;
$checkbox-layer: 1;
