.hig__flyout-v1__panel {
  @import "../tokens.scss";

  min-width: 200px;
  max-width: 400px;
  max-height: 360px;
  padding: $panel-padding;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
