@import '~basics/colors/colors.scss';

.hig__form-elements__input-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  &--required {
    .hig__form-elements__input-button__label::after {
      content: '*';
    }
  }

  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;  }
}

.hig__form-elements__input-button__label {
  font-size: 12px;
  font-weight: bold;
  font-family: 'ArtifaktElement', sans-serif;
  font-style: italic;
  margin-bottom: 8px;
  line-height: 14px;
}

.hig__form-elements__input-button__input-wrapper {
  visibility: visible;
  color: transparent;
  border: 1px solid color(hig-gray-40);
  background-color: color(hig-white);
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 14px;
  height: 14px;
  width: 14px;


  .hig__form-elements__input-button:hover & {
    border-color: color(adsk-turquoise);
  }
  .hig__form-elements__input-button--disabled & {
    color: transparent;
    border-color: color(hig-gray-30);
    border-style: dotted;
  }

}
.hig__form-elements__input-button__input:checked + .hig__form-elements__input-button__input-wrapper {
  border-color: color(hig-slate-light);
  color: color(hig-slate-light);
  background-color: color(hig-white);
}
