.hig__text-head-cell {
  font-weight: 700;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


  padding: 20px 48px 20px 0px; 

  &:last-child{
    padding-right: 0px;
  }

  .hig__table--standard & {
    &:first-child {
       padding: 20px 12px 20px 12px; 
    }
  }

  .hig__table--compressed & {
    &:first-child {
      padding: 20px 48px 20px 8px; 
    }
  }
  
}
