.hig__text-head-cell {
  font-weight: 700;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


  padding: 12px 48px 12px 0px; 
  height: 24px;

  &:last-child{
    padding-right: 0px;
  }

  &:first-child {
    .hig__table--standard & {
      padding: 12px 4px 12px 4px; 
    }

    .hig__table--compressed & {
      padding: 12px 48px 12px 8px; 
    }

    .hig__table--large & {
       padding: 12px 48px 12px 12px; 
    }
  }
}
