@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/spacing.scss';
@import '../side-nav.scss';

.hig__global-nav__sidenav__links {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: spacing(xl)
}

.hig__global-nav__sidenav__links__link {
  display: block;
  text-decoration: none;
  color: color(hig-gray-30);
  padding-left: $hig__global-nav__sidenav--l-side-padding;

  &:hover {
    color: color(hig-blue-30);
  }
}
