@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/breakpoints.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/shadows.scss";
@import "../tokens.scss";

@function side-nav-transition($attribute) {
  @return '#{$attribute} 150ms cubic-bezier(0.000, 0.775, 0.775, 0.680)'; // CSS animation tool: https://matthewlein.com/tools/ceaser
}

.hig__side-nav-container--docked {
  @include reset;
  @include vendor-prefix('transition', side-nav-transition('left'));

  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: $side-nav-max-width;
  z-index: 2;

  overflow-x: hidden;
  @include shadow("inner-right");
}

.hig--light-theme {
  &.hig__side-nav-container--docked {
    background: color(hig-white);
  }
}

.hig--dark-blue-theme {
  &.hig__side-nav-container--docked {
    background-color: color(hig-cool-gray-60);
  }
}
