// Spacing Function
// Used to get a spacing value, for example:
// div {
//   margin-bottom: spacing(xl);
// }
@function spacing($size-name) {
  @return map-get($sizes, $size-name);
}

$sizes: (
  none: 0,
  xxs: 4px,
  xs: 8px,
  s: 12px,
  m: 16px,
  l: 24px,
  xl: 32px,
  xxl: 64px,
);

.hig__spacer {
  display: block;
}

.hig__spacer--inline {
  display: inline-block;
}

@each $size-name, $size-value in $sizes {
  .hig__spacer--inset-#{$size-name} {
    padding: $size-value;
  }

  .hig__spacer--stack.hig__spacer--width-#{$size-name} {
    margin-bottom: $size-value;
  }

  .hig__spacer--inline.hig__spacer--width-#{$size-name} {
    margin-right: $size-value;
  }
}
