@import '~basics/colors/colors.scss';
// Typography Base
// Give an element standard typographic properties
// Usage Example:
// .selector {
//     @include typography-base;
// }

$typography-base-color: color('hig-gray-70');

@mixin typography-base() {
  @include typography-medium;
  font-family: 'ArtifaktElement', sans-serif;
  color: $typography-base-color;
  margin: 0;

  // Attempt to do antialiasing at pixel level instead of subpixel
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin typography-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@mixin typography-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin typography-small {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
