@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/spacing.scss';
@import '~helpers/css/mixins/typography.scss';

.hig__tabs__tab {
  @include typography-large;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0 spacing(s);

  border-top: 2px solid transparent;
  cursor: pointer;

  color: color(hig-gray-70);
  user-select: none;
  font-weight: 700;
  text-align: center;

  &:before {
    position: absolute;
    content: '';
    top: 6px;
    bottom: 8px;
    left: 0;
    border-left: 1px solid color(hig-cool-gray-20);
  }

  &:first-child {
    padding-left: 0;
    &:before {
      border: none;
    }
  }

  &:last-child {
    padding-right: 0;
  }
}

.hig__tabs__tab-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
}

.hig__tabs__tab--active {
  .hig__tabs__tab-label {
    padding: spacing(xxs) 0;
    color: color(hig-blue-50);
    border-bottom-color: color(hig-blue-50);
  }
}
