@import '~basics/colors/colors.scss';

.hig__global-nav__top-nav__project-account-switcher__lists__list {
   margin-top: 10px;

    &:first-child{ 
        padding-top: 0px;

        .hig__global-nav__top-nav__project-account-switcher__item {
            &:last-child {
                margin-bottom: 20px
            }   
        }
    }

    > .hig__global-nav__top-nav__project-account-switcher__item {
        position: relative;

        &:first-child {
            padding-top: 15px;
        }

        &:first-child::before {
            position: absolute;
            top: 0px;
            pointer-events: none;

            content: 'Projects';
            font-size: 11px;
            line-height: 15px;
            text-transform: uppercase;
            color: color(hig-gray-20);
        }
    }

    .hig__global-nav__top-nav__project-account-switcher__item--project:first-child::before {
        content: 'Projects';
    }

    .hig__global-nav__top-nav__project-account-switcher__item--account:first-child::before {
        content: 'Accounts';
    }     
}
