@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__side-nav__module {
  @include typography-base;
  position: relative;
  margin: spacing(xs) 0;
  user-select: none;
}

.hig__side-nav__module__row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 32px;
  margin-right: spacing(xs);
}

.hig__side-nav__module__link {
  display: flex;
  align-items: stretch;
  padding-left: 2px;
  flex: 1 1 auto;
  text-decoration: none;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    border-left: 2px solid transparent;
    top: 0;
    left: 0;
    height: 32px;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.hig__side-nav__module__link__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
}

.hig__side-nav__module__link__title {
  font-weight: 700;
  font-size: 14px;
  padding-left: spacing(xs) - 2;
  padding-top: 5px;
  line-height: 20px;
}

.hig__side-nav__module__link__external-link-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 6px 10px;
}

.hig__side-nav__module__submodules {
  padding-left: 46px;

  &--no-icon {
    padding-left: spacing(m);
  }
}

// Light theme
.hig--light-theme {
  &.hig__side-nav__module__link {
    color: color(hig-gray-70);

    .hig__side-nav__module__link__icon svg * {
      fill: color(hig-gray-70);
    }

    .hig__side-nav__module__link__external-link-icon svg * {
      fill: color(hig-gray-70);
    }

    &:active,
    &:focus {
      color: color(hig-blue-60);

      &:before {
        border-left-color: color(hig-blue-60);
      }

      .hig__side-nav__module__link__icon svg * {
        fill: color(hig-blue-60);
      }

      .hig__side-nav__module__link__external-link-icon svg * {
        fill: color(hig-blue-60);
      }
    }

    &:hover,
    &--active,
    &--active-children {
      &:before {
        border-left-color: color(hig-blue-50);
      }

      .hig__side-nav__module__link__icon svg * {
        fill: color(hig-blue-50);
      }
    }

    &:hover,
    &--active {
      color: color(hig-blue-50);

      .hig__side-nav__module__link__external-link-icon svg * {
        fill: color(hig-blue-50);
      }
    }
  }
}

// Dark blue theme
.hig--dark-blue-theme {
  &.hig__side-nav__module__link {
    color: color(hig-white);

    .hig__side-nav__module__link__icon svg * {
      fill: color(hig-white);
    }

    .hig__side-nav__module__link__external-link-icon svg * {
      stroke: color(hig-white);
    }

    &:active,
    &:focus {
      color: color(hig-blue-30);

      &:before {
        border-left-color: color(hig-blue-30);
      }

      .hig__side-nav__module__link__icon svg * {
        fill: color(hig-blue-30);
      }

      .hig__side-nav__module__link__external-link-icon svg * {
        stroke: color(hig-blue-30);
      }
    }

    &:hover,
    &--active,
    &--active-children {
      &:before {
        border-left-color: color(hig-blue-40);
      }

      .hig__side-nav__module__link__icon svg * {
        fill: color(hig-blue-40);
      }
    }
    &:hover,
    &--active {
      color: color(hig-blue-40);

      .hig__side-nav__module__link__external-link-icon svg * {
        stroke: color(hig-blue-40);
      }
    }
  }
}
