@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__button {
    display: inline-block;
    @include vendor-prefix('box-sizing', 'border-box');
    @include vendor-prefix('user-select', 'none');

    font-family: 'ArtifaktElement';
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;

    // default size: standard
    padding: 0 16px;
    height: 36px;
    line-height: 34px;
    min-width: 68px;
    font-size: 14px;

    // always have a border to prevent box-sizing vertical spacing issues
    border: 1px solid transparent;

    // default colors: primary
    background: color(hig-blue-30);
    color: color(hig-white);

    // states
    &:visited {
        color: color(hig-white);
    }

    &:hover {
        background-color: color(hig-blue-50);
    }

    &:active, &:focus {
        background-color: color(hig-blue-20);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 1px color(hig-white),
                    0 0 0 2px color(hig-blue-20);
    }

    &--disabled {
        pointer-events: none;
        background-color: color(hig-blue-60);

        &:hover, &:focus{
            background-color: color(hig-blue-60);
        }
    }

    & + .hig__button {
        margin-left: 10px;
    }

    // SIZES

    &--small{
        height: 28px;
        line-height: 26px;
        min-width: 66px;
        padding: 0 16px;
        font-size: 13px;
    }

    &--large{
        height: 42px;
        line-height: 40px;
        min-width: 90px;
        padding: 0 32px;
        font-size: 16px;
    }

    // TYPES

    &.hig__button--primary {
        // same as default values

        svg *{
            fill: color(hig-white);
        }
    }

    &.hig__button--secondary,
    &.hig__button--flat {
        border-color: color(hig-gray-40);
        background: none;
        color: color(hig-slate-dark);

        // states
        &:visited {
            color: color(hig-slate-dark);
        }

        &:hover {
            background: none;
            border-color: color(adsk-turquoise);
        }

        &:focus {
            background: none;
            outline: none;
            border-color: color(adsk-turquoise);
            box-shadow: 0 0 0 1px color(hig-white),
                        0 0 0 2px color(adsk-turquoise);
        }

        &:active {
            background: none;
            border-color: color(hig-gray-10);
            box-shadow: none;
        }

    }

    &.hig__button--secondary.hig__button--disabled,
    &.hig__button--flat.hig__button--disabled {
        cursor: not-allowed;
        background: none;
        border-color: color(hig-gray-60);
        color: color(hig-gray-40);
    }

    &.hig__button--flat {
        border-color: transparent;
    }

    &.hig__button--flat.hig__button--disabled {
        border-color: transparent;
    }
}

.hig__button__icon {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;

    > .hig__icon {
        display: inline;
        padding-left: 30px;
    }

    

}

.hig__button--disabled > .hig__button__icon > .hig__icon {
    opacity: 0.2;
}