@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__button {
    font-family: 'ArtifaktElement';
    
    display: inline-block;
    padding: 5px 10px;
    min-width: 82px;

    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    // default size: standard
    padding: 0 16px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;

    // default colors: primary
    background: color(adsk-blue);
    color: color(hig-white);

    &:visited {
        color: color(hig-white);
    }

    &:hover {
        background-color: color(adsk-blue-light);
    }

    &:active {
        background-color: color(adsk-blue-dark);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 1px color(white),
                    0 0 0 2px color(adsk-blue);
        // outline: 1px solid color(adsk-blue);
        // outline-offset: 2px;
    }

    &.hig__button--primary {
        // same as default values        
    }

    &.hig__button--link {
        color: color(adsk-blue);

        &:hover {
            text-decoration: underline;
        }
    }
}