@import '../../basics/typography/typography';

// Vendor Prefix
// Usage Example:
// .selector {
//     @include vendor-prefix('box-sizing', 'border-box');
// }

@mixin vendor-prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
        #{$vendor}#{$name}: #{$value};
    }
}

// Clearfix
// Make a parent element be at least as tall as its children, even if they have `position: float`.
// Usage Example:
// .selector {
//     @include clearfix;
// }

@mixin clearfix() {
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    zoom: 1;
}

// Reset
// Set an element's properties to a known default state without poluting elemnts out of our control.
// Usage Example:
// .selector {
//     @include reset;
// }

@mixin reset() {
    font-family: 'ArtifaktElement';
}
