defaults: &defaults
      working_directory: ~/hig
      docker:
        - image: circleci/node:8.2.1

version: 2
jobs:
  vanilla-setup:
    <<: *defaults
    steps:
      - checkout
      # Get vanilla node_modules for this revision of vanilla/package.json
      - restore_cache:
          key: dependency-cache-vanilla-v2-{{ checksum "src/implementations/vanilla/package.json" }}
      - run:
          name: npm Install (Vanilla)
          command: npm install
          working_directory: src/implementations/vanilla
      # Store vanilla node_modules for this revision of vanilla/package.json
      - save_cache:
          key: dependency-cache-vanilla-v2-{{ checksum "src/implementations/vanilla/package.json" }}
          paths:
            - src/implementations/vanilla/node_modules
  vanilla-build:
    <<: *defaults
    steps:
      - checkout
      # Get vanilla node_modules for this revision of vanilla/package.json
      - restore_cache:
          key: dependency-cache-vanilla-v2-{{ checksum "src/implementations/vanilla/package.json" }}
      - run:
          name: Build (Vanilla)
          command: npm run lib
          working_directory: src/implementations/vanilla
      # Store vanilla build files for this commit
      - save_cache:
          key: lib-cache-vanilla-v2-{{ .Revision }}
          paths:
            - src/implementations/vanilla/lib
  react-setup:
    <<: *defaults
    steps:
      - checkout
      # Get vanilla node_modules for this revision of vanilla/package.json
      - restore_cache:
          key: dependency-cache-vanilla-v2-{{ checksum "src/implementations/vanilla/package.json" }}
      # Get React node_modules for this revision of react/package.json
      - restore_cache:
          key: dependency-cache-react-v2-{{ checksum "src/implementations/react/package.json" }}
      - run:
          name: npm Install (React)
          command: npm install
          working_directory: src/implementations/react
      # Store React node_modules for this revision of react/package.json
      - save_cache:
          key: dependency-cache-react-v2-{{ checksum "src/implementations/react/package.json" }}
          paths:
            - src/implementations/react/node_modules
  react-build:
    <<: *defaults
    steps:
      - checkout
      # Get vanilla node_modules for this revision of vanilla/package.json
      - restore_cache:
          key: dependency-cache-vanilla-v2-{{ checksum "src/implementations/vanilla/package.json" }}
      # Get React node_modules for this revision of react/package.json
      - restore_cache:
          key: dependency-cache-react-v2-{{ checksum "src/implementations/react/package.json" }}
      - run:
          name: Build (React)
          command: npm run lib
          working_directory: src/implementations/react
      # Store React build files for this commit
      - save_cache:
          key: lib-cache-react-v2-{{ .Revision }}
          paths:
            - src/implementations/react/lib
  vanilla-test:
    <<: *defaults
    steps:
      - checkout
      # Get vanilla node_modules for this revision of vanilla/package.json
      - restore_cache:
          key: dependency-cache-vanilla-v2-{{ checksum "src/implementations/vanilla/package.json" }}
      # Get vanilla build files for this commit
      - restore_cache:
          key: lib-cache-vanilla-v2-{{ .Revision }}
      - run:
          name: Start Server (Vanilla)
          command: ./node_modules/http-server/bin/http-server
          background: true
          working_directory: src/implementations/vanilla
      - run:
          name: Run Tests (Vanilla)
          command: npm run gemini-ci
          working_directory: src/implementations/vanilla
  react-test:
    <<: *defaults
    steps:
      - checkout
      # Get vanilla node_modules for this revision of vanilla/package.json
      - restore_cache:
          key: dependency-cache-vanilla-v2-{{ checksum "src/implementations/vanilla/package.json" }}
      # Get vanilla build files for this commit
      - restore_cache:
          key: lib-cache-vanilla-v2-{{ .Revision }}
      # Get React node_modules for this revision of react/package.json
      - restore_cache:
          key: dependency-cache-react-v2-{{ checksum "src/implementations/react/package.json" }}
      # Get React build files for this commit
      - restore_cache:
          key: lib-cache-react-v2-{{ .Revision }}
      - run:
          name: Run Tests (React)
          command: npm run test-ci
          working_directory: src/implementations/react
  react-validate:
    <<: *defaults
    steps:
      - checkout
      # Get React node_modules for this revision of react/package.json
      - restore_cache:
          key: dependency-cache-react-v2-{{ checksum "src/implementations/react/package.json" }}
      - run:
          name: Validate hig-react version
          command: npm run validate
          working_directory: src/implementations/react
  react-deploy:
    <<: *defaults
    steps:
      - checkout
      # Get vanilla node_modules for this revision of vanilla/package.json
      - restore_cache:
          key: dependency-cache-vanilla-v2-{{ checksum "package.json" }}
      # Get React node_modules for this revision of react/package.json
      - restore_cache:
          key: dependency-cache-react-v2-{{ checksum "package.json" }}
      - run:
          name: Add auth token
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
          working_directory: src/implementations/react
      - run:
          name: Deploy hig-react
          command: npm publish
          working_directory: src/implementations/react
workflows:
  version: 2
  build-test-validate-and-deploy:
    jobs:
      - vanilla-setup
      - react-setup:
          requires:
            - vanilla-setup
      - vanilla-build:
          requires:
            - vanilla-setup
      - react-build:
          requires:
            - react-setup
      - vanilla-test:
          requires:
            - vanilla-build
      - react-test:
          requires:
            - react-build
      - react-validate:
          filters:
            branches:
              ignore: master
          requires:
            - vanilla-test
            - react-test
      - react-deploy:
          filters:
            branches:
              only: master
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
          requires:
            - vanilla-test
            - react-test
