defaults: &defaults
  working_directory: ~/hig
  docker:
    - image: circleci/node:8.10-stretch

version: 4
jobs:
  bootstrap:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Install NPM Dependencies
          command: yarn
      - save_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
            - packages/vanilla/node_modules
            - packages/react/node_modules
  vanilla-build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Build (Vanilla)
          command: yarn lib
          working_directory: packages/vanilla
      - save_cache:
          key: vanilla-build-{{ .Revision }}
          paths:
            - packages/vanilla/lib
  react-build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: vanilla-build-{{ .Revision }}
      - run:
          name: Build (React)
          command: yarn lib
          working_directory:  packages/react
      - save_cache:
          key: react-build-{{ .Revision }}
          paths:
            - packages/react/lib
  vanilla-test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: vanilla-build-{{ .Revision }}
      - run:
          name: Lint (Vanilla)
          command: yarn lint
          working_directory: packages/vanilla
      - run:
          name: Start Server (Vanilla)
          command: yarn run http-server
          background: true
          working_directory: packages/vanilla
      - run:
          name: Run Tests (Vanilla)
          command: yarn gemini-ci
          working_directory: packages/vanilla
      - store_artifacts:
          path: packages/vanilla/gemini-report
  react-test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: vanilla-build-{{ .Revision }}
      - restore_cache:
          key: react-build-{{ .Revision }}
      - run:
          name: Lint (React)
          command: yarn lint
          working_directory: packages/react
      - run:
          name: Run Jest Tests (React)
          command: yarn test-ci
          working_directory: packages/react
      - store_artifacts:
          path: packages/react/coverage
  react-visual-test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: vanilla-build-{{ .Revision }}
      - restore_cache:
          key: react-build-{{ .Revision }}
      - run:
          name: Start Storybook Server (React)
          command: yarn storybook
          background: true
          working_directory: packages/react
      - run:
          name: Run Visual Regression Tests (React)
          command: yarn gemini-ci
          working_directory: packages/react
      - store_artifacts:
          path: packages/react/gemini-report
  deploy-playground:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: vanilla-build-{{ .Revision }}
      - restore_cache:
          key: react-build-{{ .Revision }}
      - run:
          name: Deploy hig-beta
          command: yarn deploy-playground $PLAYGROUND_DOMAIN
          working_directory: packages/react
  packages-deploy-on-branch:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: vanilla-build-{{ .Revision }}
      - restore_cache:
          key: react-build-{{ .Revision }}
      - run:
          name: Add auth token
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Deploy hig-react-branch
          command: npm run publish-canary
  packages-deploy-storybook-on-branch:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: vanilla-build-{{ .Revision }}
      - restore_cache:
          key: react-build-{{ .Revision }}
      - run:
          name: Deploy Storybook
          command: yarn storybook-deploy --domain `echo hig-$CIRCLE_BRANCH.surge.sh | awk 'echo gsub(/\//, "-")'`
  packages-deploy:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: vanilla-build-{{ .Revision }}
      - restore_cache:
          key: react-build-{{ .Revision }}
      - run:
          name: Add auth token
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Deploy hig-react
          command: node ./scripts/publish-if-needed/index.js react
      - run:
          name: Deploy hig-interface
          command: node ./scripts/publish-if-needed/index.js interface
      - run:
          name: Deploy hig-vanilla
          command: node ./scripts/publish-if-needed/index.js vanilla
workflows:
  version: 2
  build-test-validate-and-deploy:
    jobs:
      - bootstrap
      - vanilla-build:
          requires:
            - bootstrap
      - react-build:
          requires:
            - vanilla-build
      - vanilla-test:
          requires:
            - vanilla-build
      - react-test:
          requires:
            - react-build
      - react-visual-test:
          requires:
            - react-build
            - vanilla-test
      - deploy-playground:
          requires:
            - vanilla-test
            - react-test
            - react-visual-test
          filters:
            branches:
              only: development
      - packages-deploy-on-branch:
          filters:
            branches:
              ignore:
                - development
                - master
          requires:
            - vanilla-test
            - react-test
            - react-visual-test
      - packages-deploy-storybook-on-branch:
          filters:
            branches:
              ignore:
                - development
                - master
          requires:
            - vanilla-test
            - react-test
            - react-visual-test
      - packages-deploy:
          requires:
            - vanilla-test
            - react-test
            - react-visual-test
          filters:
            branches:
              only: master
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
