@import "../tokens.scss";

.hig__dropdown__input-wrapper {
  position: relative;

  // TODO: Refactor TextField to avoid needing to override styles
  .hig__text-field__input {
    font-weight: 600;
  }

  // TODO: Refactor TextField to avoid needing to override styles
  .hig__text-field__extra--dropdown-caret {
    bottom: 6px;
  }
}

.hig__dropdown__input-caret {
  position: absolute;
  // 30px = the height of the icon element
  top: calc(#{$menu-top-offset} - 30px);
  right: 7px;
  z-index: -1;
  padding: 6px 10px;

  .hig__dropdown--disabled & {
    opacity: 0.3;
  }
}
