@import "~@hig/styles/tokens/layers.scss";
@import "~@hig/styles/mixins/colors.scss";

.hig__dropdown-v1__menu {
  @import "../tokens.scss";

  position: absolute;
  min-width: 240px;
  max-height: $menu-max-height;
  top: $menu-top-offset;
  overflow: auto;
  z-index: $dropdown-layer;

  border: 1px solid color(hig-cool-gray-30);
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: color(hig-white);
  box-shadow: 0 1px 4px rgba(#717171, 0.3);
}
