@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__dropdown-option {
  @import "../tokens.scss";
  @include typography-base;

  position: relative;
  display: flex;
  box-sizing: border-box;
  min-height: $option-height;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  cursor: pointer;

  &:hover,
  &.hig__dropdown-option--highlighted,
  &.hig__dropdown-option--focused {
    background-color: color(hig-blue-10);
  }
}
