@import '~basics/colors/colors.scss';
@import '../side-nav/side-nav.scss';

.hig__global-nav__container{
    position: relative;
    background: $background-2;
}
    .hig__global-nav--open .hig__global-nav__container{
        margin-left: $hig__global-nav__sidenav--width;
    }