@import '../../../../basics/colors/colors.scss';

.hig__menu__content__sub-top{
    background: $background-1;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 1px 4px 0 $box-shadow-1;

    display: flex;
    align-items: center;

    &__group{
        height: 50px;
        display: flex;
        align-items: center;

        &--right{
            border-left: 1px solid $base-3;
        }
        &--left{
            padding-right: 20px;
            border-right: 1px solid $base-3;
        }

    }

    &__hamburger{
        margin: 0 13px;

        &:hover{
            cursor: pointer;
        }
    }

    &__logo{
        height: 24px;

        & img{
            height: 100%;
        }
    }
}