@import '~basics/colors/colors.scss';

.hig__global-nav__container__sub-nav{
    background: $background-2;
    height: 54px;
    line-height: 54px;
    box-shadow: 0 1px 4px 0 $box-shadow-1;

    display: flex;
    align-items: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    &__left{
        height: 50px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        font-size: 18px;
        padding: 0 17px;
        white-space: nowrap;

        &__icon{
            margin-left: 15px;
        }
    }

}

.hig__global-nav__container__sub-nav__spacer {
    visibility: hidden;
    flex-shrink: 100;
}