@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/breakpoints.scss';
@import '~helpers/css/mixins/base.scss';
 
.hig__table__icon-cell {
  position: relative;

  & svg {
    @include vendor-prefix(transform, translateX(-50%) translateY(-50%));
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
