@import '~basics/colors/colors.scss';

.hig__global-nav__side-nav__section__group__module__submodule{    
    padding-left: 40px;

    &__link{
        color: color(hig-gray-20);
        text-decoration: none;
        font-size: 14px;
        line-height: 30px;

        &:hover, &--active{
            color: color(hig-blue-30);
        }
    }

    &--hide{
        display: none;
    }
}