@import "~@hig/styles/mixins/typography.scss";

.hig__top-nav__logo-text {
  @include typography-base;

  display: inline-block;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
