@import "~@hig/styles/mixins/base.scss";

.hig__top-nav__profile-flyout-content {
  @include reset;

  padding: 4px 14px;

  &__name {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    color: #222934;
  }

  &__email {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #565c5f;
    line-height: 16px;
    font-size: 12px;
  }
}
