@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/shadows.scss";

.hig__top-nav {
  @import "../tokens.scss";

  @include reset;
  @include shadow("dropshadow");

  display: flex;
  position: relative;
  height: $top-nav-height;
  min-height: $top-nav-height;
  padding-left: 7px;
  justify-content: space-between;
  align-items: stretch;
  z-index: $top-nav-layer;
  background: color(hig-white);
}

.hig__top-nav__item {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
}

.hig__top-nav__spacer {
  flex: 1 1 0;
}

.hig__top-nav__logo-wrapper {
  display: flex;
  padding: 0 12px 0 5px;
  align-items: center;
  line-height: 0;
}
