@import '~basics/fonts/fonts.scss';
@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/layers.scss';

.hig__dropdown {
  min-width: 300px;
  max-width: 450px;

  .hig__text-field__input{
    font-weight: 600;
  }

  .hig__text-field__extra--dropdown-caret {
    bottom: 6px;
  }
}

.hig__dropdown__menu-wrapper {
  position: relative;
}

.hig__dropdown__menu {
  display: none;
  position: absolute;
  min-width: 240px;
  top: 1px;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: $dropdown-layer;

  border: 1px solid color(hig-cool-gray-30);
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: color(hig-white);
  box-shadow: 0 1px 4px rgba(#717171, 0.3);

  .hig__dropdown--open & {
    display: block;
  }
}
