@import '~styles/mixins/fonts.scss';
@import '~styles/mixins/colors.scss';
@import '~styles/mixins/typography.scss';
@import '~styles/mixins/spacing.scss';

.hig__typography {
  @include typography-base;
  margin-bottom: spacing(m);
}

.hig__typography--small {
  @include typography-small;
  margin-bottom: spacing(xs);
}

.hig__typography--large {
  @include typography-large;
}

// COLORS
.hig__typography--hig-white {
  color: color('hig-white');
}

.hig__typography--hig-cool-gray-70 {
  color: color('hig-cool-gray-70');
}

.hig__typography--hig-blue-50 {
  color: color('hig-blue-50');
}

.hig__typography--hig-green-good {
  color: color('hig-green-good');
}

.hig__typography--hig-yellow-warning {
  color: color('hig-yellow-warning');
}

.hig__typography--hig-red-alert {
  color: color('hig-red-alert');
}

// BOLD
.hig__typography__bold {
  @include typography-base;
  font-weight: 700;
}

.hig__typography--bold {
  font-weight: 700;
}

// DISABLED
.hig__typography--disabled {
  opacity: .3;
}

.hig__typography__disabled {
  @include typography-base;
  color: color('hig-cool-gray-40');
}

// CAPTION
.hig__typography__caption {
  @include typography-base;
  font-size: 12px;
  line-height: 16px;
}

// HEADER
.hig__typography__h1 {
  @include typography-h1;
}

.hig__typography__h2 {
  @include typography-h2;
}

.hig__typography__h3 {
  @include typography-h3;
}

.hig__typography__sub1 {
  @include typography-h4;
}

.hig__typography__sub2 {
  @include typography-h5;
}
