@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__icon-button {
  display: inline-block;
  position: relative;
  @include vendor-prefix('box-sizing', 'border-box');

  border: 1px solid color(hig-cool-gray-30);
  border-radius: 4px;
  color: color(hig-gray-70);

  padding: 0;
  height: 36px;
  line-height: 36px;
  min-width: 36px;
  font-size: 14px;

  &.hig__icon-button--flat {
    border-color: transparent;

    svg * {
      fill: color(hig-slate-70);
    }
  }

  &:hover {
    border-color: color(hig-turquoise-50);
  }

  &:active,
  &:focus {
    outline: none;
    background: color(hig-turquoise-40);
    border-color: color(hig-turquoise-40);

    svg * {
      fill: color(hig-white);
    }

    &.hig__icon-button--flat {
      background: color(hig-slate-40);
      border-color: color(hig-slate-40);
    }
  }

  &.hig__icon-button--disabled {
    pointer-events: none;
    background: none;
    border-color: color(hig-cool-gray-20);
    color: color(hig-cool-gray-30);

    &:hover, &:focus {
      background: none;
      border-color: color(hig-cool-gray-10);
    }

    svg {
      opacity: 0.2;
    }

    &.hig__icon-button--flat,
    &.hig__icon-button--flat:hover,
    &.hig__icon-button--flat:focus {
      border-color: transparent;
    }
  }
}

.hig__icon-button__icon {
  @include vendor-prefix(transform, translateX(-50%) translateY(-50%));
  position: absolute;
  top: 50%; left: 50%;
}
