@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";

.hig__side-nav__module__collapse-button {
  @include vendor-prefix("transform", "rotate(0deg)");
  height: 100%;
  padding: 6px 10px;

  &:hover {
    cursor: pointer;
  }
}

.hig__side-nav__module__collapse-button--collapsed {
  @include vendor-prefix("transform", "rotate(-90deg)");
}

// Light theme
.hig--light-theme {
  &.hig__side-nav__module__collapse-button {
    svg * {
      fill: color(hig-cool-gray-50);
    }
  }
}

// Dark blue theme
.hig--dark-blue-theme {
  &.hig__side-nav__module__collapse-button {
    svg * {
      fill: color(hig-white);
    }
  }
}
