@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';
.hig__notifications {
  display: flex;
  flex-direction: row-reverse;
  .hig__flyout__panel {
    width: 320px;
    padding: 0;
  }
}

.hig__notifications__unread-messages-count {
  position: relative;
  right: 16px;
  top: 2px;
  padding: 0 3px;
  line-height: 16px;
  height: 16px;
  z-index: 1;
  border: 1px solid color(hig-white);
  border-radius: 4px;
  background-color: color(hig-blue-50);
  color: color(hig-white);
  font-size: 12px;
}