@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';
.hig__notifications {

  .hig__icon {
    &:hover {
      fill: color(hig-blue-50);
    }
  }
  
  .hig__flyout__panel {
    padding: 0;
    width: 320px;
  }
  .hig__global-nav__top-nav__shortcut {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    padding-right: 6px;
  }
  .hig__flyout__container {
    top: 55px;
    right: -8px;
  }
}


.hig__notifications__unread-messages-count {
  pointer-events: none;
  position: absolute;
  left: 24px;
  top: 17px;
  padding: 0 3px;
  line-height: 13px;
  height: 13px;
  z-index: 1;
  border: 1px solid color(hig-white);
  border-radius: 4px;
  background-color: color(hig-blue-50);
  color: color(hig-white);
  font-size: 11px;
  display: block;

  &--hide{
    display: none;
  }
}
