@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__notifications {
  display: flex;
  flex-direction: row-reverse;
  .hig__flyout__panel {
    width: 320px;
    padding-right: 24px;
    padding-left: 24px;
  }  
}


.hig__notifications__unread-messages-count {
  height: 16px;
  width: 18px;

  font-size: 12px;
  color: color(hig-white);
  text-align: center;

  position: relative;
  right: 16px;
  top: 2px;

  border: 1px solid color(hig-white);
  border-radius: 4px; 
  background-color: color(hig-blue-50);
}