@import '~basics/colors/colors.scss';
@import '~basics/responsive/responsive.scss';

.hig__table__row {
  border-bottom: 1px solid color(hig-gray-50);

  &:hover {
    background-color: color(hig-turquoise-70);
  }
}