// Color Function
// Used to get a color value, for example:
// div {
//   background: color(hig-blue-50);
// }

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Our actual color map
// SASS map docs: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps

$colors: (
  hig-white: rgba(255, 255, 255, 1),
  // Primary colors
  hig-cool-gray-10: rgba(236, 240, 243, 1),
  hig-cool-gray-20: rgba(212, 219, 225, 1),
  hig-cool-gray-30: rgba(190, 200, 210, 1),
  hig-cool-gray-40: rgba(147, 156, 165, 1),
  hig-cool-gray-50: rgba(72, 83, 102, 1),
  hig-cool-gray-60: rgba(59, 68, 84, 1),
  hig-cool-gray-70: rgba(34, 41, 52, 1),

  hig-gray-10: rgba(242, 242, 242, 1),
  hig-gray-20: rgba(226, 226, 226, 1),
  hig-gray-30: rgba(204, 204, 204, 1),
  hig-gray-40: rgba(153, 153, 153, 1),
  hig-gray-50: rgba(102, 102, 102, 1),
  hig-gray-60: rgba(57, 57, 57, 1),
  hig-gray-70: rgba(0, 0, 0, 1),

  hig-blue-10: rgba(230, 244, 251, 1),
  hig-blue-20: rgba(204, 234, 249, 1),
  hig-blue-30: rgba(155, 213, 239, 1),
  hig-blue-40: rgba(102, 191, 233, 1),
  hig-blue-50: rgba(6, 150, 215, 1),
  hig-blue-60: rgba(6, 113, 161, 1),
  hig-blue-70: rgba(2, 75, 108, 1),

  // Secondary colors
  hig-green-20: rgba(240, 247, 232, 1),
  hig-green-30: rgba(219, 234, 197, 1),
  hig-green-40: rgba(171, 208, 121, 1),
  hig-green-50: rgba(135, 188, 64, 1),
  hig-green-60: rgba(107, 151, 51, 1),
  hig-green-70: rgba(86, 122, 40, 1),

  hig-turquoise-20: rgba(226, 249, 247, 1),
  hig-turquoise-30: rgba(187, 243, 237, 1),
  hig-turquoise-40: rgba(92, 225, 211, 1),
  hig-turquoise-50: rgba(14, 211, 190, 1),
  hig-turquoise-60: rgba(12, 168, 153, 1),
  hig-turquoise-70: rgba(10, 131, 120, 1),

  hig-indigo-20: rgba(226, 249, 247, 1),
  hig-indigo-30: rgba(209, 221, 238, 1),
  hig-indigo-40: rgba(89, 135, 194, 1),
  hig-indigo-50: rgba(25, 87, 168, 1),
  hig-indigo-60: rgba(20, 70, 135, 1),
  hig-indigo-70: rgba(13, 49, 96, 1),

  hig-gold-20: rgba(254, 243, 227, 1),
  hig-gold-30: rgba(253, 231, 197, 1),
  hig-gold-40: rgba(253, 195, 109, 1),
  hig-gold-50: rgba(250, 162, 27, 1),
  hig-gold-60: rgba(199, 128, 22, 1),
  hig-gold-70: rgba(152, 97, 15, 1),

  // Tertiary colors
  hig-slate-20: rgba(220, 231, 243, 1),
  hig-slate-30: rgba(193, 206, 220, 1),
  hig-slate-40: rgba(121, 147, 176, 1),
  hig-slate-50: rgba(75, 107, 143, 1),
  hig-slate-60: rgba(53, 77, 103, 1),
  hig-slate-70: rgba(44, 62, 83, 1),

  hig-purple-20: rgba(244, 237, 253, 1),
  hig-purple-30: rgba(234, 220, 253, 1),
  hig-purple-40: rgba(197, 161, 248, 1),
  hig-purple-50: rgba(167, 110, 245, 1),
  hig-purple-60: rgba(133, 88, 197, 1),
  hig-purple-70: rgba(95, 62, 142, 1),

  hig-pink-20: rgba(254, 230, 242, 1),
  hig-pink-30: rgba(253, 205, 229, 1),
  hig-pink-40: rgba(248, 124, 186, 1),
  hig-pink-50: rgba(246, 53, 149, 1),
  hig-pink-60: rgba(197, 43, 120, 1),
  hig-pink-70: rgba(156, 33, 94, 1),

  hig-salmon-20: rgba(255, 239, 236, 1),
  hig-salmon-30: rgba(255, 223, 217, 1),
  hig-salmon-40: rgba(255, 173, 158, 1),
  hig-salmon-50: rgba(255, 123, 101, 1),
  hig-salmon-60 : rgba(204, 100, 82, 1),
  hig-salmon-70: rgba(157, 75, 61, 1),

  // Alert colors
  hig-green-good: rgba(135, 188, 64, 1),
  hig-yellow-warning: rgba(245, 183, 35, 1),
  hig-red-alert: rgba(236, 74, 65, 1),
);

// Dynamically create css classes that can be used with divs
// This example will add "hig-blue-30" as background color to this div:
// <div class='hig__colors__hig-blue-30--background'></div>

@each $color_name, $color_value in $colors {
  :export {
    #{$color_name}: $color_value;
  }

  .hig__colors__#{$color_name}--color {
    color: $color_value;
  }
  .hig__colors__#{$color_name}--background {
    background-color: $color_value;
  }
  .hig__colors__#{$color_name}--border {
    border-color: $color_value;
  }
}
