@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/shadows.scss";
@import "~@hig/styles/tokens/layers.scss";

.hig__flyout-v1 {
  position: relative;
  display: inline-block;
}

.hig__flyout-v1__container {
  @import "./tokens.scss";

  position: absolute;
  // Resolves issues with negative positions and contaier overflow
  display: table;
  width: 100%;
  z-index: $flyout-container-layer;
  transition-property: opacity, transform;
  transition-duration: $container-transition-duration;
  // Bounce effect
  transition-timing-function: $container-transition-easing;

  .hig__flyout-v1--exited & {
    width: 0;
    height: 0;
    overflow: hidden;
    touch-action: none;
    pointer-events: none;
  }
}

//  [Container Transition Styles]
//
//  This block contains all container transition styles in a nested format.
//  Due to the many different combinations of modifiers in the Flyout,
//  the use of nested styles allows for much more succinct declarations.

.hig__flyout-v1--exiting,
.hig__flyout-v1--exited {
  @import "./tokens.scss";

  .hig__flyout-v1__container {
    opacity: 0;
  }

  &.hig__flyout-v1--top-left,
  &.hig__flyout-v1--top-center,
  &.hig__flyout-v1--top-right {
    .hig__flyout-v1__container {
      transform: translateY(-$container-transition-distance);
    }
  }

  &.hig__flyout-v1--right-top,
  &.hig__flyout-v1--right-center,
  &.hig__flyout-v1--right-bottom {
    .hig__flyout-v1__container {
      transform: translateX($container-transition-distance);
    }
  }

  &.hig__flyout-v1--bottom-left,
  &.hig__flyout-v1--bottom-center,
  &.hig__flyout-v1--bottom-right {
    .hig__flyout-v1__container {
      transform: translateY($container-transition-distance);
    }
  }

  &.hig__flyout-v1--left-top,
  &.hig__flyout-v1--left-center,
  &.hig__flyout-v1--left-bottom {
    .hig__flyout-v1__container {
      transform: translateX(-$container-transition-distance);
    }
  }
}

.hig__flyout-v1__panel {
  @import "./tokens.scss";
  @include shadow("common");

  box-sizing: border-box;
  min-width: 200px;
  max-width: 400px;
  max-height: 360px;
  padding: $panel-padding;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: $panel-border-width solid color(hig-cool-gray-20);
  background-color: $panel-background-color;
  border-radius: $panel-border-radius;
}

.hig__flyout-v1__chevron {
  @import "./tokens.scss";

  position: absolute;
  width: $chevron-size;
  height: $chevron-size;
  background: $panel-background-color;
  transform: rotate(45deg);

  .hig__flyout-v1--top-left &,
  .hig__flyout-v1--top-center &,
  .hig__flyout-v1--top-right & {
    box-shadow: (-$chevron-shadow-offset) (-$chevron-shadow-offset)
      $chevron-shadow-color;
  }

  .hig__flyout-v1--right-top &,
  .hig__flyout-v1--right-center &,
  .hig__flyout-v1--right-bottom & {
    box-shadow: $chevron-shadow-offset (-$chevron-shadow-offset)
      $chevron-shadow-color;
  }

  .hig__flyout-v1--bottom-left &,
  .hig__flyout-v1--bottom-center &,
  .hig__flyout-v1--bottom-right & {
    box-shadow: $chevron-shadow-offset $chevron-shadow-offset
      $chevron-shadow-color;
  }

  .hig__flyout-v1--left-top &,
  .hig__flyout-v1--left-center &,
  .hig__flyout-v1--left-bottom & {
    box-shadow: (-$chevron-shadow-offset) $chevron-shadow-offset
      $chevron-shadow-color;
  }

  .hig__flyout-v1--top-left & {
    top: $chevron-side-position;
    left: $chevron-spacing;
  }

  .hig__flyout-v1--top-center & {
    top: $chevron-side-position;
    left: $chevron-centering-position;
  }

  .hig__flyout-v1--top-right & {
    top: $chevron-side-position;
    right: $chevron-spacing;
  }

  .hig__flyout-v1--right-top & {
    right: $chevron-side-position;
    top: $chevron-spacing;
  }

  .hig__flyout-v1--right-center & {
    right: $chevron-side-position;
    top: $chevron-centering-position;
  }

  .hig__flyout-v1--right-bottom & {
    right: $chevron-side-position;
    bottom: $chevron-spacing;
  }

  .hig__flyout-v1--bottom-left & {
    bottom: $chevron-side-position;
    left: $chevron-spacing;
  }

  .hig__flyout-v1--bottom-center & {
    bottom: $chevron-side-position;
    left: $chevron-centering-position;
  }

  .hig__flyout-v1--bottom-right & {
    bottom: $chevron-side-position;
    right: $chevron-spacing;
  }

  .hig__flyout-v1--left-top & {
    left: $chevron-side-position;
    top: $chevron-spacing;
  }

  .hig__flyout-v1--left-center & {
    left: $chevron-side-position;
    top: $chevron-centering-position;
  }

  .hig__flyout-v1--left-bottom & {
    left: $chevron-side-position;
    bottom: $chevron-spacing;
  }
}

.hig__flyout-v1__container::after {
  @import "./tokens.scss";

  content: "";
  position: absolute;
  display: block;
  background: $panel-background-color;
  border-radius: $panel-border-radius;

  .hig__flyout-v1--top-left &,
  .hig__flyout-v1--top-center &,
  .hig__flyout-v1--top-right & {
    top: $panel-border-width;
    left: $panel-border-width;
    right: $panel-border-width;
    height: $panel-padding;
  }

  .hig__flyout-v1--right-top &,
  .hig__flyout-v1--right-center &,
  .hig__flyout-v1--right-bottom & {
    top: $panel-border-width;
    right: $panel-border-width;
    bottom: $panel-border-width;
    width: $panel-padding;
  }

  .hig__flyout-v1--bottom-left &,
  .hig__flyout-v1--bottom-center &,
  .hig__flyout-v1--bottom-right & {
    bottom: $panel-border-width;
    left: $panel-border-width;
    right: $panel-border-width;
    height: $panel-padding;
  }

  .hig__flyout-v1--left-top &,
  .hig__flyout-v1--left-center &,
  .hig__flyout-v1--left-bottom & {
    top: $panel-border-width;
    bottom: $panel-border-width;
    left: $panel-border-width;
    width: $panel-padding;
  }
}
