@import '~basics/colors/colors.scss';

.hig__global-nav__top-nav__project-account-switcher__target {
    display: flex;
    align-items: center;
    padding: 0 12px 0 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.hig__global-nav__top-nav__project-account-switcher__target__caret {
    display: inline-block;

    .hig__icon {
      height: 24px;
      width: 10px;
      margin-left: 12px;
    }
}

.hig__global-nav__top-nav__project-account-switcher__target__caret--hide {
    display: none;
}