@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__side-nav__submodule {
  @include typography-base;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-right: spacing(m);
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  &:first-child {
    margin-top: spacing(xs);
  }
  &:last-child {
    margin-bottom: spacing(m);
  }

  &:focus,
  &:active {
    outline: none;
  }
}

// Light theme
.hig--light-theme {
  &.hig__side-nav__submodule {
    color: color(hig-cool-gray-50);
    svg * {
      stroke: color(hig-cool-gray-50);
    }

    &:hover,
    &:focus,
    &:active,
    &--active,
    &--active:focus {
      color: color(hig-blue-50);
      svg * {
        stroke: color(hig-blue-50);
      }
    }
  }
}

// Dark blue theme
.hig--dark-blue-theme {
  &.hig__side-nav__submodule {
    color: transparentize($color: color(hig-white), $amount: 0.25);
    svg * {
      stroke: transparentize($color: color(hig-white), $amount: 0.25);
    }

    &:hover,
    &:focus,
    &:active,
    &--active,
    &--active:focus {
      color: color(hig-blue-30);
      svg * {
        stroke: color(hig-blue-30);
      }
    }
  }
}
