@import '~basics/fonts/fonts.scss';
@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/typography-base.scss';
@import '~helpers/css/mixins/spacing.scss';
.hig__typography,
.hig__rich-text,
.hig__rich-text p {
  @include typography-base;
  margin-bottom: spacing(m);
}

.hig__typography--small {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: spacing(xs);
}

.hig__typography--large {
  font-size: 16px;
  line-height: 22px;
}

// BOLD
.hig__rich-text b,
.hig__typography__bold {
  @include typography-base;
  font-weight: 700;
}

// DISABLED
.hig__typography__disabled {
  @include typography-base;
  color: color('hig-cool-gray-40');
}

// CAPTION
.hig__typography__caption {
  @include typography-base;
  font-size: 12px;
  line-height: 16px;
}

// HEADER
.hig__rich-text h1,
.hig__typography__h1 {
  @include typography-base;
  display: block;
  font-size: 30px;
  line-height: 36px;
  color: color('hig-gray-70');
}

.hig__rich-text h2,
.hig__typography__h2 {
  @include typography-base;
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: color('hig-gray-70');
}

.hig__rich-text h3,
.hig__typography__h3 {
  @include typography-base;
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: color('hig-gray-70');
}

.hig__rich-text h4,
.hig__typography__sub1 {
  @include typography-base;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: color('hig-cool-gray-40');
}

.hig__rich-text h5,
.hig__typography__sub2 {
  @include typography-base;
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: color('hig-cool-gray-40');
}