@font-face {
    font-family: "ArtifaktElement";
    src: local("Artifakt Element Regular"),
    local("ArtifaktElement-Regular"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Regular.woff2") format("woff2"),
    local("Artifakt Element Regular"),
    local("ArtifaktElement-Regular"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Regular.woff") format("woff"),
    local("Artifakt Element Regular"),
    local("ArtifaktElement-Regular"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "ArtifaktElement";
    src: local("Artifakt Element Semi Bold"),
    local("ArtifaktElement-SemiBold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Semi%20Bold.woff2") format("woff2"),
    local("Artifakt Element Semi Bold"),
    local("ArtifaktElement-SemiBold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Semi%20Bold.woff") format("woff"),
    local("Artifakt Element Semi Bold"),
    local("ArtifaktElement-SemiBold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Semi%20Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "ArtifaktElement";
    src: local("Artifakt Element Bold"),
    local("ArtifaktElement-Bold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Bold.woff2") format("woff2"),
    local("Artifakt Element Bold"),
    local("ArtifaktElement-Bold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Bold.woff") format("woff"),
    local("Artifakt Element Bold"),
    local("ArtifaktElement-Bold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "ArtifaktElement";
    src: local("Artifakt Element Regular"),
    local("ArtifaktElement-Regular"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Italic.woff2") format("woff2"),
    local("Artifakt Element Regular"),
    local("ArtifaktElement-Regular"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Italic.woff") format("woff"),
    local("Artifakt Element Regular"),
    local("ArtifaktElement-Regular"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: "ArtifaktElement";
    src: local("Artifakt Element Semi Bold"),
    local("ArtifaktElement-SemiBold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Semi%20Bold%20Italic.woff2") format("woff2"),
    local("Artifakt Element Semi Bold"),
    local("ArtifaktElement-SemiBold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Semi%20Bold%20Italic.woff") format("woff"),
    local("Artifakt Element Semi Bold"),
    local("ArtifaktElement-SemiBold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Semi%20Bold%20Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: "ArtifaktElement";
    src: local("Artifakt Element Bold"),
    local("ArtifaktElement-Bold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Bold%20Italic.woff2") format("woff2"),
    local("Artifakt Element Bold"),
    local("ArtifaktElement-Bold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Bold%20Italic.woff") format("woff"),
    local("Artifakt Element Bold"),
    local("ArtifaktElement-Bold"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Bold%20Italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic
}