@font-face {
    font-family: 'ArtifaktElement';
    src:url('https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Heavy.eot'); /* IE9 Compat Modes */
    src:url('https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Heavy.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Heavy.woff') format('woff'), /* Pretty Modern Browsers */
        url('https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Heavy.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
