@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Thin.eot");
  /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Thin.eot?#iefix")
      format("embedded-opentype"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Extra%20Light.woff2")
      format("woff2"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Extra%20Light.woff")
      format("woff"),
    url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Extra%20Light.ttf")
      format("truetype");
  /* Safari, Android, iOS */
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
