@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Hair.eot"); /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Hair.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Thin.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Thin.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Thin.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Thin.eot"); /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Thin.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Extra%20Light.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Extra%20Light.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Extra%20Light.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Light.eot"); /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Light.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Light.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Light.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Regular.eot"); /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Book.eot"); /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Book.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Medium.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Medium.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Medium.eot"); /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Semi%20Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Semi%20Bold.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Semi%20Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Bold.eot"); /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Bold.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Black.eot"); /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Extra%20Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Extra%20Bold.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Extra%20Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArtifaktElement";
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Heavy.eot"); /* IE9 Compat Modes */
  src: url("https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Heavy.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF2/Artifakt%20Element%20Black.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/WOFF/Artifakt%20Element%20Black.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://swc.autodesk.com/pharmacopeia/fonts/ArtifaktElement/v1.0/TTF/Artifakt%20Element%20Black.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
