.hig__tooltip-v1__panel {
@import "~@hig/styles/mixins/colors.scss";

  border: 1px solid color(hig-gray-60);
  background-color: color(hig-gray-60);
  border-radius: 4px;
}

.hig__tooltip-v1__panel__inner {
  position: relative;
}
