<html>

	<head>
		<link rel="stylesheet" href="../../../../../dist/hig.css">
		<script type="text/javascript" src="../../../../../dist/hig.js"></script>
	</head>

	<body>
		<style>
			body,
			html {
				margin: 0;
				padding: 0;
			}
		</style>

		<script>
			// CREATE Table
			var Table = new Hig.Table();
			Table.mount("body");

			var TableHead = new Table.partials.TableHead();
			debugger;
			Table.addTableHead(TableHead);
</script>

	<table>
		<div></div>
		<thead>
		<thead>	
	</table>	
	</body>
</html>