@import '~helpers/css/mixins/spacing.scss';
.hig__rich-text {
  ul {
    padding-left: 20px;
  }
  li {
    list-style: none;
  }
  li:before {
    content: "·";
    font-size: 18px;
    padding-right: 8px;
    vertical-align: middle;
    margin-left: -14px;
  }
}

.hig__rich-text--small {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: spacing(xs);

  b, p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }
}

.hig__rich-text--large {
  font-size: 16px;
  line-height: 22px;

  p {
    font-size: 16px;
    line-height: 22px;
  }
}