@import '~basics/colors/colors.scss';
@import '~basics/responsive/responsive.scss';
@import '~helpers/css/mixins/base.scss';

.hig__slot-head-cell{
  border-bottom: 1px solid color(hig-cool-gray-50);
  position: relative;

  &:first-child {
    padding-right: 0;
  }

}