@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";

// style variables
$hig-font-family: ArtifaktElement, sans-serif !default;
$hig-tooltip-background-color: color("hig-gray-60");
$hig-tooltip-font-color: #ffffff;
$hig-tooltip-border-radius: 2px;
$hig-tooltip-padding: spacing("xxxs");

// animation variables
$hig-tooltip-animation-distance: 3px;
$hig-tooltip-animation-timing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$hig-tooltip-animation-duration: 0.3s;
$hig-tooltip-initial-opacity: 0.1;

@keyframes fade-bottom {
  0% {
    opacity: $hig-tooltip-initial-opacity;
    transform: translate3d(0, -$hig-tooltip-animation-distance, 0)

  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
  }
}

@keyframes fade-top {
  0% {
    opacity: $hig-tooltip-initial-opacity;
    transform: translate3d(0, $hig-tooltip-animation-distance, 0)

  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
  }
}

@keyframes fade-left {
  0% {
    opacity: $hig-tooltip-initial-opacity;
    transform: translate3d($hig-tooltip-animation-distance, 0, 0)

  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
  }
}

@keyframes fade-right {
  0% {
    opacity: $hig-tooltip-initial-opacity;
    transform: translate3d(-$hig-tooltip-animation-distance, 0, 0)

  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
  }
}

@mixin fade_bottom_animation {
  animation-timing-function: $hig-tooltip-animation-timing;
  animation-fill-mode: both;
  animation: fade-bottom $hig-tooltip-animation-duration;
}

@mixin fade_top_animation {
  animation-timing-function: $hig-tooltip-animation-timing;
  animation-fill-mode: both;
  animation: fade-top $hig-tooltip-animation-duration;
}

@mixin fade_left_animation {
  animation-timing-function: $hig-tooltip-animation-timing;
  animation-fill-mode: both;
  animation: fade-left $hig-tooltip-animation-duration;
}

@mixin fade_right_animation {
  animation-timing-function: $hig-tooltip-animation-timing;
  animation-fill-mode: both;
  animation: fade-right $hig-tooltip-animation-duration;
}
