@import '~basics/colors/colors.scss';

.hig__rich-text a,
.hig__text-link {
  font-family: 'ArtifaktElement', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.hig__rich-text a,
.hig__text-link--primary {
  color: color(hig-blue-30);

  &:hover {
    color: color(hig-blue-20);
  }
}

.hig__text-link--secondary {
  color: color(hig-gray-30);

  &:hover {
    color: color(hig-blue-30);
  }
}
