@import '~@hig/styles/mixins/colors';
@import '~@hig/styles/tokens/layers';

.hig__radio-button__wrapper {
  position: relative;
  color: transparent;
  border: 1px solid color(hig-cool-gray-30);
  background-color: transparent;
  text-align: center;
  font-size: 25px;
  line-height: 14px;
  height: 16px;
  width: 16px;
  border-radius: 3px;

  .hig__radio-button__input:hover + & {
    border-color: color(hig-turquoise-50);
  }

  .hig__radio-button__input[disabled] + & {
    border-color: color(hig-cool-gray-30);
    border-style: dotted;
    background-color: transparent;
    pointer-events: none;
  }

  .hig__radio-button__input:focus + & {
    outline: none;
    border-color: color(hig-blue-60);
  }

  .hig__icon{
    position: initial;
  }

  .hig__radio-button & {
    border-radius: 50%;
  }

  .hig__radio-button .hig__radio-button__input:focus:checked + & {
    border-color: color(hig-blue-60);
    background-color: color(hig-blue-60);
    box-shadow: inset 0 0 0 3px color(hig-white);
  }

  .hig__radio-button .hig__radio-button__input:checked + & {
    background: none;
    border-color: color(hig-slate-40);
    background-color: color(hig-slate-40);
    box-shadow: inset 0 0 0 3px color(hig-white);
  }

  .hig__radio-button .hig__radio-button__input:checked[disabled] + & {
    background: none;
    background-color: color(hig-cool-gray-30);
    border-color: color(hig-cool-gray-30);
    border-style: dotted;
  }

  .hig__radio-button .hig__radio-button__input[disabled] + & {
    background: none;
    border-color: color(hig-cool-gray-30);
    border-style: dotted;
  }
}