.hig__global-nav__profile {
  height: 100%;
  display: flex;
  align-items: center;
}

.hig__global-nav__profile__image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}  

.hig__global-nav__profile__image-wrapper {
  height: 100%;
  padding: 0px 16px;
  display: flex;
  align-items: center;
}