@import '~basics/fonts/fonts.scss';
@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/layers.scss';

.hig__global-nav__top-nav__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hig__global-nav__top-nav__search__content {
  position: relative;
  display: flex;
  align-items: stretch;
}

.hig__global-nav__top-nav__search__icon {
  margin: 0 10px;
  display: flex;
  align-items: center;

  &:hover{
    cursor: pointer;
  }
}

.hig__global-nav__top-nav__search__input {
  @include reset;
  align-self: center;
  margin-left: -5px;
  border: none;
  font-size: 16px;
  padding: 5px;
  max-width: 460px;
  font-weight: 500;

  &::placeholder {
    font-weight: normal;
    color: color(hig-cool-gray-50);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.hig__global-nav__top-nav__search__clear {
  display: flex;
  align-items: center;
  opacity: 0; // hide by opacity to enable event propagation with focusin/focusout events

  &--show {
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
  }
}

.hig__option__wrapper {
  position: relative;
}

.hig__option__list {
  display: none;
  position: absolute;
  min-width: 240px;
  top: 9px;
  left: 40px;
  right: 0;
  overflow: hidden;
  z-index: $dropdown-layer;

  border: 1px solid color(hig-cool-gray-30);
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: color(hig-white);
  box-shadow: 0 1px 4px rgba(#717171, 0.3);

}


.hig__option__list--show {
  display: block;
}