@import '~basics/colors/colors.scss';
@import '~basics/responsive/responsive.scss';
@import '~helpers/css/mixins/base.scss';

.hig__table {
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;

  border-collapse: collapse;

  font-family: 'ArtifaktElement';
  font-weight: 500;
  font-size: 14px;

  color: color(hig-gray-10);
}

.hig__table th {
  font-weight: 500;
  padding: 16px 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .hig__table--large {
    padding: 16px 6px;
  }
}

.hig__table__text-cell,
.hig__table__icon-cell {
  .hig__table--standard & {
    padding: 16px 4px;

    &:first-child {
      padding-left: 8px
    }
  }

  .hig__table--compressed & {
    padding: 12px 4px;
    line-height: 16px;

    &:first-child {
      padding-left: 8px
    }

  }

  .hig__table--large & {
    padding: 20px 7px;
     &:first-child {
      padding-left: 12px
    }
  }
}

