.hig__notification-v1__dismiss-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

// This breaks component encapsulation
// Replace this functionality with the `<HoverBehavior>` component when available
.hig__notification-v1:hover {
  .hig__notification-v1__dismiss-button {
    display: block;
  }
}
