@import '~@hig/styles/mixins/colors.scss';
@import '~@hig/styles/mixins/typography.scss';

.hig__notification-flyout-v1__empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hig__notification-flyout-v1__empty-state-image {
  margin-top: 20px
}

.hig__notification-flyout-v1__empty-state-message {
  @include typography-base;
  margin: 20px 0 37px;
  color: color('hig-cool-gray-40');
}