@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__notifications-flyout__indicator {
  position: relative;
}

.hig__notifications-flyout__indicator__count {
  @include typography-base;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 13px;
  padding: 0 3px;
  font-size: 11px;
  line-height: 13px;
  border: 1px solid color(hig-white);
  color: color(hig-white);
  background-color: color(hig-blue-50);
  border-radius: 4px;
  pointer-events: none;

  &.hig__notifications-flyout__indicator__count--hide {
    display: none;
  }
}

.hig__notifications-flyout__indicator .hig__icon {
  &:hover {
    fill: color(hig-blue-50);
  }
}
