@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__notification-v1 {
  position: relative;
  overflow: hidden;
  transition-property: height, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;

  &:last-child {
    border-bottom: none;
  }

  &.hig__notification-v1--exiting {
    height: 0;
    opacity: 0;
  }

  &.hig__notification-v1--exited {
    display: none;
  }
}

.hig__notification-v1__content {
  display: flex;
  border-bottom: 1px solid color(hig-cool-gray-20);
  border-left: 3px solid color(hig-cool-gray-30);

  &.hig__notification-v1__content--primary {
    border-left: 3px solid color(hig-cool-gray-30);

    &.hig__notification-v1__content--unread {
      border-left: 3px solid color(hig-blue-50);
    }
  }

  &.hig__notification-v1__content--success {
    border-left: 3px solid color(hig-cool-gray-30);

    &.hig__notification-v1__content--unread {
      border-left: 3px solid color(hig-green-good);
    }
  }

  &.hig__notification-v1__content--error {
    border-left: 3px solid color(hig-cool-gray-30);

    &.hig__notification-v1__content--unread {
      border-left: 3px solid color(hig-red-alert);
    }
  }

  &.hig__notification-v1__content--warning {
    border-left: 3px solid color(hig-cool-gray-30);

    &.hig__notification-v1__content--unread {
      border-left: 3px solid color(hig-yellow-warning);
    }
  }

  &.hig__notification-v1__content--featured {
    background-color: color(hig-turquoise-20);
  }

  &.hig__notification-v1__content--unread {
    &:hover {
      background-color: transparentize(
        $color: color(hig-blue-10),
        $amount: 0.5
      );
    }
  }
}

.hig__notification-v1__content-image {
  margin: 14px 0 14px 14px;
}

.hig__notification-v1__content-text {
  margin: 14px;
}
