@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__notifications-flyout__panel__title {
  @include typography-base;
  padding: spacing(s) spacing(l);
  border-bottom: 1px solid color(hig-cool-gray-20);
}

.hig__notifications-flyout__panel__container {
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.hig__notifications-flyout__panel__loading {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  background-color: color(white);
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  pointer-events: none;

  &.hig__notifications-flyout__panel__loading--open {
    height: 44px;
    opacity: 1;
  }
}
