@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";

.hig__profile-flyout__content {
  @include reset;
  padding: 10px;
}

.hig__profile-flyout__content__name,
.hig__profile-flyout__content__email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hig__profile-flyout__content__name {
  font-size: 16px;
  line-height: 24px;
  color: color(hig-cool-gray-70);
}

.hig__profile-flyout__content__email {
  font-size: 12px;
  line-height: 16px;
  color: color(hig-gray-50);
}
