<html>
    <head>
        <link rel="stylesheet" href="../../../../../dist/hig.css">
        <script type="text/javascript" src="../../../../../dist/hig.js"></script>
    </head>
    <body>

        <div class='mount-menu'></div>

        <script>

            var Menu = new Hig.Menu();
            Menu.mount("body");

            var Sidebar = new Menu.partials.Sidebar();
            Menu.addSidebar(Sidebar);
            
            var Group1 = new Sidebar.partials.Group();
            Sidebar.addGroup(Group1);

            var Group1_Item1 = new Group1.partials.Item({
                "title": "Item 1",
                "link": "#"
            });
            Group1.addItem(Group1_Item1);

            var Group1_Item2 = new Group1.partials.Item({
                "title": "Item 2",
                "link": "#"
            });
            Group1.addItem(Group1_Item2);

            var Group1_Item3 = new Group1.partials.Item({
                "title": "Item 3",
                "link": "#"
            });
            Group1.addItem(Group1_Item3, Group1_Item2); // Test insert with custom reference node

            var Content = new Menu.partials.Content();
            Menu.addContent(Content);

            var Top = new Content.partials.Top({
                "logo": "http://cdn1.digitalartsonline.co.uk/cmsdata/features/3437213/autodesk-logo-cmyk-color-logo-white-text-large-big-512.jpg",
                "logo_link": "#"
            });
            Content.addTop(Top);

            var menu_open = false;

            Top.onHamburgerClick(function(e){
                if(menu_open){
                    Sidebar.hideSidebar();
                }else{
                    Sidebar.showSidebar();    
                }
                menu_open = !menu_open;
            });
            
        </script>

    </body>
</html>