<html>
    <head>
        <link rel="stylesheet" href="../../../../../dist/hig.css">
        <script type="text/javascript" src="../../../../../dist/hig.js"></script>
    </head>
    <body>

        <div class='mount-menu'></div>

        <script>

            // Menu

            var Menu = new Hig.Menu();
            Menu.mount("body");

            var Sidebar = new Menu.partials.Sidebar;
            var Content = new Menu.partials.Content;

            Menu.addSidebar(Sidebar);
            Menu.addContent(Content);

            // var menu_open = false;

            // Menu.onHamburgerClick(function(e){
            //     if(menu_open){
            //         Menu.hideSidebar();
            //     }else{
            //         Menu.showSidebar();    
            //     }
            //     menu_open = !menu_open;
            // });
            
            // // Adding sidebar group 1

            // var SidebarGroup1 = Menu.addSidebarGroup();

            // // Adding items in group 1

            // var Group1Item1 = SidebarGroup1.addSidebarGroupItem({
            //     "title": "item 1",
            //     "link": "#"
            // });

            // Group1Item1.onClick(function(e){
            //     alert("group 1 item 1 clicked");
            // });

            // SidebarGroup1.addSidebarGroupItem({
            //     "title": "item 2",
            //     "link": "#"
            // });


            // SidebarGroup1.addSidebarGroupItem({
            //     "title": "item 3",
            //     "link": "#"
            // });

            // // Adding sidebar group 2

            // var SidebarGroup2 = Menu.addSidebarGroup();

            // // Adding items in group 2

            // SidebarGroup2.addSidebarGroupItem({
            //     "title": "item 1",
            //     "link": "#"
            // });

            // SidebarGroup2.addSidebarGroupItem({
            //     "title": "item 2",
            //     "link": "#"
            // });


            // SidebarGroup2.addSidebarGroupItem({
            //     "title": "item 3",
            //     "link": "#"
            // });


        </script>

    </body>
</html>