@import '~basics/colors/colors.scss';

.hig__global-nav__side-nav__section{
    position: relative;
    margin-bottom: 60px;
    
    &__header{

        font-size: 12px;

        &__label{
            color: color(hig-slate-dark);
            font-weight: 500;
        }

        &__name{
            color: color(hig-gray-30);
        }

    }

    &--hide{
        display: none;
    }
}