@import '~basics/colors/colors.scss';

.hig__global-nav__side-nav__section{
    position: relative;
    margin-bottom: 60px;
    
    &__header{

        font-size: 12px;

        &__label{
            color: $base-1;
            font-weight: 500;
        }

        &__name{
            color: $base-5;
        }

    }

    &--hide{
        display: none;
    }
}