@import '../../helpers/css/_mixins.scss';

.hig__icon{
    position: relative;
    width: 30px;
    height: 30px;

    & svg {
		@include vendor-prefix(transform, translateX(-50%) translateY(-50%));
		position: absolute;
		top: 50%; left: 50%;
	}
}
