<div class='hig__global-nav__top-nav'>
    <div class='hig__global-nav__top-nav__group hig__global-nav__top-nav__group--left'>
        <div class='hig__global-nav__top-nav__hamburger'>{{#renderIcon}}hamburger{{/renderIcon}}</div>
        <div class='hig__global-nav__top-nav__logo'>
            <a href='{{ logoLink }}'>
                <img src='{{ logo }}'>
            </a>
        </div>
    </div>
    <div class="hig__global-nav__top-nav__spacer"></div>
    <!--PROJECT_ACCOUNT_SWITCHER-->
    <!--PROFILE-->
</div>