@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';


$group-height: 56px;

.hig__global-nav__top-nav{
    @include reset;

    position: relative;
    background: $hig-white;
    height: $group-height;
    line-height: $group-height;
    box-shadow: 0 1px 4px 0 $box-shadow-10;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__group {
        height: 32px;
        line-height: 32px;
        display: flex;
        align-items: center;

        &--right{
            border-left: 1px solid $hig-gray-50;
        }
        &--left{
            padding-right: 20px;
            border-right: 1px solid $hig-gray-50;
        }

    }

    &__hamburger{
        margin: 0 10px 0 12px;

        &:hover{
            cursor: pointer;
        }

        &__closeicon{
            display: none;
        }

        &--menuopen &__hamburgericon{
            display: none;
        }

        &--menuopen &__closeicon{
            display: block;
            
        }
    }

    &__logo {
        line-height: 0;
        height: 24px;
        line-height: 0;

        & img{
            height: 100%;
        }
    }

    &__spacer {
        flex: 1 1 0;
    }
}