<div class='hig__global-nav__top-nav'>
    <div class='hig__global-nav__top-nav__group hig__global-nav__top-nav__group--left'>
        <div class='hig__global-nav__top-nav__hamburger'>
            <div class='hig__global-nav__top-nav__hamburger__hamburgericon'>{{#renderIcon}}hamburger{{/renderIcon}}</div>
            <div class='hig__global-nav__top-nav__hamburger__closeicon'>{{#renderIcon}}close-hamburger{{/renderIcon}}</div>
        </div>
        <div class='hig__global-nav__top-nav__logo'>
            <a href='{{ logoLink }}'>
                <img src='{{ logo }}'>
            </a>
        </div>
    </div>
    <!--SEARCH-->
    <div class="hig__global-nav__top-nav__spacer"></div>
    <!--PROJECT_ACCOUNT_SWITCHER-->
    <div class="hig__global-nav__top-nav__group hig__global-nav__top-nav__group--right">
    <!--SHORTCUT-->
    </div>
    <!--PROFILE-->
</div>