@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins.scss';

$group-height: 56px;

.hig__global-nav__container__top-nav{
    @include reset;

    position: relative;
    background: $background-1;
    height: $group-height;
    line-height: $group-height;
    box-shadow: 0 1px 4px 0 $box-shadow-1;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__group{
        height: $group-height;
        display: flex;
        align-items: center;

        &--right{
            border-left: 1px solid $base-3;
        }
        &--left{
            padding-right: 20px;
            border-right: 1px solid $base-3;
        }

    }

    &__hamburger{
        margin: 0 10px 0 12px;

        &:hover{
            cursor: pointer;
        }
    }

    &__logo{
        height: 24px;

        & img{
            height: 100%;
        }
    }
}