@import "~@hig/styles/mixins/breakpoints.scss";
@import "~@hig/styles/mixins/spacing.scss";
@import "../mixins.scss";

.hig__side-nav__group {
  @include group-separator;
  padding: spacing(xs) 0;
  position: relative;

  &:empty {
    &:after {
      display: none;
    }
  }
}
