@import "~@hig/styles/mixins/breakpoints.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";

.hig__global-nav__sidenav__group {
  padding: spacing(xs) 0;
  position: relative;

  &:before,
  &:last-child:after {
    position: absolute;
    top: 0;
    height: 1px;
    display: block;
    content: '';
    left: spacing(xs);
    right: spacing(xs);
    border-top: 1px solid color(hig-cool-gray-20);

    @include tablet-breakpoint {
      left: spacing(m);
      right: spacing(s);
    }
  }

  &:last-child:after {
    top: auto;
    bottom: 0;
  }

  &:empty {
    padding: 0;
    background-color: red;

    &:before,
    &:after {
      display: none;
    }
  }
}
