@import '~basics/colors/colors.scss';
@import '~basics/shadows/shadows.scss';
@import '~basics/responsive/responsive.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/layers.scss';

.hig__global-nav__sub-nav {
  @include reset;

  background: color(hig-cool-gray-10);
  height: 54px;
  line-height: 54px;
  @include shadow("dropshadow");

  display: flex;
  align-items: center;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: $sub-nav-layer;
}

.hig__global-nav__sub-nav__module-indicator:hover {
  cursor: pointer;
}

.hig__global-nav__sub-nav__module-indicator__name {
  display: none;
  height: 50px;
  align-items: center;
  flex-shrink: 0;
  padding: 0 17px;

  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;

  @include laptop-breakpoint {
    display: flex;
  }
}

.hig__global-nav__sub-nav__module-indicator__icon {
  display: block;
  margin-left: 15px;

  @include laptop-breakpoint {
    display: none;
  }
}

.hig__global-nav__sub-nav__spacer {
  visibility: hidden;
  flex-shrink: 100;
}
