@import '~helpers/css/mixins';

.hig__global-nav__sub-nav__tabs {
    @include reset;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    z-index: 1;
    height: 54px;
    line-height: 46px;
}
