@import '../../basics/colors/colors.scss';

@mixin tooltip-chevron-border() {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 7px 7px;
}

@mixin tooltip-chevron-bg() {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
}

@mixin tooltip-top-chevron() {
  &::before {
    @include tooltip-chevron-border();
    top: -6px;
    border-top-width: 0;
    border-color: transparent transparent color(hig-cool-gray-50) transparent;
  }

  &::after {
    @include tooltip-chevron-bg();
    top: -6px;
    border-top-width: 0;
    border-color: transparent transparent color(hig-cool-gray-50) transparent;
  }
}

@mixin tooltip-right-chevron() {
  &::before {
    @include tooltip-chevron-border();
    right: -6px;
    border-right-width: 0;
    border-color: transparent transparent transparent color(hig-cool-gray-50);
  }

  &::after {
    @include tooltip-chevron-bg();
    right: -6px;
    border-right-width: 0;
    border-color: transparent transparent transparent color(hig-cool-gray-50);
  }
}

@mixin tooltip-bottom-chevron() {
  &::before {
    @include tooltip-chevron-border();
    bottom: -7px;
    border-bottom-width: 0;
    border-color: color(hig-cool-gray-50) transparent transparent transparent;
  }

  &::after {
    @include tooltip-chevron-bg();
    bottom: -6px;
    border-bottom-width: 0;
    border-color: color(hig-cool-gray-50) transparent transparent transparent;
  }
}

@mixin tooltip-left-chevron() {
  &::before {
    @include tooltip-chevron-border();
    left: -6px;
    border-left-width: 0;
    border-color: transparent color(hig-cool-gray-50) transparent transparent;
  }

  &::after {
    @include tooltip-chevron-bg();
    left: -6px;
    border-left-width: 0;
    border-color: transparent color(hig-cool-gray-50) transparent transparent;
  }
}



.hig__flyout--tooltip {
  .hig__flyout__panel {
    background-color: color(hig-cool-gray-50);
    color: color(hig-white);
    border: 1px solid color(hig-cool-gray-50);
    width: inherit;
    padding: 0 0 0 0
  }

  .hig__flyout__tooltip__content {
    display: inline-block;
    padding: 6px 10px 6px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    font-family: 'ArtifaktElement', sans-serif;
  }

  .hig__flyout__container {
    &--anchor-top-center {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 3px;
    }

    &--anchor-right-center {
      transform: translateX(-100%) translateY(-50%);
      top: 50%;
      left: -3px;
    }

    &--anchor-bottom-center {
      top: -3px;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
    }

    &--anchor-left-center {
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 3px;
    }
  }

  .hig__flyout__container--anchor-top-center .hig__flyout__chevron  {
    @include tooltip-top-chevron;

    &::before,
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .hig__flyout__container--anchor-right-center .hig__flyout__chevron {
    @include tooltip-right-chevron;

    &::before,
    &::after {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .hig__flyout__container--anchor-bottom-center .hig__flyout__chevron {
    @include tooltip-bottom-chevron;

    &::before,
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .hig__flyout__container--anchor-left-center .hig__flyout__chevron {
    @include tooltip-left-chevron;

    &::before,
    &::after {
      top: 50%;
      transform: translateY(-50%);
    }
  }


}

