@import '~helpers/css/mixins/states.scss';
@import '~basics/colors/colors.scss';

.hig__input-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.hig__input-button__input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hig__input-button__label {
  font-size: 12px;
  font-weight: bold;
  font-family: 'ArtifaktElement', sans-serif;
  font-style: italic;
  margin-bottom: 8px;
  line-height: 14px;

  .hig__input-button--required &::after {
    content: '*';
  }
}

.hig__input-button__input-wrapper {
  position: relative;
  color: transparent;
  border: 1px solid color(hig-gray-40);
  background-color: color(hig-white);
  text-align: center;
  font-size: 25px;
  line-height: 14px;
  height: 16px;
  width: 16px;
  border-radius: 3px;

  .hig__input-button--radio & {
    border-radius: 50%;
  }

  .hig__input-button--radio .hig__input-button__input:checked + & {
    box-shadow: inset 0 0 0 3px color(hig-white);
  }

  .hig__input-button:hover & {
    border-color: color(hig-turquoise-30);
  }

  .hig__input-button__input:checked + & {
    border-color: color(hig-slate-50);
    background-color: color(hig-slate-50);
  }

  .hig__input-button__input[disabled] + & {
    border-color: color(hig-gray-30);
    border-style: dotted;
    background-color: color(hig-white);
  }

  .hig__input-button__input:focus + & {
    outline: none;
    border-color: color(hig-blue-20);
  }

  .hig__input-button__input:focus:checked + & {
    border-color: color(hig-blue-20);
    background-color: color(hig-blue-20);
  }

  .hig__icon{
    position: initial;
  }

}

.hig__input-button__input-wrapper > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}