@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/shadows.scss";

.hig__top-nav {
  @import "./tokens.scss";

  @include reset;
  @include shadow("dropshadow");

  display: flex;
  position: relative;
  height: $top-nav-height;
  padding-left: 7px;
  justify-content: space-between;
  align-items: stretch;
  z-index: $top-nav-layer;
  background: color(hig-white);
}

.hig__top-nav__item {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;

  & + &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    bottom: 12px;
    border-left: 1px solid color(hig-cool-gray-20);
  }
}

.hig__top-nav__spacer {
  flex: 1 1 0;
}

.hig__top-nav__logo-wrapper {
  display: flex;
  padding: 0 12px 0 5px;
  align-items: center;
  line-height: 0;
}

.hig__top-nav__logo {
  display: flex;
  cursor: pointer;

  > img,
  > svg {
    height: 24px;
    width: auto;
  }
}

.hig__top-nav__interactions {
  display: flex;
  align-items: center;
}

.hig__top-nav__action {
  height: 56px;
  display: flex;
  align-items: center;
}

.hig__top-nav__help-action {
  display: flex;
  width: 24px;
  align-items: center;
  flex-direction: column;
  margin-right: 12px;
  border: 0;
  background: none;
  outline: 0;
  cursor: pointer;

  // This is required since the IconButton styles are too restrictive,
  // and our Icons have predefined fills.
  // TODO: Refactor IconButton styles, cleanup icons, and then remove this.
  &:hover > .hig__icon > svg * {
    fill: #0696d7;
  }
}

// This is required since the flyout wraps children in DIV elements
// without any classes.
// It's neccessary to break encapsulation here, due to the Flyout component
// still being in Vanilla.
// TODO: Migrate the Flyout component into its own package, and stop rendering useless DIVs.
.hig__top-nav .hig__flyout__panel > div:not([class]) {
  display: flex;
  flex-direction: column;
}

.hig__top-nav__profile-action {
  padding: 0 0 0 12px;
  margin: 12px 12px 12px 0;
  border-width: 0 0 0 1px;
  border-color: #ccc;
  border-style: solid;
  background: none;
  outline: 0;
  cursor: pointer;
}

.hig__top-nav__profile-flyout-content {
  @include reset;

  padding: 4px 14px;

  &__name {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    color: #222934;
  }

  &__email {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #565C5F;
    line-height: 16px;
    font-size: 12px;
  }
}
