@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__global-nav__side-nav__search{
    position: relative;
    border-bottom: 1px solid $base-2;
    padding: 10px 0;
    margin-bottom: 18px;

    &__icon{
        display: inline-block;
        vertical-align: middle;

        &:hover{
            cursor: pointer;
        }
    }

    &__inputholder{
        display: inline-block;
        vertical-align: middle;

        &__input{
            @include reset;
            margin-left: -5px;
            border: none;
            font-size: 14px;
            padding: 5px;
            width: 190px;
            font-weight: 500;

            &::placeholder{
                font-weight: normal;
                color: $gray-8;
            }

            &:focus{
                border: none;
                outline: none;
            }
        }
    }

    &__clear{
        position: absolute;
        right: 0;
        top: 12px;
        opacity: 0; // hide by opacity to enable event propagation with focusin/focusout events

        &--show{
            opacity: 1;
        }

        &:hover{
            cursor: pointer;
        }
    }
}