@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__global-nav__top-nav__profile__profile-flyout-content {
  @include reset;

  &__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-size: 16px;
  }

  &__email {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-size: 12px;
    color: color(hig-cool-gray-50);
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    min-width: 225px;
  }

  &__link {
    margin-top: 10px;
    margin-right: 10px;

    &:last-child {
      margin-right: unset;
    }
  }
}