@import '~basics/colors/colors.scss';

.hig__text-field{
    position: relative;

    &__label{
        position: absolute;
        top: 24px;
        z-index: 2;
    }

    &__input{
        position: absolute;
        margin-top: 24px;
        z-index: 1;
    }

    &__input:focus + &__label{
        top: 0;
    }

}   