@import '~basics/colors/colors.scss';

.hig__global-nav__top-nav__project-account-switcher__list {
  margin-top: 30px;
  margin-bottom: 10px;

  &:first-child{
    margin-top: 10px;
  }
  &:last-child{
    margin-bottom: 0;
  }

  & .hig__global-nav__top-nav__project-account-switcher__item{
    padding-top: 8px;

    &:first-child{
      padding-top: 0;
    }
  }

  &__title{
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: color(hig-gray-20);
  }
}