// Color Function
// Used to get a color value, for example:
// div {
//   background: color(hig-blue-30);
// }

@function color($color-name, $color-variant:null) {
    @if ($color-variant != null) {
        @return map-get(map-get($colors, $color-name), $color-variant);
    } @else {
        @return map-get($colors, $color-name);
    }
}

// Our actual color map
// SASS map docs: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps

$colors: (
    // Background colors
    hig-white: #FFFFFF,

    // Grays
    hig-gray-10: #0A131C,
    hig-gray-20: #4A555B,
    hig-gray-30: #939CA5,
    hig-gray-40: #BEC8D2,
    hig-gray-50: #D5DBE1,
    hig-gray-60: #ECF0F3,
    hig-gray-70: #F3F7FB,

    // Box Shadows
    box-shadow-10: rgba(52,73,94,0.15),
    box-shadow-20: rgba(87,91,94,0.65),

    // Accent Colors
    hig-blue-20: #0576AB,
    hig-blue-30: #0696D7,
    hig-blue-50: #56B7E3,
    hig-blue-60: #CEE7F3,
    hig-blue-70: #E1F2FA,

    hig-green-20: #6B9733,
    hig-green-30: #87BC40,
    hig-green-50: #ABD079,
    hig-green-60: #DAEAC5,
    hig-green-70: #F0F7E8,

    hig-turquoise-20: #0CA899,
    hig-turquoise-30: #0ED3BE,
    hig-turquoise-50: #5CE1D3,
    hig-turquoise-60: #BBF3ED,
    hig-turquoise-70: #E2F9F7,

    hig-indigo-20: #144687,
    hig-indigo-30: #1957A8,
    hig-indigo-50: #5E89C2,
    hig-indigo-60: #D1DDEE,
    hig-indigo-70: #E3EAF4,

    hig-gold-20: #C78016,
    hig-gold-30: #FAA21B,
    hig-gold-50: #FDC36D,
    hig-gold-60: #FDE7C5,
    hig-gold-70: #FEF3E3,

    // Notification Colors
    hig-good-green: #7CCC13,
    hig-alert-red: #EC4A41,
    hig-warning-yellow: #F5B723,

    // Data Visualization
    hig-slate-20: #2E4258,
    hig-slate-30: #4B6B8F,
    hig-slate-50: #7993B0,
    hig-slate-60: #C1CEDC,
    hig-slate-70: #E9EDF1,

    hig-purple-20: #8558C5,
    hig-purple-30: #A76EF5,
    hig-purple-50: #C5A1F8,
    hig-purple-60: #EADCFD,
    hig-purple-70: #F4EDFD,

    hig-pink-20: #C52B78,
    hig-pink-30: #F73595,
    hig-pink-50: #F87CBA,
    hig-pink-60: #FDCDE5,
    hig-pink-70: #FEE6F2,

    hig-salmon-20: #CC6452,
    hig-salmon-30: #FF7B65,
    hig-salmon-50: #FFAD9E,
    hig-salmon-60: #FFDFD9,
    hig-salmon-70: #FFEFEC
    
);

// Dynamicly create css classes that can be used with divs
// this example will add "hig-blue-30" as background color to this div:
// <div class='hig__colors__hig-blue-30--background'></div>

@each $color_name, $color_value in $colors{
    .hig__colors__#{$color_name}--color {
        color: $color_value;
    }
    .hig__colors__#{$color_name}--background {
        background-color: $color_value;
    }
    .hig__colors__#{$color_name}--border {
        border-color: $color_value;
    }
}