@import '~basics/colors/colors.scss';

.hig__global-nav__top-nav__project-account-switcher__item {
  display: flex;
  height: 34px;
  line-height: 34px;
  align-items: center;
  font-size: 13px;
  width: 100%;

  &__image-wrapper {
    display: inline-block;
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;

    border-radius: 2px;
    border: 1px solid color(hig-gray-40);

    color: color(hig-gray-20);
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    background-color: color(hig-gray-60);

    .hig__global-nav__top-nav__project-account-switcher__item--project & {
        width: 32px;
        height: 32px;
    }

    .hig__global-nav__top-nav__project-account-switcher__item--account & {
        width: 60px;
        height: 30px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;

    color: transparent;

    &[src=""] {
        display: none;
    }

    .hig__global-nav__top-nav__project-account-switcher__item--project & {
        width: 32px;
        height: 32px;
    }

    .hig__global-nav__top-nav__project-account-switcher__item--account & {
        width: 60px;
        height: 30px;
    }
  }

  &__label {
    flex: 1 1 auto;
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    cursor: pointer;
    padding-left: 10px;

    .hig__global-nav__top-nav__project-account-switcher__item--active > & {
        color: color(hig-blue-30);
    }
  }
}