// @import '~@hig/styles/mixins/states.scss';
@import '~@hig/styles/mixins/colors.scss';
@import '~@hig/styles/tokens/layers.scss';

.hig__input-buttonV1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.hig__input-buttonV1__input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $checkbox-layer;
}

.hig__input-buttonV1__label {
  font-size: 14px;
  font-weight: normal;
  font-family: 'ArtifaktElement', sans-serif;
  color: color(hig-cool-gray-50);

  margin: 8px;
  line-height: 14px;

  .hig__input-buttonV1--required &::after {
    content: '*';
  }
}

.hig__input-buttonV1__input:checked[disabled], .hig__input-buttonV1__input[disabled]  ~ .hig__input-buttonV1__label {
  color: color(hig-cool-gray-30);
}

.hig__input-buttonV1__input-wrapper {
  position: relative;
  color: transparent;
  border: 1px solid color(hig-cool-gray-30);
  background-color: transparent;
  text-align: center;
  font-size: 25px;
  line-height: 14px;
  height: 16px;
  width: 16px;
  border-radius: 3px;

  .hig__input-buttonV1__input:hover + & {
    border-color: color(hig-turquoise-50);
  }

  .hig__input-buttonV1--checkbox .hig__input-buttonV1__input:checked + &  {
    //background: no-repeat  color(hig-slate-40) url('../../../vanilla/src/basics/icons/src/check-white-24.svg') center;
    border-color: color(hig-slate-40);
  }

  .hig__input-buttonV1--checkbox .hig__input-buttonV1__input:focus:checked + & {
    //background: no-repeat   color(hig-blue-60) url('../../../vanilla/src/basics/icons/src/check-white-24.svg') center;
    border-color: color(hig-blue-60);
  }


  .hig__input-buttonV1--checkbox .hig__input-buttonV1__input:indeterminate:focus + & {
    //background: no-repeat color(hig-blue-60) url('../../../vanilla/src/basics/icons/src/checkmark-indeterminate-16.svg') center;
    border-color: color(hig-blue-60);
  }

  .hig__input-buttonV1--checkbox .hig__input-buttonV1__input:indeterminate:checked + & {
    //background: no-repeat color(hig-slate-40) url('../../../vanilla/src/basics/icons/src/checkmark-indeterminate-16.svg') center;
    border-color: color(hig-slate-40);
  }

  .hig__input-buttonV1--checkbox .hig__input-buttonV1__input:indeterminate + & {
    //background: no-repeat color(hig-slate-40) url('../../../vanilla/src/basics/icons/src/checkmark-indeterminate-16.svg') center;
    font-size: 1000%;
    border-color: color(hig-slate-40);
  }

  .hig__input-buttonV1__input[disabled] + & {
    border-color: color(hig-cool-gray-30);
    border-style: dotted;
    background-color: transparent;
    pointer-events: none;
  }

  .hig__input-buttonV1__input:focus + & {
    outline: none;
    border-color: color(hig-blue-60);
  }

  .hig__icon {
    position: initial;
  }

  .hig__input-buttonV1--checkbox .hig__input-buttonV1__input:checked[disabled] + & {
    //background: no-repeat url('../../../vanilla/src/basics/icons/src/check-disabled-16.svg') center;
    border-color: color(hig-cool-gray-30);
    border-style: dotted;
  }

  .hig__input-buttonV1--radio & {
    border-radius: 50%;
  }

  .hig__input-buttonV1--radio .hig__input-buttonV1__input:focus:checked + & {
    border-color: color(hig-blue-60);
    background-color: color(hig-blue-60);
    box-shadow: inset 0 0 0 3px color(hig-white);
  }

  .hig__input-buttonV1--radio .hig__input-buttonV1__input:checked + & {
    background: none;
    border-color: color(hig-slate-40);
    background-color: color(hig-slate-40);
    box-shadow: inset 0 0 0 3px color(hig-white);
  }

  .hig__input-buttonV1--radio .hig__input-buttonV1__input:checked[disabled] + & {
    background: none;
    background-color: color(hig-cool-gray-30);
    border-color: color(hig-cool-gray-30);
    border-style: dotted;
  }

  .hig__input-buttonV1--radio .hig__input-buttonV1__input[disabled] + & {
    background: none;
    border-color: color(hig-cool-gray-30);
    border-style: dotted;
  }
}

.hig__input-buttonV1__input-wrapper > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
