// @import '~@hig/styles/mixins/states.scss';
@import '~@hig/styles/mixins/colors.scss';
@import '~@hig/styles/tokens/layers.scss';

.hig__input-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.hig__input-button__inputV1 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $checkbox-layer;
}

.hig__input-button__label {
  font-size: 14px;
  font-weight: normal;
  font-family: 'ArtifaktElement', sans-serif;
  color: color(hig-cool-gray-50);

  margin: 8px;
  line-height: 14px;

  .hig__input-button--required &::after {
    content: '*';
  }
  .hig__input-button--checked & {
  }
}

.hig__input-button__inputV1:checked[disabled], .hig__input-button__inputV1[disabled]  ~ .hig__input-button__label {
  color: color(hig-cool-gray-30);
}


.hig__input-button__input-wrapper {
  position: relative;
  color: transparent;
  border: 1px solid color(hig-cool-gray-30);
  background-color: transparent;
  text-align: center;
  font-size: 25px;
  line-height: 14px;
  height: 16px;
  width: 16px;
  border-radius: 3px;

  .check--indeterminate,
  .check--disabled,
  .check,
  &.checked.disabled .check,
  &.indeterminate .check,
  &.indeterminate .check--disabled,
  &.indeterminate.checked .check,
  &.indeterminate.checked .check--disabled,
  &.indeterminate.checked.disabled .check,
  &.indeterminate.checked.disabled .check--disabled {
    display: none;
  }

  &.checked .check,
  &.checked.disabled .check--disabled,
  &.indeterminate .check--indeterminate {
    display: block;
  }

  // workaround for image sizes

  &.checked .check {
    svg {
      top: -2px;
      position: relative;
    }
  }

  &.checked .check--disabled {
    svg {
      top: -3px;
      position: relative;
    }
  }

  .check--indeterminate {
    svg {
      top: -6px;
      position: relative;
    }
  }

  // end workaround

  .hig__input-button__inputV1:hover + & {
    border-color: color(hig-turquoise-50);
  }

  .hig__input-button--checkbox .hig__input-button__inputV1:checked + &  {
    background-color: color(hig-slate-40);
    border-color: color(hig-slate-40);
  }

  .hig__input-button--checkbox .hig__input-button__inputV1:focus:checked + & {
    background-color: color(hig-blue-60);
    border-color: color(hig-blue-60);
  }


  .hig__input-button--checkbox .hig__input-button__inputV1:indeterminate:focus + & {
    background-color: color(hig-blue-60);
    border-color: color(hig-blue-60);
  }

  .hig__input-button--checkbox .hig__input-button__inputV1:indeterminate:checked + & {
    background-color: color(hig-slate-40);
    border-color: color(hig-slate-40);
  }

  .hig__input-button--checkbox .hig__input-button__inputV1:indeterminate + & {
    background-color: color(hig-slate-40);
    border-color: color(hig-slate-40);
  }

  .hig__input-button__inputV1[disabled] + & {
    border-color: color(hig-cool-gray-30);
    border-style: dotted;
    background-color: transparent;
    pointer-events: none;
  }

  .hig__input-button__inputV1:focus + & {
    outline: none;
    border-color: color(hig-blue-60);
  }

  .hig__icon {
    position: initial;
  }

  .hig__input-button--checkbox .hig__input-button__inputV1:checked[disabled] + & {
    background-color: transparent;
    border-color: color(hig-cool-gray-30);
    border-style: dotted;
  }
}

.hig__input-button__input-wrapper > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
