@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";

.hig__side-nav__search {
  display: flex;
  align-items: center;
  position: relative;
}

.hig__side-nav__search__icon {
  position: absolute;
  left: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hig__side-nav__search__input-wrapper {
  margin: 8px 10px;
  width: 100%;
}

.hig__side-nav__search__input {
  @include reset;
  border: 1px solid color(hig-cool-gray-30);
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 35px;
  width: 100%;
  font-weight: 500;

  &:placeholder {
    font-weight: normal;
    color: color(hig-cool-gray-50);
  }

  &:focus {
    outline: none;
  }
}

.hig__side-nav__search__clear {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.hig--light-theme {
  &.hig__side-nav__search {
    border-top: 1px solid color(hig-cool-gray-30);
  }
}
