@import '~helpers/css/mixins/spacing.scss';

.hig__spacer {
  display: block;
}

.hig__spacer--inline {
  display: inline-block;
}

@each $size-name, $size-value in $spacing-sizes {
  .hig__spacer--inset-#{$size-name} {
    padding: $size-value;
  }

  .hig__spacer--stack.hig__spacer--width-#{$size-name} {
    margin-bottom: $size-value;
  }

  .hig__spacer--inline.hig__spacer--width-#{$size-name} {
    margin-right: $size-value;
  }
}
