<div class='hig__global-nav__sub-nav'>
    <div class='hig__global-nav__sub-nav__module-indicator'>
        <div class='hig__global-nav__sub-nav__module-indicator__icon'>{{ moduleIndicatorIcon }}</div>
        <div class='hig__global-nav__sub-nav__module-indicator__name'>{{ moduleIndicatorName }}</div>
    </div>
    <!--TABS-->
    <div class='hig__global-nav__sub-nav__module-indicator'>
        <div class='hig__global-nav__sub-nav__module-indicator__icon hig__global-nav__sub-nav__spacer'>{{ moduleIndicatorIcon }}</div>
        <div class='hig__global-nav__sub-nav__module-indicator__name hig__global-nav__sub-nav__spacer'>{{ moduleIndicatorName }}</div>
    </div>
</div>
