<div class='hig__global-nav__sub-nav'>
    <div class='hig__global-nav__sub-nav__module-indicator-icon'>{{ moduleIndicatorIcon }}</div>
    <div class='hig__global-nav__sub-nav__module-indicator-name'>{{ moduleIndicatorName }}</div>
    <!--TABS-->
    <div class='hig__global-nav__sub-nav__module-indicator-icon hig__global-nav__sub-nav__spacer'>{{ moduleIndicatorIcon }}</div>
    <div class='hig__global-nav__sub-nav__module-indicator-name hig__global-nav__sub-nav__spacer'>{{ moduleIndicatorName }}</div>
</div>
