<html>
    <head>
        <link rel="stylesheet" href="../../../../../dist/hig.css">
        <script type="text/javascript" src="../../../../../dist/hig.js"></script>
    </head>
    <body>
        <style>
            body, html{
                margin: 0; padding: 0;
            }
        </style>

        <script>

            var default_menu = [
                {
                    "headerLabel": "Project",
                    "headerName": "Oakwood Medical Center",
                    "groups": [
                        [
                            {
                                "icon": "insight",
                                "title": "Insight",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Overview",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Risk",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Quality",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Reports",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            }
                        ],
                        [
                            {
                                "icon": "construction-management",
                                "title": "Authoring Collaboration",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Cloud Work Sharing",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Fluent",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Approvals",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "document-management",
                                "title": "Document Management",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Document Workflow",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "placeholder",
                                "title": "Model Coordination",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Overview",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Models",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Checklists",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Clashes",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Issues",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "project-management",
                                "title": "Project Management",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "RFIs",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Submittals",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Daily Log",
                                        "contentImage": "egg.jpg"
                                    },
                                ]
                            },
                            {
                                "icon": "quantities",
                                "title": "Quantities",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "2D",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "3D",
                                        "contentImage": "egg.jpg"
                                    },
                                ]
                            },
                            {
                                "icon": "cost-control",
                                "title": "Cost Control",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Bid Management",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Estimating",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Budget",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Change Orders",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Pay Applications",
                                        "contentImage": "egg.jpg"
                                    },
                                ]
                            },
                            {
                                "icon": "schedule",
                                "title": "Schedule",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Master Schedule",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Production Plan",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "field",
                                "title": "Field",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Quality (Overview)",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Safety (Overview)",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Commissioning (Overview)",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Checklists",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Issues",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Activities",
                                        "contentImage": "egg.jpg"
                                    },
                                ]
                            },
                            {
                                "icon": "layout",
                                "title": "Layout",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "buildingops",
                                "title": "Building Ops",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                        ],
                        [
                            {
                                "icon": "library",
                                "title": "Library",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "photos",
                                "title": "Photos",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "assets",
                                "title": "Assets",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "locations",
                                "title": "Location",
                                "link": "#",
                                "tabs": [
                                ]
                            }
                        ],
                        [
                            {
                                "icon": "project-admin",
                                "title": "Project Admin",
                                "link": "#",
                                "tabs": [
                                ]
                            }
                        ]
                    ]
                },
                {
                    "headerLabel": "Account",
                    "headerName": "Global Construction",
                    "groups": [
                        [
                            {
                                "icon": "insight",
                                "title": "Insight",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "field",
                                "title": "Field",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Checklists Templates",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Issues Templates",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "account-admin",
                                "title": "Account Admin",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Projects",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Members",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Companies",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Services",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Analytics",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Settings",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            }
                        ]
                    ]
                }
            ]

            // CREATE GLOBALNAV COMPONENT
            var GlobalNav = new Hig.GlobalNav();
            GlobalNav.mount("body");

            // ADD SIDENAV
            var SideNav = new GlobalNav.partials.SideNav();
            GlobalNav.addSideNav(SideNav);

            // ADD SEARCH IN SIDENAV
            var SideNavSearch = new SideNav.partials.Search({
                "placeholder": "Find module or submodule"
            });
            SideNav.addSearch(SideNavSearch);
            
            SideNavSearch.onInput(function(e){
                // do example filter of sidenav
                fillSidenav(getFilteredMenuObject(e.target.value), false);
            });

            SideNavSearch.onFocusIn(function(e){
                SideNavSearch.showClearIcon();
            });

            SideNavSearch.onFocusOut(function(e){
                SideNavSearch.hideClearIcon();
            });

            SideNavSearch.onClearIconClick(function(e){
                SideNavSearch.setQuery(''); // set input to empty
            });

            // ADD TOPNAV
            var TopNav = new GlobalNav.partials.TopNav({
                "logo": "https://www.dexigner.com/images/news/xw/22856.jpg",
                "logo_link": "#"
            });
            GlobalNav.addTopNav(TopNav);

            TopNav.setLogo("bim-logo.png"); // Update logo
            TopNav.setLogoLink("http://autodesk.com"); // update logo link

            // CREATE PROFILE
            var MyProfile1 = new TopNav.partials.Profile({
                image: "egg.jpg",
                name: "Jenny Eishingdrelo",
                email: "jenny.eishingdrelo@autodesk.com"
            });

            TopNav.addProfile(MyProfile1);

            MyProfile1.setProfileSettingsLink('http://apple.com');
            MyProfile1.setSignOutLink('http://google.com');

            MyProfile1.onProfileImageClick(function(e){ MyProfile1.open() });
            MyProfile1.onProfileClickOutside(function(e){ MyProfile1.close() });

            // HAMBURGER OPENS/CLOSES SideNav
            var menu_open = false;
            TopNav.onHamburgerClick((e) => {
                if(menu_open){
                    GlobalNav.hideSideNav();
                }else{
                    GlobalNav.showSideNav();
                }
                menu_open = !menu_open;
            });
            
            GlobalNav.onHoverOutside(function(e){
                if(menu_open){
                    GlobalNav.hideSideNav();
                    menu_open = !menu_open;
                }
            })

            // ADD SUBNAV
            var SubNav = new GlobalNav.partials.SubNav();
            GlobalNav.addSubNav(SubNav);

            SubNav.setModuleIndicatorName("Documents Library");
            SubNav.setModuleIndicatorIcon("hamburger");

            // ADD TABS IN SUBNAV
            var Tabs = new SubNav.partials.Tabs();
            SubNav.addTabs(Tabs);

            // ADD SOME CONTENT
            var SlotEl = document.createElement('div');
            SlotEl.innerHTML = `Some example default content`;
            GlobalNav.addSlot(SlotEl);

            var sections = [];

            function fillSidenav(menu, default_menu){
                console.log(menu);

                for (var index in sections){
                    sections[index].unmount();
                }
                sections = [];

                // CONSTRUCT OUR SIDENAV
                for (var section in menu){
                    // ADD A SECTION IN OUR SIDENAV
                    var generated_section = new SideNav.partials.Section({
                        "headerLabel": menu[section]["headerLabel"],
                        "headerName": menu[section]["headerName"]
                    });
                    SideNav.addSection(generated_section);
                    sections.push(generated_section);
                    
                    for (var group in menu[section]["groups"]){
                        if(!menu[section]["groups"][group]["hide_in_menu"]){
                            // ADD A GROUP TO OUR SECTION
                            var generated_group = new generated_section.partials.Group();
                            generated_section.addGroup(generated_group);

                            var current_group = menu[section]["groups"][group];
                            current_group.forEach((item) => {
                                // ADD SOME ITEMS TO OUR GROUP

                                if(!item["hide_in_menu"]){
                                    var generated_item = new generated_group.partials.Module({
                                        "icon": item["icon"],
                                        "title": item["title"],
                                        "link": item["link"]
                                    });
                                    generated_group.addModule(generated_item);

                                    // render subitems for search
                                    if(!default_menu){
                                        item["tabs"].forEach((tab) => {
                                            if(!tab['hide_in_menu']){
                                                var generated_item = new generated_group.partials.Module({
                                                    "icon": "",
                                                    "title": tab["label"]
                                                });
                                                generated_group.addModule(generated_item);
                                            }
                                        });
                                    }

                                    generated_item.onClick((e) => {
                                        e.preventDefault();
                                        console.log('Item '+item["title"]+' clicked');

                                        SubNav.setModuleIndicatorName(item["title"]);
                                        SubNav.setModuleIndicatorIcon(item["icon"]);

                                        // CLEAR TABS
                                        Tabs.unmount();

                                        // ADD TABS IN SUBNAV
                                        Tabs = new SubNav.partials.Tabs();
                                        SubNav.addTabs(Tabs);

                                        var generated_tabs = [];

                                        function tabClicked(generated_tab, tab){
                                            console.log('Tab '+tab["label"]+' clicked');
                                            for (var k = 0; k < generated_tabs.length; k++){
                                                generated_tabs[k].deactivate();
                                            }
                                            generated_tab.activate();

                                            // SLOT IN SOME EXAMPLE IMAGE CONTENT
                                            var contentImage = tab["contentImage"];
                                            SlotEl.innerHTML = `<img src='${contentImage}'>`;
                                        }

                                        item["tabs"].forEach((tab) => {
                                            var generated_tab = new Tabs.partials.Tab({
                                                "label": tab["label"]
                                            });
                                            Tabs.addTab(generated_tab);
                                            generated_tabs.push(generated_tab);

                                            generated_tab.onClick(() => {
                                                tabClicked(generated_tab, tab);
                                            });

                                        });

                                        // SELECT FIRST TAB BY DEFAULT
                                        tabClicked(generated_tabs[0], item["tabs"][0]);

                                    });

                                    // LETS CLICK ON FIRST SIDENAV AND TAB FOR DEFAULT VALUES;
                                    if(!window.firstClicked){
                                        generated_item.el.click();
                                        window.firstClicked = true;
                                    }
                                }
                            });
                        }
                    }
                }
            }

            function getFilteredMenuObject(q){
                q = q.toLowerCase();
                var ro = JSON.parse(JSON.stringify(default_menu));
                
                if(q == ""){
                    for (var sectionIndex in ro){
                        for (var groupIndex in ro[sectionIndex]["groups"]){
                            for(var itemIndex in ro[sectionIndex]["groups"][groupIndex]){
                                for(var tabIndex in ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"]){
                                    ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]['hide_in_menu'] = true;
                                }
                            }
                        }
                    }
                }else{
                    for (var sectionIndex in ro){
                        for (var groupIndex in ro[sectionIndex]["groups"]){
                            for(var itemIndex in ro[sectionIndex]["groups"][groupIndex]){
                                for(var tabIndex in ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"]){
                                    if(ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]["label"].toLowerCase().indexOf(q) == -1){
                                        ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]['hide_in_menu'] = true;
                                    }else{
                                        ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]['hide_in_menu'] = false;
                                        console.log(ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]["label"].toLowerCase())
                                    }
                                }
                            }
                        }
                    }

                    // clear all sections without any match
                    for (var sectionIndex in ro){
                        for (var groupIndex in ro[sectionIndex]["groups"]){
                            var itemsHiddenCounter = 0;
                            for(var itemIndex in ro[sectionIndex]["groups"][groupIndex]){
                                var tabsHiddenCounter = 0;
                                for(var tabIndex in ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"]){
                                    if(ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]['hide_in_menu']){
                                        tabsHiddenCounter += 1;
                                    }
                                }
                                if(ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"].length == tabsHiddenCounter && ro[sectionIndex]["groups"][groupIndex][itemIndex]["title"].toLowerCase().indexOf(q) == -1){
                                    ro[sectionIndex]["groups"][groupIndex][itemIndex]['hide_in_menu'] = true;
                                    itemsHiddenCounter += 1;
                                }
                            }
                            if(Object.keys(ro[sectionIndex]["groups"][groupIndex]).length == itemsHiddenCounter){
                                ro[sectionIndex]["groups"][groupIndex]['hide_in_menu'] = true;
                            }
                        }
                    }

                }

                return ro;
            }

            fillSidenav(getFilteredMenuObject(""), true);
            

        </script>

    </body>
</html>
