<html>
    <head>
        <link rel="stylesheet" href="../../../../../dist/hig.css">
        <script type="text/javascript" src="../../../../../dist/hig.js"></script>
    </head>
    <body>
        <style>
            body, html{
                margin: 0; padding: 0;
            }
            .hig__global-nav__slot{
                text-align: center;
            }
            .hig__global-nav__slot img{
                max-width: 1280px;
            }
        </style>

        <script>

            var default_menu = [
                {
                    "headerLabel": "Project",
                    "headerName": "Oakwood Medical Center",
                    "groups": [
                        [
                            {
                                "icon": "insight",
                                "title": "Insight",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Overview",
                                        "contentImage": "content/Oakwood__Insight__Overview@2x.png"
                                    },
                                    {
                                        "label": "Risk",
                                        "contentImage": "content/Oakwood__Insight__Quality@2x.png"
                                    },
                                    {
                                        "label": "Quality",
                                        "contentImage": "content/Oakwood__Insight__Quality@2x.png"
                                    },
                                    {
                                        "label": "Reports",
                                        "contentImage": "content/Oakwood__Insight__Reports@2x.png"
                                    }
                                ]
                            }
                        ],
                        [
                            {
                                "icon": "construction-management",
                                "title": "Authoring Collaboration",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Cloud Work Sharing",
                                        "contentImage": "content/Oakwood__AuthoringCollaboration__CloudWorkSharing@2x.png"
                                    },
                                    {
                                        "label": "Fluent",
                                        "contentImage": "content/Oakwood__AuthoringCollaboration__Fluent@2x.png"
                                    },
                                    {
                                        "label": "Approvals",
                                        "contentImage": "content/Oakwood__AuthoringCollaboration__Approvals@2x.png"
                                    }
                                ]
                            },
                            {
                                "icon": "document-management",
                                "title": "Document Management",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Document Workflow",
                                        "contentImage": "content/Oakwood__DocumentManagement__DocumentWorkflow@2x.png"
                                    }
                                ]
                            },
                            {
                                "icon": "placeholder",
                                "title": "Model Coordination",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Overview",
                                        "contentImage": "content/Oakwood__ModelCoordination__Overview@2x.png"
                                    },
                                    {
                                        "label": "Models",
                                        "contentImage": "content/Oakwood__ModelCoordination__Models@2x.png"
                                    },
                                    {
                                        "label": "Checklists",
                                        "contentImage": "content/Oakwood__ModelCoordination__Checklists@2x.png"
                                    },
                                    {
                                        "label": "Clashes",
                                        "contentImage": "content/Oakwood__ModelCoordination__Clashes@2x.png"
                                    },
                                    {
                                        "label": "Issues",
                                        "contentImage": "content/Oakwood__ModelCoordination__Issues@2x.png"
                                    }
                                ]
                            },
                            {
                                "icon": "project-management",
                                "title": "Project Management",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "RFIs",
                                        "contentImage": "content/Oakwood__ProjectManagement__RFIs@2x.png"
                                    },
                                    {
                                        "label": "Submittals",
                                        "contentImage": "content/Oakwood__ProjectManagement__Submittals@2x.png"
                                    },
                                    {
                                        "label": "Daily Log",
                                        "contentImage": "content/Oakwood__ProjectManagement__DailyLog@2x.png"
                                    },
                                ]
                            },
                            {
                                "icon": "quantities",
                                "title": "Quantities",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "2D",
                                        "contentImage": "content/Oakwood__Quantities__2D@2x.png"
                                    },
                                    {
                                        "label": "3D",
                                        "contentImage": "content/Oakwood__Quantities__3D@2x.png"
                                    },
                                ]
                            },
                            {
                                "icon": "cost-control",
                                "title": "Cost Control",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Bid Management",
                                        "contentImage": "content/Oakwood__CostControl__BidManagement@2x.png"
                                    },
                                    {
                                        "label": "Estimating",
                                        "contentImage": "content/Oakwood__CostControl__Estimating@2x.png"
                                    },
                                    {
                                        "label": "Budget",
                                        "contentImage": "content/Oakwood__CostControl__Budget@2x.png"
                                    },
                                    {
                                        "label": "Change Orders",
                                        "contentImage": "content/Oakwood__CostControl__ChangeOrders@2x.png"
                                    },
                                    {
                                        "label": "Pay Applications",
                                        "contentImage": "content/Oakwood__CostControl__PayApplications@2x.png"
                                    },
                                ]
                            },
                            {
                                "icon": "schedule",
                                "title": "Schedule",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Master Schedule",
                                        "contentImage": "content/Oakwood__Schedule__MasterSchedule@2x.png"
                                    },
                                    {
                                        "label": "Production Plan",
                                        "contentImage": "content/Oakwood__Schedule__ProductionPlan@2x.png"
                                    }
                                ]
                            },
                            {
                                "icon": "field",
                                "title": "Field",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Quality",
                                        "contentImage": "content/Oakwood__Field__Quality@2x.png"
                                    },
                                    {
                                        "label": "Safety",
                                        "contentImage": "content/Oakwood__Field__Safety@2x.png"
                                    },
                                    {
                                        "label": "Commissioning",
                                        "contentImage": "content/Oakwood__Field__Commissioning@2x.png"
                                    },
                                    {
                                        "label": "Checklists",
                                        "contentImage": "content/Oakwood__Field__Checklists@2x.png"
                                    },
                                    {
                                        "label": "Issues",
                                        "contentImage": "content/Oakwood__Field__Issues@2x.png"
                                    },
                                    {
                                        "label": "Activities",
                                        "contentImage": "content/Oakwood__Field__Activities@2x.png"
                                    },
                                ]
                            },
                            {
                                "icon": "layout",
                                "title": "Layout",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "buildingops",
                                "title": "Building Ops",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                        ],
                        [
                            {
                                "icon": "library",
                                "title": "Library",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "photos",
                                "title": "Photos",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "assets",
                                "title": "Assets",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "locations",
                                "title": "Location",
                                "link": "#",
                                "tabs": [
                                ]
                            }
                        ],
                        [
                            {
                                "icon": "project-admin",
                                "title": "Project Admin",
                                "link": "#",
                                "tabs": [
                                ]
                            }
                        ]
                    ]
                },
                {
                    "headerLabel": "Account",
                    "headerName": "Global Construction",
                    "groups": [
                        [
                            {
                                "icon": "insight",
                                "title": "Insight",
                                "link": "#",
                                "tabs": [
                                ]
                            },
                            {
                                "icon": "field",
                                "title": "Field",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Checklists Templates",
                                        "contentImage": "content/GlobalConstruction__Field__ChecklistsTemplates@2x.png"
                                    },
                                    {
                                        "label": "Issues Templates",
                                        "contentImage": "content/GlobalConstruction__Field__IssuesTemplates@2x.png"
                                    }
                                ]
                            },
                            {
                                "icon": "account-admin",
                                "title": "Account Admin",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Projects",
                                        "contentImage": "content/GlobalConstruction__AccountAdmin__Projects@2x.png"
                                    },
                                    {
                                        "label": "Members",
                                        "contentImage": "content/GlobalConstruction__AccountAdmin__Members@2x.png"
                                    },
                                    {
                                        "label": "Companies",
                                        "contentImage": "content/GlobalConstruction__AccountAdmin__Companies@2x.png"
                                    },
                                    {
                                        "label": "Services",
                                        "contentImage": "content/GlobalConstruction__AccountAdmin__Services@2x.png"
                                    },
                                    {
                                        "label": "Analytics",
                                        "contentImage": "content/GlobalConstruction__AccountAdmin__Analytics@2x.png"
                                    },
                                    {
                                        "label": "Settings",
                                        "contentImage": "content/GlobalConstruction__AccountAdmin__Settings@2x.png"
                                    }
                                ]
                            }
                        ]
                    ]
                }
            ]

            // CREATE GLOBALNAV COMPONENT
            var GlobalNav = new Hig.GlobalNav();
            GlobalNav.mount("body");

            // ADD SIDENAV
            var SideNav = new GlobalNav.partials.SideNav();
            GlobalNav.addSideNav(SideNav);

            // ADD SEARCH IN SIDENAV
            var SideNavSearch = new SideNav.partials.Search({
                "placeholder": "Find module or submodule"
            });
            SideNav.addSearch(SideNavSearch);

            SideNavSearch.onInput(function(e){
                // do example filter of sidenav
                fillSidenav(getFilteredMenuObject(e.target.value), false);
            });

            SideNavSearch.onFocusIn(function(e){
                SideNavSearch.showClearIcon();
            });

            SideNavSearch.onFocusOut(function(e){
                SideNavSearch.hideClearIcon();
            });

            SideNavSearch.onClearIconClick(function(e){
                SideNavSearch.setQuery(''); // set input to empty
            });

            // ADD TOPNAV
            var TopNav = new GlobalNav.partials.TopNav({
                "logo": "https://www.dexigner.com/images/news/xw/22856.jpg",
                "logo_link": "#"
            });
            GlobalNav.addTopNav(TopNav);

            TopNav.setLogo("bim-logo.png"); // Update logo
            TopNav.setLogoLink("http://autodesk.com"); // update logo link

            // CREATE PROFILE
            var MyProfile1 = new TopNav.partials.Profile({
                image: "avatar/david-construction-project-manager.png",
                name: "David Rogers",
                email: "david.rogers@autodesk.com"
            });

            TopNav.addProfile(MyProfile1);

            MyProfile1.setProfileSettingsLink('http://apple.com');
            MyProfile1.setSignOutLink('http://google.com');

            MyProfile1.onProfileImageClick(function(e){ MyProfile1.open() });
            MyProfile1.onProfileClickOutside(function(e){ MyProfile1.close() });

            // HAMBURGER OPENS/CLOSES SideNav
            var menu_open = false;
            TopNav.onHamburgerClick((e) => {
                if(menu_open){
                    GlobalNav.hideSideNav();
                }else{
                    GlobalNav.showSideNav();
                }
                menu_open = !menu_open;
            });

            GlobalNav.onHoverOutside(function(e){
                if(menu_open){
                    GlobalNav.hideSideNav();
                    menu_open = !menu_open;
                }
            })

            // ADD SUBNAV
            var SubNav = new GlobalNav.partials.SubNav();
            GlobalNav.addSubNav(SubNav);

            SubNav.setModuleIndicatorName("Documents Library");
            SubNav.setModuleIndicatorIcon("hamburger");

            // ADD TABS IN SUBNAV
            var Tabs = new SubNav.partials.Tabs();
            SubNav.addTabs(Tabs);

            // ADD SOME CONTENT
            var SlotEl = document.createElement('div');
            SlotEl.innerHTML = `Some example default content`;
            GlobalNav.addSlot(SlotEl);

            var fillSidenav = function(menu, default_menu){

                // CONSTRUCT OUR SIDENAV
                for (var section in menu){

                    (function(section){
                        // INTERNAL HELPER ARRAYS TO KEEP STATE
                        var modules = [];
                        
                        // ADD A SECTION IN OUR SIDENAV
                        var generated_section = new SideNav.partials.Section({
                            "headerLabel": menu[section]["headerLabel"],
                            "headerName": menu[section]["headerName"]
                        });
                        SideNav.addSection(generated_section);

                        // ADD A COLLAPSE ICON TO OUR SIDENAV SECTION HEADER
                        var generated_collapseIcon = new generated_section.partials.Collapse();
                        generated_section.addCollapse(generated_collapseIcon);
                        
                        var collapse_submodules = true;
                        generated_collapseIcon.onClick((e) => {
                            if(collapse_submodules){
                                generated_collapseIcon.minimize();
                                for (var module in modules){
                                    modules[module].showSubmodules();
                                }
                            }else{
                                generated_collapseIcon.maximize();
                                for (var module in modules){
                                    modules[module].hideSubmodules();
                                }
                            }
                            collapse_submodules = !collapse_submodules;
                        });

                        for (var group in menu[section]["groups"]){

                            // ADD A GROUP TO OUR SECTION
                            var generated_group = new generated_section.partials.Group();
                            generated_section.addGroup(generated_group);

                            var current_group = menu[section]["groups"][group];
                            current_group.forEach((item) => {

                                // ADD SOME MODULES TO OUR GROUP                               
                                var generated_module = new generated_group.partials.Module({
                                    "icon": item["icon"],
                                    "title": item["title"],
                                    "link": item["link"]
                                });
                                generated_group.addModule(generated_module);

                                // save to our array for state mngmt
                                modules.push(generated_module);

                                // render subitems for search
                                item["tabs"].forEach((tab) => {
                                    var generated_submodule = new generated_module.partials.Submodule({
                                        "title": tab["label"],
                                        "link": "#"
                                    });
                                    generated_module.addSubmodule(generated_submodule);
                                });

                                generated_module.onClick((e) => {
                                    e.preventDefault();
                                    console.log('Item '+item["title"]+' clicked');

                                    SubNav.setModuleIndicatorName(item["title"]);
                                    SubNav.setModuleIndicatorIcon(item["icon"]);

                                    // CLEAR TABS
                                    Tabs.unmount();

                                    // ADD TABS IN SUBNAV
                                    Tabs = new SubNav.partials.Tabs();
                                    SubNav.addTabs(Tabs);

                                    var generated_tabs = [];

                                    function tabClicked(generated_tab, tab){
                                        console.log('Tab '+tab["label"]+' clicked');
                                        for (var k = 0; k < generated_tabs.length; k++){
                                            generated_tabs[k].deactivate();
                                        }
                                        generated_tab.activate();

                                        // SLOT IN SOME EXAMPLE IMAGE CONTENT
                                        var contentImage = tab["contentImage"];
                                        SlotEl.innerHTML = `<img src='${contentImage}' width="1280">`;
                                    }

                                    item["tabs"].forEach((tab) => {
                                        var generated_tab = new Tabs.partials.Tab({
                                            "label": tab["label"]
                                        });
                                        Tabs.addTab(generated_tab);
                                        generated_tabs.push(generated_tab);

                                        generated_tab.onClick(() => {
                                            tabClicked(generated_tab, tab);
                                        });

                                    });

                                    // SELECT FIRST TAB BY DEFAULT
                                    tabClicked(generated_tabs[0], item["tabs"][0]);

                                });

                                // LETS CLICK ON FIRST SIDENAV AND TAB FOR DEFAULT VALUES;
                                if(!window.firstClicked){
                                    generated_module.el.click();
                                    window.firstClicked = true;
                                }
                                
                            });
                            
                        }
                    })(section);
                }
            }

            function getFilteredMenuObject(q){
                q = q.toLowerCase();
                var ro = JSON.parse(JSON.stringify(default_menu));

                if(q == ""){
                    for (var sectionIndex in ro){
                        for (var groupIndex in ro[sectionIndex]["groups"]){
                            for(var itemIndex in ro[sectionIndex]["groups"][groupIndex]){
                                for(var tabIndex in ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"]){
                                    ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]['hide_in_menu'] = true;
                                }
                            }
                        }
                    }
                }else{
                    for (var sectionIndex in ro){
                        for (var groupIndex in ro[sectionIndex]["groups"]){
                            for(var itemIndex in ro[sectionIndex]["groups"][groupIndex]){
                                for(var tabIndex in ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"]){
                                    if(ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]["label"].toLowerCase().indexOf(q) == -1){
                                        ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]['hide_in_menu'] = true;
                                    }else{
                                        ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]['hide_in_menu'] = false;
                                        console.log(ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]["label"].toLowerCase())
                                    }
                                }
                            }
                        }
                    }

                    // clear all sections without any match
                    for (var sectionIndex in ro){
                        for (var groupIndex in ro[sectionIndex]["groups"]){
                            var itemsHiddenCounter = 0;
                            for(var itemIndex in ro[sectionIndex]["groups"][groupIndex]){
                                var tabsHiddenCounter = 0;
                                for(var tabIndex in ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"]){
                                    if(ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"][tabIndex]['hide_in_menu']){
                                        tabsHiddenCounter += 1;
                                    }
                                }
                                if(ro[sectionIndex]["groups"][groupIndex][itemIndex]["tabs"].length == tabsHiddenCounter && ro[sectionIndex]["groups"][groupIndex][itemIndex]["title"].toLowerCase().indexOf(q) == -1){
                                    ro[sectionIndex]["groups"][groupIndex][itemIndex]['hide_in_menu'] = true;
                                    itemsHiddenCounter += 1;
                                }
                            }
                            if(Object.keys(ro[sectionIndex]["groups"][groupIndex]).length == itemsHiddenCounter){
                                ro[sectionIndex]["groups"][groupIndex]['hide_in_menu'] = true;
                            }
                        }
                    }

                }

                return ro;
            }

            fillSidenav(getFilteredMenuObject(""), true);


        </script>

    </body>
</html>
