<html>
    <head>
        <link rel="stylesheet" href="../../../../../dist/hig.css">
        <script type="text/javascript" src="../../../../../dist/hig.js"></script>
    </head>
    <body>
        <style>
            body, html{
                margin: 0; padding: 0;
            }
        </style>

        <script>

            var menu = {
                "section1": {
                    "headerLabel": "Project",
                    "headerName": "Oakwood Medical Center",
                    "groups": {
                        "group1": [
                            {
                                "icon": "project-management",
                                "title": "Item 1.1",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "One One",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "One Two",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "One Three",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "project-management",
                                "title": "Item 1.2",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Two One",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Two Two",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Two Three",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "project-management",
                                "title": "Item 1.3",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Three One",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Three Two",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Three Three",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            }
                        ],
                        "group2": [
                            {
                                "icon": "project-management",
                                "title": "Item 2.1",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "One One",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "One Two",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "One Three",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "project-management",
                                "title": "Item 2.2",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Two One",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Two Two",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Two Three",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "project-management",
                                "title": "Item 2.3",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Three One",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Three Two",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Three Three",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            }
                        ]
                    }
                },
                "section2": {
                    "headerLabel": "Project",
                    "headerName": "Kevlar",
                    "groups": {
                        "group1": [
                            {
                                "icon": "project-management",
                                "title": "Item 1.1",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Kavlar One One",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Kavlar One Two",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Kavlar One Three",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "project-management",
                                "title": "Item 1.2",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Kavlar Two One",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Kavlar Two Two",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Kavlar Two Three",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            },
                            {
                                "icon": "project-management",
                                "title": "Item 1.3",
                                "link": "#",
                                "tabs": [
                                    {
                                        "label": "Kavlar Three One",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Kavlar Three Two",
                                        "contentImage": "egg.jpg"
                                    },
                                    {
                                        "label": "Kavlar Three Three",
                                        "contentImage": "egg.jpg"
                                    }
                                ]
                            }
                        ]
                    }
                }
            }

            // CREATE GLOBALNAV COMPONENT
            var GlobalNav = new Hig.GlobalNav();
            GlobalNav.mount("body");

            // ADD SIDENAV
            var SideNav = new GlobalNav.partials.SideNav();
            GlobalNav.addSideNav(SideNav);

            // ADD TOPNAV
            var TopNav = new GlobalNav.partials.TopNav({
                "logo": "https://www.dexigner.com/images/news/xw/22856.jpg",
                "logo_link": "#"
            });
            GlobalNav.addTopNav(TopNav);

            TopNav.setLogo("bim-logo.png"); // Update logo
            TopNav.setLogoLink("http://autodesk.com"); // update logo link

            // CREATE PROFILE
            var MyProfile1 = new TopNav.partials.Profile({
                image: "egg.jpg",
                name: "Jenny Eishingdrelo",
                email: "jenny.eishingdrelo@autodesk.com"
            });

            TopNav.addProfile(MyProfile1);

            MyProfile1.setProfileSettingsLink('http://apple.com');
            MyProfile1.setSignOutLink('http://google.com');

            MyProfile1.onProfileImageClick(function(e){ MyProfile1.open() });
            MyProfile1.onProfileClickOutside(function(e){ MyProfile1.close() });

            // HAMBURGER OPENS/CLOSES SideNav
            var menu_open = false;
            TopNav.onHamburgerClick((e) => {
                if(menu_open){
                    GlobalNav.hideSideNav();
                }else{
                    GlobalNav.showSideNav();
                }
                menu_open = !menu_open;
            });

            // ADD SUBNAV
            var SubNav = new GlobalNav.partials.SubNav();
            GlobalNav.addSubNav(SubNav);

            SubNav.setModuleIndicatorName("Documents Library");
            SubNav.setModuleIndicatorIcon("hamburger");

            // ADD TABS IN SUBNAV
            var Tabs = new SubNav.partials.Tabs();
            SubNav.addTabs(Tabs);

            // ADD SOME CONTENT
            var SlotEl = document.createElement('div');
            SlotEl.innerHTML = `Some example default content`;
            GlobalNav.addSlot(SlotEl);

            // CONSTRUCT OUR SIDENAV
            for (var section in menu){
                // ADD A SECTION IN OUR SIDENAV
                var generated_section = new SideNav.partials.Section({
                    "headerLabel": menu[section]["headerLabel"],
                    "headerName": menu[section]["headerName"]
                });
                SideNav.addSection(generated_section);

                for (var group in menu[section]["groups"]){
                    // ADD A GROUP TO OUR SECTION
                    var generated_group = new generated_section.partials.Group();
                    generated_section.addGroup(generated_group);

                    var current_group = menu[section]["groups"][group];
                    current_group.forEach((item) => {              
                        // ADD SOME ITEMS TO OUR GROUP

                        var generated_item = new generated_group.partials.Item({
                            "icon": item["icon"],
                            "title": item["title"],
                            "link": item["link"]
                        });
                        generated_group.addItem(generated_item);

                        generated_item.onClick((e) => {
                            e.preventDefault();
                            console.log('Item '+item["title"]+' clicked');

                            SubNav.setModuleIndicatorName(item["title"]);
                            SubNav.setModuleIndicatorIcon(item["icon"]);

                            // CLEAR TABS
                            Tabs.unmount();

                            // ADD TABS IN SUBNAV
                            Tabs = new SubNav.partials.Tabs();
                            SubNav.addTabs(Tabs);

                            var generated_tabs = [];
                            item["tabs"].forEach((tab) => {
                                var generated_tab = new Tabs.partials.Tab({
                                    "label": tab["label"]
                                });
                                Tabs.addTab(generated_tab);
                                generated_tabs.push(generated_tab);
                                
                                generated_tab.onClick(() => {
                                    console.log('Tab '+tab["label"]+' clicked');
                                    for (var k = 0; k < generated_tabs.length; k++){
                                        generated_tabs[k].deactivate();
                                    }
                                    generated_tab.activate();

                                    // SLOT IN SOME EXAMPLE IMAGE CONTENT
                                    var contentImage = tab["contentImage"];
                                    SlotEl.innerHTML = `<img src='${contentImage}'>`;
                                });
                            })
                            
                        });
                    });
                }
            }

            // LETS CLICK ON FIRST SIDENAV AND TAB FOR DEFAULT VALUES;
            

        </script>

    </body>
</html>
