@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__button-v1 {
  @include typography-base;
  box-sizing: border-box;
  user-select: none;
  display: inline-block;

  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  // overflow
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:visited {
    color: color(hig-white);
  }

  &:hover {
    background-color: color(hig-blue-40);
  }

  &:active,
  &:focus {
    outline: none;
    background-color: color(hig-blue-60);
    box-shadow: none;
  }

  & + .hig__button-v1 {
    margin-left: 10px;
  }

  &.hig__button-v1--disabled {
    pointer-events: none;
  }
}

// Types
.hig__button-v1--type-primary {
  background: color(hig-blue-50);
  color: color(hig-white);

  svg * {
    fill: color(hig-white);
  }

  &.hig__button-v1--disabled {
    background-color: color(hig-blue-20);

    &:hover,
    &:focus {
      background-color: color(hig-blue-20);
    }
  }
}

.hig__button-v1--type-secondary {
  border-color: color(hig-cool-gray-30);

  &.hig__button-v1--disabled {
    border-color: color(hig-cool-gray-20);
  }
}

.hig__button-v1--type-flat {
  border-color: transparent;

  &.hig__button-v1--disabled {
    border-color: transparent;
  }
}

.hig__button-v1--type-secondary,
.hig__button-v1--type-flat {
  background: none;
  color: color(hig-gray-70);

  &:visited {
    color: color(hig-gray-70);
  }

  &:hover {
    background: none;
    border-color: color(hig-turquoise-50);
  }

  &:active,
  &:focus {
    outline: none;
    color: color(hig-white);
    background: color(hig-turquoise-40);
    border-color: color(hig-turquoise-40);
    box-shadow: none;

    svg * {
      fill: color(hig-white);
    }
  }

  &.hig__button-v1--disabled {
    background: none;
    color: color(hig-cool-gray-30);
  }
}

// Sizes
.hig__button-v1--size-small {
  @include typography-small;
  font-weight: 700;
  height: 28px;
  line-height: 26px;
  min-width: 66px;
  padding: 0 16px;
}

.hig__button-v1--size-standard {
  @include typography-medium;
  font-weight: 700;
  height: 36px;
  line-height: 34px;
  min-width: 68px;
  padding: 0 16px;
}

.hig__button-v1--size-large {
  @include typography-large;
  font-weight: 700;
  height: 42px;
  line-height: 40px;
  min-width: 90px;
  padding: 0 24px;
}

// Widths
.hig__button-v1--width-grow {
  width: 100%;
}

.hig__button-v1__icon {
  display: inline-block;
  position: relative;
  top: -1px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 1px;

  > .hig__icon {
    display: inline;
    position: initial;
    padding-left: 16px;
  }

  .hig__button-v1--disabled & {
    .hig__icon {
      opacity: 0.2;
    }
  }
}
