.hig__global-nav__top-nav__profile__profile-image {
    height: 100%;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hig__global-nav__top-nav__profile__profile-image__image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
