@import '~basics/fonts/fonts.scss';
@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/mixins/placeholder.scss';

.hig__text-area {
    position: relative;
    font-family: 'ArtifaktElement', sans-serif;
    margin-bottom: 20px;
    margin-top: 22px;

    *::selection {
        background-color: color(adsk-turquoise-lightest);
    }
}

.hig__text-area__label {
    position: absolute;
    padding-bottom: 8px;

    color: color(hig-gray-30);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;

    transition-property: top, font-size, line-height;
    transition-duration: 0.1s, 0.1s, 0.1s;
    transition-delay: 0.1s;

    &.hig__text-area__label--visible {
        display: inherit;
    }

    .hig__text-area__field:focus + & {
        color: color(adsk-blue-dark);
    }

    .hig__text-area--required &::after {
        content: '*';
        display: inline-block;
        margin-left: 5px;
    }

    .hig__text-area__field.hig__text-area__field--no-value + & {
        top: 12px;
        left: 10px;
        font-size: 14px;
    }

    .hig__text-area__field--has-value + &,
    .hig__text-area__field--no-value.hig__text-area__field:focus + & {
        top: -22px;
        left: 1px;
        font-size: 12px;
        transition-delay: 0s;
    }

    .hig__text-area__field[disabled] + & {
        color: color(hig-gray-50);
    }
}

.hig__text-area__field {
    min-width: 280px;
    min-height: 100px;
    padding: 8px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid color(hig-gray-40);
    resize: none;

    font-size: 14px;
    line-height: 20px;
    color: color(hig-gray-10);
    font-family: 'ArtifaktElement', sans-serif;

    @include placeholder {
        transition: color 0.2s;
        font-size: 14px;
        line-height: 20px;
        color: color(hig-gray-30);
    }

    &:hover {
        border: 1px solid color(adsk-turquoise);
        box-shadow: 0 0 0 1px color(adsk-turquoise);
    }

    &.hig__text-area__field--no-value {
        @include placeholder {
            color: transparent;
        }
    }

    &:focus {
        outline: none;
        border: 1px solid color(adsk-blue-dark);
        box-shadow: 0 0 0 1px color(adsk-blue-dark);
        @include placeholder {
            color: color(hig-gray-30);
            transition-delay: 0.2s;
        }
    }

    &:disabled {
        border-style: dashed;
        &:hover {
            border-color: color(hig-gray-40);
        }
    }
}

.hig__text-area__instructions,
.hig__text-area__required-notice {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    color: color(hig-gray-30);
}

.hig__text-area__required-notice {
    &::before {
        margin-right: 3px;
        content: '*';
    }
}
