// Spacing Function
// Used to get a spacing value, for example:
// div {
//   margin-bottom: spacing(xl);
// }
@function spacing($spacing-name) {
  @return map-get($spacings, $spacing-name);
}

$spacings: (
  xxs: 4px,
  xs: 8px,
  s: 12px,
  m: 16px,
  l: 24px,
  xl: 32px,
  xxl: 64px,
);

// Dynamicly create css classes that can be used with divs
// this example will add "hig-blue-30" as background color to this div:
// <div class='hig__spacing__inset--xl'></div>

@each $spacing_name, $spacing_value in $spacings {
  .hig__spacing__inset--#{$spacing_name} {
    display: block;
    padding: $spacing_value;
  }

  .hig__spacing__stack--#{$spacing_name} {
    display: block;
    margin-bottom: $spacing_value;
  }

  .hig__spacing__inline--#{$spacing_name} {
    margin-right: $spacing_value;
  }
}
