@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__side-nav__link {
  @include typography-base;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 0 spacing(m);
}

// Light theme
.hig--light-theme {
  &.hig__side-nav__link {
    color: color(hig-cool-gray-50);
    svg * { stroke: color(hig-cool-gray-50); }

    &:hover {
      color: color(hig-blue-50);

      svg * {
        stroke: color(hig-blue-50);
      }
    }
  }
}

// Dark blue theme
.hig--dark-blue-theme {
  &.hig__side-nav__link {
    color: color(hig-white);
    svg * { stroke: color(hig-white); }

    &:hover {
      color: color(hig-blue-40);

      svg * {
        stroke: color(hig-blue-40);
      }
    }
  }
}
