@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/mixins/spacing.scss';
.hig__global-nav__side-nav__section__group__module__collapse {
  @include vendor-prefix('transform', 'rotate(0deg)');
  margin-right: spacing(xs);
  &--collapsed {
    @include vendor-prefix('transform', 'rotate(-90deg)');
  }
  &--hide {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

// Light theme
.hig__global-nav__side-nav__section__group__module__collapse {
  svg * {
    stroke: color(hig-cool-gray-50);
  }
}

// Dark blue theme
.hig--dark-blue-theme {
  &.hig__global-nav__side-nav__section__group__module__collapse {
    svg * {
      stroke: color(hig-cool-gray-40);
    }
  }
}