@mixin chevron-border($chevronBorderWidth) {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $chevronBorderWidth $chevronBorderWidth $chevronBorderWidth $chevronBorderWidth
}

@mixin chevron-bg($chevronBgWidth) {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $chevronBgWidth $chevronBgWidth $chevronBgWidth $chevronBgWidth
}

@mixin top-chevron($externalBorderColor, $internalBorderColor,  $chevronBorderWidth, $chevronBgWidth)  {
  &::before {
    @include chevron-border($chevronBorderWidth);
    top: -11px;
    border-top-width: 0;
    border-color: transparent transparent $externalBorderColor transparent;
  }

  &::after {
    @include chevron-bg($chevronBgWidth);
    top: -9px;
    border-top-width: 0;
    border-color: transparent transparent $internalBorderColor transparent;
  }
}

@mixin right-chevron($externalBorderColor, $internalBorderColor, $chevronBorderWidth, $chevronBgWidth) {
  &::before {
    @include chevron-border($chevronBorderWidth);
    right: -11px;
    border-right-width: 0;
    border-color: transparent transparent transparent $externalBorderColor;
  }

  &::after {
    @include chevron-bg($chevronBorderWidth);
    right: -9px;
    border-right-width: 0;
    border-color: transparent transparent transparent $internalBorderColor
  }
}

@mixin bottom-chevron($externalBorderColor, $internalBorderColor,  $chevronBorderWidth, $chevronBgWidth) {
  &::before {
    @include chevron-border($chevronBorderWidth);
    bottom: -11px;
    border-bottom-width: 0;
    border-color: $externalBorderColor transparent transparent transparent;
  }

  &::after {
    @include chevron-bg($chevronBorderWidth);
    bottom: -9px;
    border-bottom-width: 0;
    border-color: $internalBorderColor transparent transparent transparent;
  }
}

@mixin left-chevron($externalBorderColor, $internalBorderColor,  $chevronBorderWidth, $chevronBgWidth) {
  &::before {
    @include chevron-border($chevronBorderWidth);
    left: -11px;
    border-left-width: 0;
    border-color: transparent $externalBorderColor transparent transparent;
  }

  &::after {
    @include chevron-bg($chevronBorderWidth);
    left: -9px;
    border-left-width: 0;
    border-color: transparent $internalBorderColor transparent transparent;
  }
}