@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/typography.scss';
@import '~helpers/css/mixins/spacing.scss';

.hig__avatar {
  position: relative;
  border-radius: 50%;
  color: color(hig-gray-70);
  background: color(hig-purple-40);

  &__image {
    position: absolute;
    z-index: 2;

    & img{
      border-radius: 50%;
    }

    & img[src=""] {
      display: none;
    }
  }

  &__initials{
    position: absolute;
    @include typography-base;
    text-align: center;
  }
}

$sizes: (
  "small": 16px,
  "medium": 24px,
  "large": 36px,
  "extralarge": 64px
);

@each $size_name, $size_value in $sizes{
  .hig__avatar--size--#{$size_name}, .hig__avatar--size--#{$size_name} img, .hig__avatar--size--#{$size_name} .hig__avatar__initials {
    width: $size_value;
    height: $size_value;
    line-height: $size_value;
    font-size: ($size_value/2) - 2;
  }
}

$backgroundcolors: (
  1: color(hig-turquoise-40),
  2: color(hig-purple-40),
  3: color(hig-pink-40),
  4: color(hig-salmon-40),
  5: color(hig-blue-40),
  6: color(hig-green-40),
  7: color(hig-turquoise-40),
  8: color(hig-indigo-40),
  9: color(hig-gold-40)
);

@each $background_name, $background_value in $backgroundcolors{
  .hig__avatar__background-#{$background_name} {
    background-color: $background_value;
  }
}
