@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__global-nav__side-nav__section__group__module__collapse {
  @include vendor-prefix('transform', 'rotate(0deg)');
  margin-right: spacing(s);

  &--collapsed {
    @include vendor-prefix('transform', 'rotate(-90deg)');
  }

  &--hide {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}
