<html>
    <head>
        <link rel="stylesheet" href="../../../../lib/hig.css">
        <script type="text/javascript" src="../../../../lib/hig.js"></script>

        <style>
            body{
                margin: 50px;
                font-family: 'ArtifaktElement';
            }

            p {
              margin: 0 0 16px 0;
            }

        </style>
    </head>
    <body>
        <div class='test-container'></div>

        <script>
          const paragraphs = [
              'Nisi minim ad enim reprehenderit minim est ut laboris et consectetur anim. Ea consequat sit veniam duis nulla ea sit. Proident ullamco sint Lorem consequat ut in occaecat ad nostrud proident minim. Adipisicing duis ex Lorem quis occaecat veniam culpa Lorem sint incididunt ex quis. Velit ut excepteur commodo aliquip. Aliqua occaecat eu est ullamco adipisicing consequat in culpa qui exercitation esse commodo excepteur.',
              'Ad aliquip magna nulla pariatur nostrud amet consequat. Excepteur nostrud adipisicing sit veniam ullamco eiusmod incididunt amet amet commodo nulla nisi amet consectetur. Sit elit laborum exercitation tempor et proident. Voluptate eiusmod mollit exercitation consequat. Anim ullamco non tempor ut commodo qui ea aute laborum reprehenderit ullamco. Ipsum et pariatur eiusmod cupidatat mollit ea ipsum laborum ea sunt pariatur. Minim fugiat nostrud aliqua sunt veniam id id.',
              'Labore non Lorem ipsum fugiat laboris deserunt ex sint Lorem minim. Officia elit cupidatat adipisicing magna veniam pariatur non proident ullamco quis magna. Aute ex duis adipisicing dolore in anim tempor quis veniam proident do magna et. Non quis cupidatat laboris sunt commodo sit consectetur dolor do sunt occaecat amet dolor nostrud. Id exercitation Lorem ut magna dolor magna esse exercitation ea anim.',
              'Amet aute incididunt aliquip duis incididunt labore mollit. Occaecat velit eu reprehenderit deserunt nulla do laborum proident nulla eu exercitation reprehenderit cillum consequat. Ut ipsum voluptate do voluptate eu et elit in voluptate nostrud commodo.',
              'Sunt Lorem amet irure quis Lorem enim adipisicing. Et labore elit nisi ullamco proident aliqua laboris nulla. Tempor pariatur aute nisi elit et commodo duis cillum. Officia laboris in consequat esse cupidatat pariatur est quis ex consequat consequat cillum aliquip.',
              'Nisi minim ad enim reprehenderit minim est ut laboris et consectetur anim. Ea consequat sit veniam duis nulla ea sit. Proident ullamco sint Lorem consequat ut in occaecat ad nostrud proident minim. Adipisicing duis ex Lorem quis occaecat veniam culpa Lorem sint incididunt ex quis. Velit ut excepteur commodo aliquip. Aliqua occaecat eu est ullamco adipisicing consequat in culpa qui exercitation esse commodo excepteur.',
              'Ad aliquip magna nulla pariatur nostrud amet consequat. Excepteur nostrud adipisicing sit veniam ullamco eiusmod incididunt amet amet commodo nulla nisi amet consectetur. Sit elit laborum exercitation tempor et proident. Voluptate eiusmod mollit exercitation consequat. Anim ullamco non tempor ut commodo qui ea aute laborum reprehenderit ullamco. Ipsum et pariatur eiusmod cupidatat mollit ea ipsum laborum ea sunt pariatur. Minim fugiat nostrud aliqua sunt veniam id id.',
              'Labore non Lorem ipsum fugiat laboris deserunt ex sint Lorem minim. Officia elit cupidatat adipisicing magna veniam pariatur non proident ullamco quis magna. Aute ex duis adipisicing dolore in anim tempor quis veniam proident do magna et. Non quis cupidatat laboris sunt commodo sit consectetur dolor do sunt occaecat amet dolor nostrud. Id exercitation Lorem ut magna dolor magna esse exercitation ea anim.',
              'Amet aute incididunt aliquip duis incididunt labore mollit. Occaecat velit eu reprehenderit deserunt nulla do laborum proident nulla eu exercitation reprehenderit cillum consequat. Ut ipsum voluptate do voluptate eu et elit in voluptate nostrud commodo.',
              'Sunt Lorem amet irure quis Lorem enim adipisicing. Et labore elit nisi ullamco proident aliqua laboris nulla. Tempor pariatur aute nisi elit et commodo duis cillum. Officia laboris in consequat esse cupidatat pariatur est quis ex consequat consequat cillum aliquip.',
              'Nisi minim ad enim reprehenderit minim est ut laboris et consectetur anim. Ea consequat sit veniam duis nulla ea sit. Proident ullamco sint Lorem consequat ut in occaecat ad nostrud proident minim. Adipisicing duis ex Lorem quis occaecat veniam culpa Lorem sint incididunt ex quis. Velit ut excepteur commodo aliquip. Aliqua occaecat eu est ullamco adipisicing consequat in culpa qui exercitation esse commodo excepteur.',
              'Ad aliquip magna nulla pariatur nostrud amet consequat. Excepteur nostrud adipisicing sit veniam ullamco eiusmod incididunt amet amet commodo nulla nisi amet consectetur. Sit elit laborum exercitation tempor et proident. Voluptate eiusmod mollit exercitation consequat. Anim ullamco non tempor ut commodo qui ea aute laborum reprehenderit ullamco. Ipsum et pariatur eiusmod cupidatat mollit ea ipsum laborum ea sunt pariatur. Minim fugiat nostrud aliqua sunt veniam id id.',
              'Labore non Lorem ipsum fugiat laboris deserunt ex sint Lorem minim. Officia elit cupidatat adipisicing magna veniam pariatur non proident ullamco quis magna. Aute ex duis adipisicing dolore in anim tempor quis veniam proident do magna et. Non quis cupidatat laboris sunt commodo sit consectetur dolor do sunt occaecat amet dolor nostrud. Id exercitation Lorem ut magna dolor magna esse exercitation ea anim.',
              'Amet aute incididunt aliquip duis incididunt labore mollit. Occaecat velit eu reprehenderit deserunt nulla do laborum proident nulla eu exercitation reprehenderit cillum consequat. Ut ipsum voluptate do voluptate eu et elit in voluptate nostrud commodo.',
              'Sunt Lorem amet irure quis Lorem enim adipisicing. Et labore elit nisi ullamco proident aliqua laboris nulla. Tempor pariatur aute nisi elit et commodo duis cillum. Officia laboris in consequat esse cupidatat pariatur est quis ex consequat consequat cillum aliquip.',
              'Nisi minim ad enim reprehenderit minim est ut laboris et consectetur anim. Ea consequat sit veniam duis nulla ea sit. Proident ullamco sint Lorem consequat ut in occaecat ad nostrud proident minim. Adipisicing duis ex Lorem quis occaecat veniam culpa Lorem sint incididunt ex quis. Velit ut excepteur commodo aliquip. Aliqua occaecat eu est ullamco adipisicing consequat in culpa qui exercitation esse commodo excepteur.',
              'Ad aliquip magna nulla pariatur nostrud amet consequat. Excepteur nostrud adipisicing sit veniam ullamco eiusmod incididunt amet amet commodo nulla nisi amet consectetur. Sit elit laborum exercitation tempor et proident. Voluptate eiusmod mollit exercitation consequat. Anim ullamco non tempor ut commodo qui ea aute laborum reprehenderit ullamco. Ipsum et pariatur eiusmod cupidatat mollit ea ipsum laborum ea sunt pariatur. Minim fugiat nostrud aliqua sunt veniam id id.',
              'Labore non Lorem ipsum fugiat laboris deserunt ex sint Lorem minim. Officia elit cupidatat adipisicing magna veniam pariatur non proident ullamco quis magna. Aute ex duis adipisicing dolore in anim tempor quis veniam proident do magna et. Non quis cupidatat laboris sunt commodo sit consectetur dolor do sunt occaecat amet dolor nostrud. Id exercitation Lorem ut magna dolor magna esse exercitation ea anim.',
              'Amet aute incididunt aliquip duis incididunt labore mollit. Occaecat velit eu reprehenderit deserunt nulla do laborum proident nulla eu exercitation reprehenderit cillum consequat. Ut ipsum voluptate do voluptate eu et elit in voluptate nostrud commodo.',
              'Sunt Lorem amet irure quis Lorem enim adipisicing. Et labore elit nisi ullamco proident aliqua laboris nulla. Tempor pariatur aute nisi elit et commodo duis cillum. Officia laboris in consequat esse cupidatat pariatur est quis ex consequat consequat cillum aliquip.',
              'Nisi minim ad enim reprehenderit minim est ut laboris et consectetur anim. Ea consequat sit veniam duis nulla ea sit. Proident ullamco sint Lorem consequat ut in occaecat ad nostrud proident minim. Adipisicing duis ex Lorem quis occaecat veniam culpa Lorem sint incididunt ex quis. Velit ut excepteur commodo aliquip. Aliqua occaecat eu est ullamco adipisicing consequat in culpa qui exercitation esse commodo excepteur.',
              'Ad aliquip magna nulla pariatur nostrud amet consequat. Excepteur nostrud adipisicing sit veniam ullamco eiusmod incididunt amet amet commodo nulla nisi amet consectetur. Sit elit laborum exercitation tempor et proident. Voluptate eiusmod mollit exercitation consequat. Anim ullamco non tempor ut commodo qui ea aute laborum reprehenderit ullamco. Ipsum et pariatur eiusmod cupidatat mollit ea ipsum laborum ea sunt pariatur. Minim fugiat nostrud aliqua sunt veniam id id.',
              'Labore non Lorem ipsum fugiat laboris deserunt ex sint Lorem minim. Officia elit cupidatat adipisicing magna veniam pariatur non proident ullamco quis magna. Aute ex duis adipisicing dolore in anim tempor quis veniam proident do magna et. Non quis cupidatat laboris sunt commodo sit consectetur dolor do sunt occaecat amet dolor nostrud. Id exercitation Lorem ut magna dolor magna esse exercitation ea anim.',
              'Amet aute incididunt aliquip duis incididunt labore mollit. Occaecat velit eu reprehenderit deserunt nulla do laborum proident nulla eu exercitation reprehenderit cillum consequat. Ut ipsum voluptate do voluptate eu et elit in voluptate nostrud commodo.',
              'Sunt Lorem amet irure quis Lorem enim adipisicing. Et labore elit nisi ullamco proident aliqua laboris nulla. Tempor pariatur aute nisi elit et commodo duis cillum. Officia laboris in consequat esse cupidatat pariatur est quis ex consequat consequat cillum aliquip.',
            ]
          let disposeCloseClick;

          const Modal = new Hig.Modal();
          Modal.mount();
          configureShortModal();
          Modal.addButton(new Hig.Button({ title: 'Cancel', type: 'secondary' }));
          Modal.addButton(new Hig.Button({ title: 'OK' }));
          Modal.open();

          // ----------------------------
          // Short modal
          // ----------------------------

          function configureShortModal() {
            Modal.setTitle('Non-scrolling modal');
            Modal.setBody('Nisi minim ad enim reprehenderit minim est ut laboris et consectetur anim. Ea consequat sit veniam duis nulla ea sit. Proident ullamco sint Lorem consequat ut in occaecat ad nostrud proident minim. Adipisicing duis ex Lorem quis occaecat veniam culpa Lorem sint incididunt ex quis. Velit ut excepteur commodo aliquip. Aliqua occaecat eu est ullamco adipisicing consequat in culpa qui exercitation esse commodo excepteur.');
            Modal.setHeaderColor('white');

            if (disposeCloseClick) { disposeCloseClick() };
            disposeCloseClick = Modal.onCloseClick(configureGrayModal);
          }

          // ----------------------------
          // Gray modal
          // ----------------------------

          function configureGrayModal() {
            Modal.setTitle('Gray modal');
            Modal.setHeaderColor('gray');

            disposeCloseClick();
            disposeCloseClick = Modal.onCloseClick(configureSlateModal);
          }

          // ----------------------------
          // Slate modal
          // ----------------------------

          function configureSlateModal() {
            Modal.setTitle('Slate modal');
            Modal.setHeaderColor('slate');

            disposeCloseClick();
            disposeCloseClick = Modal.onCloseClick(configureLongModal);
          }

          // ----------------------------
          // Long modal
          // ----------------------------

          function configureLongModal() {
            Modal.setTitle('Scrolling modal');
            Modal.setHeaderColor('white');
            Modal.setBody('');

            const longModalContent = document.createElement('div');
            longModalContent.innerHTML = paragraphs.map(p => `<p>${p}</p>`).join('');
            Modal.addSlot(longModalContent);

            disposeCloseClick();
            disposeCloseClick = Modal.onCloseClick(configureShortModal);
          }

        </script>

    </body>
</html>
