@import '~basics/colors/colors.scss';
@import '~basics/responsive/responsive.scss';
@import '~helpers/css/mixins/base.scss';

.hig__table {
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
  padding: 0px 16px;
  border-collapse: collapse;

  font-family: 'ArtifaktElement';
  font-weight: 500;
  font-size: 14px;
  color: color(hig-gray-70);
  background: color(hig-white)
}

.hig__table__wrapper {
  overflow: auto;
}

.hig__table__body {
  font-weight: 300
}

.hig__table__text-cell{
  min-width: 180px;
  border-bottom: 1px solid color(hig-cool-gray-20);
  .hig__table--standard & {
    padding: 12px 48px 12px 0px;
    height: 24px;


    &:first-child {
       padding: 12px 0px 12px 4px;
    }

    &:last-child{
      padding-left: 0px;
    }
  }

  .hig__table--compressed & {
    padding: 8px  0px 8px 0px;
    height: 24px;

    &:first-child {
      padding: 8px  48px 8px 8px;
    }

    &:last-child{
      padding-right: 0px;
    }
  }

  .hig__table--large & {
    padding: 20px 0px 20px 0px;
    height: 32px;

    &:first-child {
      padding-left: 8px
    }

    &:last-child{
      padding-right: 0px;
    }
  }
}

.hig__table__icon-cell {
  min-width: 180px;
  border-bottom: 1px solid color(hig-cool-gray-20);
  .hig__table--standard & {
    height: 24px;
    padding: 12px 4px 12px 0px;

    &:first-child {
      padding: 12px 4px 12px 4px;

    }
  }

  .hig__table--compressed & {
    display: none;
  }
}

.hig__table__slot-cell {
  border-bottom: 1px solid color(hig-cool-gray-20);
  min-width: 180px;
  position: relative;
}

.hig__table__text-cell-content{
  padding-right: 48px;
}

.hig__table--compressed td:first-child {
  padding-left: 8px;
}