@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/spacing.scss';
@import '~helpers/css/mixins/base.scss';
.hig__global-nav__side-nav__section__group__module {
  position: relative;
  margin: spacing(xs) 0;
  user-select: none;
}

.hig__global-nav__side-nav__section__group__module__row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 32px;
  margin-right: spacing(xs);
}

.hig__global-nav__side-nav__section__group__module__link {
  display: flex;
  align-items: stretch;
  padding-left: 2px;
  flex: 1 1 auto;
  text-decoration: none;
  &::before {
    content: "";
    position: absolute;
    border-left: 2px solid transparent;
    top: 0;
    left: 0;
    height: 32px;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.hig__global-nav__side-nav__section__group__module__link__icon {
  padding-left: spacing(xs);
}

.hig__global-nav__side-nav__section__group__module__link__title {
  font-weight: 700;
  font-size: 14px;
  padding-left: spacing(xs) - 2;
  padding-top: 5px;
  line-height: 20px;
}

.hig__global-nav__side-nav__section__group__module__link__external-link-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.hig__global-nav__side-nav__section__group__module--hide {
  display: none;
}

.hig__global-nav__side-nav__section__group__module__submodules {
  padding-left: 48px;
  &--no-icon {
    padding-left: spacing(m);
  }
}

// Light theme
.hig__global-nav__side-nav__section__group__module__link {
  color: color(hig-gray-70);

  .hig__global-nav__side-nav__section__group__module__link__icon svg * {
    fill: color(hig-gray-70);
  }
  .hig__global-nav__side-nav__section__group__module__link__external-link-icon svg * {
    stroke: color(hig-gray-70);
  }
  &:active,
  &:focus {
    color: color(hig-blue-60);
    &::before {
      border-left-color: color(hig-blue-60);
    }
    .hig__global-nav__side-nav__section__group__module__link__icon svg * {
      fill: color(hig-blue-60);
    }
    .hig__global-nav__side-nav__section__group__module__link__external-link-icon svg * {
      stroke: color(hig-blue-60);
    }
  }
  &:hover,
  &--active {
    color: color(hig-blue-50);
    &::before {
      border-left-color: color(hig-blue-50);
    }
    .hig__global-nav__side-nav__section__group__module__link__icon svg * {
      fill: color(hig-blue-50);
    }
    .hig__global-nav__side-nav__section__group__module__link__external-link-icon svg * {
      stroke: color(hig-blue-50);
    }
  }
}

// Dark blue theme
.hig--dark-blue-theme {
  &.hig__global-nav__side-nav__section__group__module__link {
    color: color(hig-white);

    .hig__global-nav__side-nav__section__group__module__link__icon svg * {
      fill: color(hig-white);
    }
    .hig__global-nav__side-nav__section__group__module__link__external-link-icon svg * {
      stroke: color(hig-white);
    }

    &:active,
    &:focus {
      color: color(hig-blue-30);
      &::before {
        border-left-color: color(hig-blue-30);
      }
      .hig__global-nav__side-nav__section__group__module__link__icon svg * {
        fill: color(hig-blue-30);
      }
      .hig__global-nav__side-nav__section__group__module__link__external-link-icon svg * {
        stroke: color(hig-blue-30);
      }
    }
    &:hover,
    &--active {
      color: color(hig-blue-40);
      &::before {
        border-left-color: color(hig-blue-40);
      }
      .hig__global-nav__side-nav__section__group__module__link__icon svg * {
        fill: color(hig-blue-40);
      }
      .hig__global-nav__side-nav__section__group__module__link__external-link-icon svg * {
        stroke: color(hig-blue-40);
      }
    }
  }
}
