@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/spacing.scss';
@import '~helpers/css/mixins/base.scss';

.hig__global-nav__side-nav__section__group__module {
  position: relative;
  margin: spacing(xs) 0;
  user-select: none;

  &__row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 32px;
  }

  &__link {
    display: flex;
    align-items: stretch;
    border-left: 2px solid transparent;
    flex: 1 1 auto;
    color: color(hig-gray-10);
    text-decoration: none;

    &:active,
    &:focus {
      outline: none;
      color: color(hig-blue-20);
      border-left-color: color(hig-blue-20);
      
    }

    &__icon {
      padding-left: spacing(xs);
  
      svg * {
        fill: color(hig-gray-10);
  
        &__link:hover &,
        &__link--active & {
          fill: color(hig-blue-30);
        }
  
        &__link:focus &,
        &__link:active & {
          fill: color(hig-blue-20);
        }
      }
    }

    &:hover,
    &--active {
      color: color(hig-blue-30);
      border-left-color: color(hig-blue-30);
      svg * {
        fill: color(hig-blue-30);
      }
    }
  
    &__title {
      font-weight: 700;
      font-size: 15px;
      padding-left: spacing(xs) - 2;
      line-height: 32px;
    }
  }
  
  &--hide {
    display: none;
  }

  &__submodules{
    padding-left: 48px;

    &--no-icon{
      padding-left: spacing(m);;
    }
  }
}
