@import '~basics/colors/colors.scss';

.hig__global-nav__sub-nav__tabs__tab {
    display: flex;
    align-content: center;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color: color(hig-slate-dark);
    margin-left: 20px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    font-weight: 500;

    &:first-child {
        margin-left: 0;
    }

    &.hig__global-nav__sub-nav__tabs__tab--active {
        color: color(adsk-blue);
        border-bottom-color: color(adsk-blue);
    }
}