@import '~basics/colors/colors.scss';

.hig__global-nav__top-nav__shortcut {
  padding: 0 5px;
}
.hig__global-nav__top-nav__shortcut__link {
  display: block;
}
.hig__global-nav__top-nav__shortcut__link__icon {
  margin: auto;
  vertical-align: middle;
  .hig__icon {
    height: 24px;
    width: 24px;
    color: color(hig-slate-20);
  }
}