<html>
    <head>
        <link rel="stylesheet" href="../../../../lib/hig.css">
        <script type="text/javascript" src="../../../../lib/hig.js"></script>
    </head>
    <body>
        <style>
            /* CUSTOM STYLES FOR THIS DEMO */
            body, html{
                margin: 0; padding: 0;
            }
            .hig__global-nav__slot{
                text-align: center;
            }
            .hig__global-nav__slot img{
                max-width: 1280px;
            }
        </style>

        <script>
            var menuModel = [
                { type: "section", label: "Project", name: "Oakwood Medical Center", groups: [
                    { type: "group", modules: [
                        { type: "module", icon: "insight", label: "Insight", submodules: [
                            { type: "submodule", label: "Overview", contentImage: "content/Oakwood__Insight__Overview@2x.png" },
                            { type: "submodule", label: "Risk", contentImage: "content/Oakwood__Insight__Risk@2x.png" },
                            { type: "submodule", label: "Quality", contentImage: "content/Oakwood__Insight__Quality@2x.png" },
                            { type: "submodule", label: "Reports", contentImage: "content/Oakwood__Insight__Reports@2x.png" }
                        ]}
                    ]},
                    { type: "group", modules: [
                        { type: "module", icon: "construction-management", label: "Authoring Collaboration", submodules: [
                            { type: "submodule", label: "Cloud Work Sharing", contentImage: "content/Oakwood__AuthoringCollaboration__CloudWorkSharing@2x.png" },
                            { type: "submodule", label: "Fluent", contentImage: "content/Oakwood__AuthoringCollaboration__Fluent@2x.png" },
                            { type: "submodule", label: "Approvals", contentImage: "content/Oakwood__AuthoringCollaboration__Approvals@2x.png" }
                        ]},
                        { type: "module", icon: "document-management", label: "Document Management", submodules: [
                            { type: "submodule", label: "Document Workflow", contentImage: "content/Oakwood__DocumentManagement__DocumentWorkflow@2x.png" }
                        ]},
                        { type: "module", icon: "placeholder", label: "Model Coordination", submodules: [
                            { type: "submodule", label: "Overview", contentImage: "content/Oakwood__ModelCoordination__Overview@2x.png" },
                            { type: "submodule", label: "Models", contentImage: "content/Oakwood__ModelCoordination__Models@2x.png" },
                            { type: "submodule", label: "Checklists", contentImage: "content/Oakwood__ModelCoordination__Checklists@2x.png" },
                            { type: "submodule", label: "Clashes", contentImage: "content/Oakwood__ModelCoordination__Clashes@2x.png" },
                            { type: "submodule", label: "Issues", contentImage: "content/Oakwood__ModelCoordination__Issues@2x.png" }
                        ]},
                        { type: "module", icon: "project-management", label: "Project Management", submodules: [
                            { type: "submodule", label: "RFIs", contentImage: "content/Oakwood__ProjectManagement__RFIs@2x.png" },
                            { type: "submodule", label: "Submittals", contentImage: "content/Oakwood__ProjectManagement__Submittals@2x.png" },
                            { type: "submodule", label: "Daily Log", contentImage: "content/Oakwood__ProjectManagement__DailyLog@2x.png" },
                        ]},
                        { type: "module", icon: "quantities", label: "Quantities", submodules: [
                            { type: "submodule", label: "2D", contentImage: "content/Oakwood__Quantities__2D@2x.png" },
                            { type: "submodule", label: "3D", contentImage: "content/Oakwood__Quantities__3D@2x.png" },
                        ]},
                        { type: "module", icon: "cost-control", label: "Cost Control", submodules: [
                            { type: "submodule", label: "Bid Management", contentImage: "content/Oakwood__CostControl__BidManagement@2x.png" },
                            { type: "submodule", label: "Estimating", contentImage: "content/Oakwood__CostControl__Estimating@2x.png" },
                            { type: "submodule", label: "Budget", contentImage: "content/Oakwood__CostControl__Budget@2x.png" },
                            { type: "submodule", label: "Change Orders", contentImage: "content/Oakwood__CostControl__ChangeOrders@2x.png" },
                            { type: "submodule", label: "Pay Applications", contentImage: "content/Oakwood__CostControl__PayApplications@2x.png" },
                        ]},
                        { type: "module", icon: "schedule", label: "Schedule", submodules: [
                            { type: "submodule", label: "Master Schedule", contentImage: "content/Oakwood__Schedule__MasterSchedule@2x.png" },
                            { type: "submodule", label: "Production Plan", contentImage: "content/Oakwood__Schedule__ProductionPlan@2x.png" }
                        ]},
                        { type: "module", icon: "field", label: "Field", submodules: [
                            { type: "submodule", label: "Quality", contentImage: "content/Oakwood__Field__Quality@2x.png" },
                            { type: "submodule", label: "Safety", contentImage: "content/Oakwood__Field__Safety@2x.png" },
                            { type: "submodule", label: "Commissioning", contentImage: "content/Oakwood__Field__Commissioning@2x.png" },
                            { type: "submodule", label: "Checklists", contentImage: "content/Oakwood__Field__Checklists@2x.png" },
                            { type: "submodule", label: "Issues", contentImage: "content/Oakwood__Field__Issues@2x.png" },
                            { type: "submodule", label: "Activities", contentImage: "content/Oakwood__Field__Activities@2x.png" },
                        ]},
                        { type: "module", icon: "layout", label: "Layout", contentImage: "content/Oakwood__Layout@2x.png" },
                        { type: "module", icon: "buildingops", label: "Building Ops", contentImage: "content/Oakwood__BuildingOps@2x.png" },
                    ]},
                    { type: "group", modules: [
                        { type: "module", icon: "library", label: "Library", contentImage: "content/Oakwood__Library@2x.png" },
                        { type: "module", icon: "photos", label: "Photos", contentImage: "content/Oakwood__Photos@2x.png" },
                        { type: "module", icon: "assets", label: "Assets", contentImage: "content/Oakwood__Assets@2x.png" },
                        { type: "module", icon: "locations", label: "Location", contentImage: "content/Oakwood__Locations@2x.png" }
                    ]},
                    { type: "group", modules: [
                        { type: "module", icon: "project-admin", label: "Project Admin", contentImage: "content/Oakwood__ProjectAdmin@2x.png" }
                    ]}
                ]},
                { type: "section", label: "Account", name: "Global Construction", groups: [
                    { type: "group", modules: [
                        { type: "module", icon: "insight", label: "Insight", contentImage: "content/GlobalConstruction__Insight@2x.png" },
                        { type: "module", icon: "field", label: "Field", submodules: [
                            { type: "submodule", label: "Checklists Templates", contentImage: "content/GlobalConstruction__Field__ChecklistsTemplates@2x.png" },
                            { type: "submodule", label: "Issues Templates", contentImage: "content/GlobalConstruction__Field__IssuesTemplates@2x.png" }
                        ]},
                        { type: "module", icon: "account-admin", label: "Account Admin", submodules: [
                            { type: "submodule", label: "Projects", contentImage: "content/GlobalConstruction__AccountAdmin__Projects@2x.png" },
                            { type: "submodule", label: "Members", contentImage: "content/GlobalConstruction__AccountAdmin__Members@2x.png" },
                            { type: "submodule", label: "Companies", contentImage: "content/GlobalConstruction__AccountAdmin__Companies@2x.png" },
                            { type: "submodule", label: "Services", contentImage: "content/GlobalConstruction__AccountAdmin__Services@2x.png" },
                            { type: "submodule", label: "Analytics", contentImage: "content/GlobalConstruction__AccountAdmin__Analytics@2x.png" },
                            { type: "submodule", label: "Settings", contentImage: "content/GlobalConstruction__AccountAdmin__Settings@2x.png" }
                        ]}
                    ]}
                ]}
            ];

            // DEMO STATE VARS
            menuModel["_menu_open"] = false;

            // CREATE GLOBALNAV COMPONENT
            var GlobalNav = new Hig.GlobalNav();
            GlobalNav.mount("body");
            GlobalNav.showSideNav();

            // ADD SIDENAV
            var SideNav = new GlobalNav.partials.SideNav();
            GlobalNav.addSideNav(SideNav);

            // ADD SEARCH IN SIDENAV
            var SideNavSearch = new SideNav.partials.Search({
                "placeholder": "Filter modules"
            });
            SideNav.addSearch(SideNavSearch);

            // EVENTS SIDENAV
            SideNavSearch.onInput(function(e){
                // do example filter of sidenav
                filterMenu(e.target.value);
            });

            SideNavSearch.onFocusIn(function(e){
                SideNavSearch.showClearIcon();
            });

            SideNavSearch.onFocusOut(function(e){
                SideNavSearch.hideClearIcon();
            });

            SideNavSearch.onClearIconClick(function(e){
                SideNavSearch.setQuery(''); // set input to empty
                filterMenu("");
            });

            // ADD TOPNAV
            var TopNav = new GlobalNav.partials.TopNav({
                "logo": "bim-logo.png",
                "logo_link": "http://autodesk.com"
            });
            GlobalNav.addTopNav(TopNav);

            // EVENTS TOPNAV
            TopNav.onHamburgerClick(function(e){
                if(menuModel["_menu_open"]){
                    GlobalNav.hideSideNav();
                    TopNav.sidenavClosed();
                }else{
                    GlobalNav.showSideNav();
                    TopNav.sidenavOpen();
                }
                menuModel["_menu_open"] = !menuModel["_menu_open"];
            });

            // ADD SEARCH TO TOPNAV
            var TopNavSearch = new TopNav.partials.Search({
                "placeholder": "Search"
            });
            TopNav.addSearch(TopNavSearch);

            TopNavSearch.onFocusIn(function(e){
                TopNavSearch.showClearIcon();
            });

            TopNavSearch.onFocusOut(function(e){
                TopNavSearch.hideClearIcon();
            });

            TopNavSearch.onClearIconClick(function(e){
                TopNavSearch.setQuery(''); // set input to empty

            });

            // ADD HELP
            var Help = new TopNav.partials.Help({
                title: "Help",
                link: "http://www.autodesk.com"
            });

            TopNav.addHelp(Help);

            var Help2 = new TopNav.partials.Help({
                title: "Help", 
                link: "http://www.autodesk.com"
            });

            TopNav.addHelp(Help2);

            var Help3 = new TopNav.partials.Help({
                title: "Help", 
                link: "http://www.autodesk.com"
            });

            TopNav.addHelp(Help3);

            // ADD PROFILE
            var MyProfile1 = new TopNav.partials.Profile({
                image: "avatar/david-construction-project-manager.png",
                name: "David Rogers",
                email: "david.rogers@autodesk.com",
                profileSettingsLink: "http://autodesk.com",
                signOutLink: "http://autodesk.com"
            });

            TopNav.addProfile(MyProfile1);

            // EVENTS PROFILE
            MyProfile1.onProfileImageClick(function(e){ MyProfile1.open() });
            MyProfile1.onProfileClickOutside(function(e){ MyProfile1.close() });

            // ADD SUBNAV
            var SubNav = new GlobalNav.partials.SubNav();
            GlobalNav.addSubNav(SubNav);

            // ADD TABS IN SUBNAV
            var Tabs = new SubNav.partials.Tabs();
            SubNav.addTabs(Tabs);

            // LISTEN TO MODULE INDICATOR CLICK IN SUBNAV
            SubNav.onModuleIndicatorClick(function(e){
                if(menuModel["_menu_open"]){
                    GlobalNav.hideSideNav();
                    TopNav.sidenavClosed();
                }else{
                    GlobalNav.showSideNav();
                    TopNav.sidenavOpen();
                }
                menuModel["_menu_open"] = !menuModel["_menu_open"];
            });

            // ADD SOME CONTENT
            var SlotEl = document.createElement('div');
            SlotEl.innerHTML = "Some example default content";
            GlobalNav.addSlot(SlotEl);

            // LOOP OVER SECTIONS
            menuModel.forEach(function(sectionModel){

                // STORE IN MODEL FOR INTERNAL STATE
                sectionModel['_generated_section'] = generated_section;
                sectionModel['_generated_section_collapse_icon'] = generated_section_collapse_icon;
                sectionModel['_collapsed'] = true;

                // LOOP OVER GROUPS
                sectionModel["groups"].forEach(function(groupModel){

                    // ADD A GROUP TO OUR SECTION
                    var generated_group = new generated_section.partials.Group();
                    generated_section.addGroup(generated_group);

                    // STORE IN MODEL FOR INTERNAL STATE
                    groupModel["_generated_group"] = generated_group;

                    // LOOP OVER MODULES
                    groupModel["modules"].forEach(function(moduleModel){

                        // ADD SOME MODULES TO OUR GROUP
                        var generated_module = new generated_group.partials.Module({
                            "icon": moduleModel["icon"],
                            "title": moduleModel["label"],
                            "link": moduleModel["link"]
                        });
                        generated_group.addModule(generated_module);

                        // STORE IN MODEL FOR INTERNAL STATE
                        moduleModel["_generated_module"] = generated_module;

                        // DO WE HAVE SUBMODULES?
                        if(moduleModel["submodules"]){

                            // ADD COLLAPSE ICON TO MODULE
                            var generated_module_collapse_icon = new generated_module.partials.Collapse();
                            generated_module.addCollapse(generated_module_collapse_icon);

                            // STORE IN MODEL FOR INTERNAL STATE
                            moduleModel["_generated_module_collapse_icon"] = generated_module_collapse_icon;
                            moduleModel["_collapsed"] = true;

                            // LOOP OVER SUBMODULES
                            moduleModel["submodules"].forEach(function(submoduleModel){
                                var generated_submodule = new generated_module.partials.Submodule({
                                    "title": submoduleModel["label"],
                                    "link": "#"
                                });
                                generated_module.addSubmodule(generated_submodule);

                                // HIDE SUBMODULE BY DEFAULT
                                generated_submodule.hide();

                                // STORE IN MODEL FOR INTERNAL STATE
                                submoduleModel["_generated_submodule"] = generated_submodule;

                                // SUBMODULE EVENTS
                                generated_submodule.onClick(function(e){
                                    e.preventDefault();
                                    buildTabs(moduleModel, submoduleModel);
                                });
                            });

                            // MODULE COLLAPSED CLICK
                            generated_module_collapse_icon.onClick(function(e){
                                if(moduleModel["_collapsed"]){
                                    showSubmodules(moduleModel, true);
                                }else{
                                    hideSubmodules(moduleModel, true);
                                }
                            });
                        }

                        // MODULE EVENTS
                        generated_module.onClick(function(e){
                            e.preventDefault();
                            buildTabs(moduleModel);
                        });

                        // HACKY: LETS CLICK ON FIRST SIDENAV AND TAB FOR DEFAULT VALUES;
                        if(!window.firstClicked){
                            generated_module.el.firstElementChild.click();
                            window.firstClicked = true;
                        }
                    });

                });

            });

            // BUILD OUR TABS IN THE SUBNAV
            function buildTabs(moduleModel, selectedSubmoduleModel){

                // SET SUBNAV LABEL AND ICON
                SubNav.setModuleIndicatorName(moduleModel["label"]);
                SubNav.setModuleIndicatorIcon(moduleModel["icon"]);

                // CLOSE SIDENAV
                // GlobalNav.hideSideNav();
                // TopNav.sidenavClosed();
                // menuModel["_menu_open"] = false;

                // CLEAR TABS
                Tabs.unmount();

                // ADD TABS IN SUBNAV
                Tabs = new SubNav.partials.Tabs();
                SubNav.addTabs(Tabs);

                // SELECT OUR MODULE
                // CLEAR ALL ACTIVE
                menuModel.forEach(function(sectionModel){
                    sectionModel["groups"].forEach(function(groupModel){
                        groupModel["modules"].forEach(function(moduleModel){
                            if(moduleModel["_generated_module"]) moduleModel["_generated_module"].deactivate();
                        });
                    });
                });
                moduleModel["_generated_module"].activate();

                // LOOP OVER SUBMODULES IF ANY
                if(moduleModel["submodules"]){
                    moduleModel["submodules"].forEach(function(submoduleModel){
                        var generated_tab = new Tabs.partials.Tab({
                            "label": submoduleModel["label"]
                        });
                        Tabs.addTab(generated_tab);

                        // STORE IN MODEL FOR INTERNAL STATE
                        submoduleModel["_generated_tab"] = generated_tab;

                        // TAB EVENTS
                        generated_tab.onClick(function(){

                            // LOOP OVER SUBMODULE TABS AND DEACTIVATE THEM ALL
                            menuModel.forEach(function(sectionModel){
                                sectionModel["groups"].forEach(function(groupModel){
                                    groupModel["modules"].forEach(function(moduleModel){
                                        if(moduleModel["submodules"]){
                                            moduleModel["submodules"].forEach(function(submoduleModel){
                                                if(submoduleModel["_generated_tab"]) submoduleModel["_generated_tab"].deactivate();
                                                if(submoduleModel["_generated_submodule"]) submoduleModel["_generated_submodule"].deactivate();
                                            });
                                        }
                                    });
                                });
                            });

                            // MAKE OUR SELECTED TAB ACTIVE
                            submoduleModel["_generated_tab"].activate();

                            // SELECT OUR SUBMODULE
                            submoduleModel["_generated_submodule"].activate();

                            // SLOT IN SOME EXAMPLE IMAGE CONTENT
                            SlotEl.innerHTML = "<img src='"+submoduleModel["contentImage"]+"' width='1280'>";
                        });
                    });

                    // SELECT SUBMODULE IF DEFINED ELSE SELECT FIRST TAB BY DEFAULT
                    if(selectedSubmoduleModel){
                        selectedSubmoduleModel["_generated_tab"].el.click();
                    }else{
                        moduleModel["submodules"][0]["_generated_tab"].el.click();
                    }

                }else{
                    // SLOT IN SOME EXAMPLE IMAGE CONTENT
                    SlotEl.innerHTML = "<img src='"+moduleModel["contentImage"]+"' width='1280'>";
                }
            }

            function showSubmodules(moduleModel, saveState){
                if(moduleModel["submodules"]){
                    moduleModel["submodules"].forEach(function(submoduleModel){
                        if(submoduleModel["_generated_submodule"]) submoduleModel["_generated_submodule"].show();
                    });
                    moduleModel["_generated_module_collapse_icon"].minimize();
                    if(saveState) moduleModel["_collapsed"] = false;
                }
            }

            function hideSubmodules(moduleModel, saveState){
                if(moduleModel["submodules"]){
                    moduleModel["submodules"].forEach(function(submoduleModel){
                        if(submoduleModel["_generated_submodule"]) submoduleModel["_generated_submodule"].hide();
                    });
                    moduleModel["_generated_module_collapse_icon"].maximize();
                    if(saveState) moduleModel["_collapsed"] = true;
                }
            }

            function filterMenu(q){
                q = q.toLowerCase();

                // LOOP OVER SECTIONS
                menuModel.forEach(function(sectionModel){

                    var anythingfound = false;

                    // HIDE COLLAPSE ICON IN SECTION, NO COLLAPSING IS POSSIBLE WHILE FILTERING
                    if(q == ""){
                        sectionModel['_generated_section_collapse_icon'].show();
                    }else{
                        sectionModel['_generated_section_collapse_icon'].hide();
                    }

                    // LOOP OVER GROUPS
                    sectionModel["groups"].forEach(function(groupModel){

                        var groupFound = false;

                        // LOOP OVER MODULES
                        groupModel["modules"].forEach(function(moduleModel){

                            var moduleFound = false;
                            var subModuleFound = false;

                            if(q == ""){
                                if(sectionModel["_collapsed"]){
                                    sectionModel["_generated_section_collapse_icon"].maximize();
                                }else{
                                    sectionModel["_generated_section_collapse_icon"].minimize();
                                }
                                if(moduleModel["_collapsed"]){
                                    hideSubmodules(moduleModel);
                                }else{
                                    showSubmodules(moduleModel);
                                }
                            }else{
                                // ALWAYS SHOW SUBMODULES
                                showSubmodules(moduleModel);

                                // LOOP OVER SUBMODULES
                                if(moduleModel["submodules"]){
                                    moduleModel["submodules"].forEach( function(submoduleModel){
                                        if(submoduleModel["label"].toLowerCase().indexOf(q) > -1){
                                            submoduleModel["_generated_submodule"].show();
                                            subModuleFound = true;
                                        }else{
                                            submoduleModel["_generated_submodule"].hide();
                                        }
                                    });
                                }
                            }

                            if(moduleModel["label"].toLowerCase().indexOf(q) == -1){
                                if(!subModuleFound){
                                    moduleModel["_generated_module"].hide();
                                }else{
                                    moduleModel["_generated_module"].show();
                                    moduleFound = true;
                                }
                            }else{
                                moduleModel["_generated_module"].show();
                                moduleFound = true;
                            }

                            if(moduleFound){
                                groupFound = true;
                            }
                        });

                        if(!groupFound && q != ""){
                            groupModel["_generated_group"].hide();
                        }else{
                            groupModel["_generated_group"].show();
                            anythingfound = true;
                        }
                    });

                    if(!anythingfound){
                        sectionModel["_generated_section"].hide();
                    }else{
                        sectionModel["_generated_section"].show();
                    }
                });
            }

            // CREATE PROJECT ACCOUNT SWITCHER
            var ProjectAccountSwitcher = new TopNav.partials.ProjectAccountSwitcher({
                activeLabel: 'Global Construction / West Oakwood Medical Center',
                activeImage: './project-1.png',
                activeType: 'account'
            });

            TopNav.addProjectAccountSwitcher(ProjectAccountSwitcher);

            // ADD PROJECTS
            var projectsData = [
                { label: 'Oakwood Medical Center', image: './project-1.png' },
                { label: 'Colorado Myrtle Shield Apartments', image: './project-2.png' },
                { label: 'Grey Pillars', image: './project-3.png' },
                { label: 'Keystone Apartments' },
                { label: 'Pleasant Park', image: './project-4.png' }
            ];
            var projectComponents = projectsData.map(function(project){
                return new ProjectAccountSwitcher.partials.Project(project);
            });
            projectComponents.forEach(function(projectComponent){
                ProjectAccountSwitcher.addProject(projectComponent);
                projectComponent.onClick(function(){ projectComponent.activate(); });
            });

            // ADD ACCOUNT
            var accountsData = [
                { label: 'Oakwood Medical Center', image: './project-1.png' },
                { label: 'Colorado Myrtle Shield Apartments', image: './project-2.png' },
                { label: 'Grey Pillars', image: './project-3.png' },
                { label: 'Keystone Apartments' },
                { label: 'Pleasant Park', image: './project-4.png' }
            ];
            var accountComponents = accountsData.map(function(account){
                return new ProjectAccountSwitcher.partials.Account(account);
            });
            accountComponents.forEach(function(accountComponent){
                ProjectAccountSwitcher.addAccount(accountComponent);
                accountComponent.onClick(function(){ accountComponent.activate(); });
            });

            ProjectAccountSwitcher.onClick(function(){
                ProjectAccountSwitcher.open();
            });

            ProjectAccountSwitcher.onClickOutside(function(){
                ProjectAccountSwitcher.close();
            })

        </script>

    </body>
</html>
