@import '../fonts/fonts.scss';
@import '~basics/colors/colors.scss';

.hig__typo{

    font-family: 'ArtifaktElement', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: color('hig-gray-10');

    // PARAGRAPH

    &__p{
        font-family: 'ArtifaktElement', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: color('hig-gray-10');
        margin: 1em 0;
    }

    // BOLD

    &__bold{
        font-family: 'ArtifaktElement', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: color('hig-gray-10');
    }

    // LINK

    &__link{
        font-family: 'ArtifaktElement', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: color('adsk-blue');
    }

    // CAPTION

    &__caption{
        font-family: 'ArtifaktElement', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: color('hig-gray-10');
    }

    

    
}