@import '~basics/fonts/fonts.scss';
@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';


.hig__range {
  position: relative;
  margin-bottom: 20px;
  width: 300px;

  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background-color: color(hig-gray-50); /* Otherwise white in Chrome */
    box-sizing: content-box;
  }

  input[type=range]::-webkit-slider-thumb {
    box-sizing: content-box;
    -webkit-appearance: none;
    // border: 1px solid #000000;
    height: 16px;
    width: 16px;
    line-height: 16px;
    background: color(adsk-blue);
    border-radius: 50%;
    cursor: pointer;
    text-align: center; 
    margin-top: -17px;
    border: 7px solid color(hig-white);
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    line-height: 16px;
    border-radius: 50%;
    background: color(adsk-blue);
    cursor: pointer;
    border: 7px solid color(hig-white);
  }


  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    height: 16px;
    width: 16px;
    line-height: 16px;
    border-radius: 50%;
    background: color(adsk-blue);
    cursor: pointer;
    border: 7px solid color(hig-white);
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  //Styling the track

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: color(hig-gray-50);
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: color(hig-gray-50);
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: color(hig-gray-50);
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  } 

  input[type=range]::-ms-fill-lower {
    background: color(hig-gray-50);;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: color(hig-gray-50);;
  }

  input[type=range]::-ms-fill-upper {
    background: color(hig-gray-50);
  }


  input[type=range]:focus::-ms-fill-upper {
    background: color(hig-gray-50);
  }

    /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: color(hig-gray-50);
  }
}

.hig__range__label,
.hig__range__label-placeholder {
    display: block;
    margin-bottom: 40px;

    color: color(hig-gray-30);
    font-size: 12px;
    line-height: 14px;

    .hig__range--required &::after {
        content: '*';
        display: inline-block;
        margin-left: 5px;
    }
}

.hig__range__label {
    position: absolute;
    top: 0;
}

.hig__range__label-placeholder {
    color: transparent;
}

.hig__range__field__range-values {
  position: relative;
  
  &:after {
    position: absolute;
    top: -20px;
    right: 0px;
    color: color(hig-gray-30);
    content: attr(data-range-max);
  }

  &:before{
    position: absolute;
    top: -20px;
    color: color(hig-gray-30);
    content: attr(data-range-min)
  }
}



