@import '~@hig/styles/build/fonts.css';
@import '~@hig/styles/mixins/colors';
@import '~@hig/styles/tokens/layers';

.hig__modal-V1__header .hig__icon-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 16px;
  z-index: $modal-close-button-layer;

  &:hover, &:focus {
    border-color: transparent;
    background-color: transparent;
    svg * {
      fill: color(hig-cool-gray-60);
    }
  }

  &:focus {
    outline: none;
  }

  .hig__modal-V1__window--is-scrolling & {
    right: 32px;
  }

  .hig__modal-V1__window--alternate & {
    background-color: color(hig-blue-10);
    right: 16px;
    top: 16px;
  }
}

.hig__modal-V1__header {
  border-bottom: 1px solid color(hig-cool-gray-20);
  font-family: 'ArtifaktElement';
  font-size: 24px;
  margin: 0 32px;
  min-height: 33px;
  padding: 16px 0;
  position: relative;
  z-index: $modal-header-layer;

  .hig__modal-V1__window--is-scrolling & {
    margin: 0;
    padding: 16px 32px;
  }

  .hig__modal-V1__window--alternate & {
    background-color: color(hig-blue-10);
    margin: 0;
    padding: 16px 32px;
  }
}
