@import '~@hig/styles/build/fonts.css';
@import '~@hig/styles/mixins/breakpoints';
@import '~@hig/styles/mixins/colors';
@import '~@hig/styles/tokens/layers';

.hig__modal-V1 {
  color: #2A3B4D;
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.2s;
  transition-delay: 0.2s;

  &.hig__modal-V1--open {
    opacity: 1.0;
    pointer-events: visible;
    transition: all ease 0.2s;
  }
}

.hig__modal-V1__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: $modal-layer;
}

.hig__modal-V1__window {
  background: color(hig-white);
  border: 3px solid color(hig-blue-60);
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(190, 200, 210, 0.4);
  display: flex;
  flex-direction: column;
  left: 50%;
  max-height: calc(100vh - 256px);
  max-width: calc(100vw - 32px);
  opacity: 0;
  outline: none;
  position: fixed;
  top: 128px;
  transform: translateX(-50%);
  width: 500px;
  z-index: 1001;

  @include phone-breakpoint {
    width: 500px;
  }

  @keyframes close-animation {
    0% { top: 131px; }
    30% { top: 125px; }
  }

  .hig__modal-V1--close & {
    animation: close-animation 0.4s;
    transition: all ease 0.2s;
    transition-delay: 0.2s;
  }

  .hig__modal-V1--open & {
    opacity: 1.0;
    transition: all ease 0.2s;
    transition-delay: 0.2s;
  }
}

.hig__modal-V1__body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: $modal-body-layer;
}

.hig__modal-V1__slot {
  border: none;
  flex: 1 1 auto;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 0 32px;

  &::before {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    content: '';
    display: block;
    height: 16px;
    margin: 0 -16px;
    position: relative;
    z-index: $modal-shadow-mask-layer;
  }

  &::after {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    content: '';
    display: block;
    height: 16px;
    margin: 0 -16px;
    position: relative;
    z-index: $modal-shadow-mask-layer;
  }
}