<div class='hig__global-nav__sidenav'>
  <div class='hig__global-nav__sidenav__scroll'>
    <h3 class="hig__global-nav__sidenav__super-header">
      <a class="hig__global-nav__sidenav__super-header-link" {{#superHeaderLink}}href="{{superHeaderLink}}"{{/superHeaderLink}}>{{superHeaderLabel}}</a>
    </h3>
    <h4 class="hig__global-nav__sidenav__header">
      <a class="hig__global-nav__sidenav__header-link" {{#headerLink}}href="{{headerLink}}"{{/headerLink}}>{{headerLabel}}</a>
    </h4>
    <!--GROUP-->
    <div class='hig__global-nav__sidenav__links'>
      <!--LINK-->
    </div>
    <div class='hig__global-nav__sidenav__copyright'>{{copyright}}</div>
  </div>
  <!--SEARCH-->
</div>
