@import '~basics/colors/colors.scss';
@import '~basics/shadows/shadows.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/mixins/spacing.scss';

$hig__global-nav__sidenav--width: 280px;
$hig__global-nav__sidenav--l-side-padding: 16px;
$hig__global-nav__sidenav--r-side-padding: 12px;

.hig__global-nav__sidenav {
  @include reset;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: color(hig-white);
  border-right: 1px solid color(hig-gray-50);
  overflow-x: hidden;

  @include shadow("inner-right");

  width: $hig__global-nav__sidenav--width;

  display: none; // Hide by default

  // Sidenav Scroll
  &__scroll {
    position: absolute;
    top: 4px;
    left: 0;
    right: 4px;
    bottom: 4px;
    @include vendor-prefix('box-sizing', 'border-box');
    padding: 14px 0;

    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      width: 5px;
      height: 200px;
      background-color: color(hig-gray-30);
      border-radius: 2px;
    }

    &--search{
      bottom: 4px + 52px; // search at the bottom
    }
  }

  &__copyright {
    padding-left: $hig__global-nav__sidenav--l-side-padding;
    margin-bottom: 40px;
    font-size: 12px;
    color: color(hig-gray-30);
  }
}

.hig__global-nav--open .hig__global-nav__sidenav {
  display: block;
}

.hig__global-nav__sidenav__super-header,
.hig__global-nav__sidenav__header {
  margin: 0;
  padding: 0;
}

.hig__global-nav__sidenav__super-header-link,
.hig__global-nav__sidenav__header-link {
  display: block;
  padding: 0 $hig__global-nav__sidenav--r-side-padding 0 $hig__global-nav__sidenav--l-side-padding;
  font-weight: 600;
}

.hig__global-nav__sidenav__super-header {
  color: color(hig-gray-20);
  font-size: 12px;
}

.hig__global-nav__sidenav__header {
  color: color(hig-gray-10);
  font-size: 16px;
  margin-bottom: spacing(s);
}
