@import '~@hig/styles/mixins/colors.scss';
@import '~@hig/styles/mixins/base.scss';

.hig__icon-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  @include vendor-prefix('box-sizing', 'border-box');

  border: 1px solid color(hig-cool-gray-30);
  border-radius: 4px;
  color: color(hig-gray-70);

  padding: 0;
  height: 36px;
  line-height: 36px;
  min-width: 36px;
  font-size: 14px;

  button {
    -webkit-text-align: center;
  }

  svg * {
    fill: color(hig-cool-gray-60);
  }

  &.hig__icon-button--primary {
    background-color: color(hig-white);
  }

  &.hig__icon-button--flat {
    border-color: transparent;
  }

  &.hig__icon-button--transparent {
    border-color: transparent;
    background-color: transparent;

    &:hover {
      border-color: transparent;
      background-color: transparent;
      svg * {
        fill: color(hig-turquoise-50)
      }
    }

    &:active,
    &:focus {
      background-color: transparent;
      border-color: transparent;
      svg * {
        fill: color(hig-slate-40)
      }
    }
  }

  &:hover {
    border-color: color(hig-turquoise-50);
  }

  &:active,
  &:focus {
    outline: none;
    background: color(hig-slate-40);
    border-color: color(hig-slate-40);

    svg * {
      fill: color(hig-white);
    }

    &.hig__icon-button--flat {
      background: color(hig-slate-40);
      border-color: color(hig-slate-40);
    }
  }

  &.hig__icon-button--disabled {
    pointer-events: none;
    background: none;
    border-color: color(hig-cool-gray-20);
    color: color(hig-cool-gray-30);

    &:hover, &:focus {
      background: none;
      border-color: color(hig-cool-gray-10);
    }

    svg {
      opacity: 0.3;
    }

    &.hig__icon-button--flat,
    &.hig__icon-button--flat:hover,
    &.hig__icon-button--flat:focus,
    &.hig__icon-button--transparent,
    &.hig__icon-button--transparent:hover,
    &.hig__icon-button--transparent:focus,
    {
      border-color: transparent;
    }
  }
}

.hig__icon-button__icon {
  @include vendor-prefix(transform, translateX(-50%) translateY(-50%));
  position: absolute;
  top: 50%;
  left: 50%;
}
