.hig__toast-list-wrapper {
  position: fixed;
  right: 10px;
}

.hig__toast-list-wrapper--position-top {
  top: 10px;
}

.hig__toast-list-wrapper--position-bottom {
  bottom: 10px;
}

.hig__toast-list {
  @import "../Toast/variables.scss";

  display: flex;
  min-width: $container-width;

  .hig__toast {
    margin-bottom: 10px;
  }
}

.hig__toast-list--position-top {
  flex-direction: column-reverse;
}

.hig__toast-list--position-bottom {
  flex-direction: column;
}
