@import '~basics/colors/colors.scss';
@import '~basics/responsive/responsive.scss';
@import '~basics/shadows/shadows.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/mixins/spacing.scss';
@import '../top-nav/top-nav.scss';
$hig__global-nav__sidenav--width: 280px;
@function side-nav-transition($attribute) {
  @return '#{$attribute} 150ms cubic-bezier(0.000, 0.775, 0.775, 0.680)'; // CSS animation tool: https://matthewlein.com/tools/ceaser
}

.hig__global-nav__sidenav {
  @include reset;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: $hig__global-nav__sidenav--width * -1; // Hide offscreen by default
  bottom: 0;
  overflow-x: hidden;
  @include vendor-prefix('transition', side-nav-transition('left'));
  @include shadow("inner-right");
  width: $hig__global-nav__sidenav--width;
  margin-top: $hig__global-nav__top-nav--height;
  z-index: 2;
  @include tablet-breakpoint {
    margin-top: 0;
  }
}

// Light theme
.hig__global-nav__sidenav {
  background: color(hig-white);
  border-right: 1px solid color(hig-cool-gray-20);
}

// Dark Blue
.hig--dark-blue-theme {
  &.hig__global-nav__sidenav {
    background-color: color(hig-cool-gray-60);
    border-right: 1px solid color(hig-cool-gray-60);
  }
}
