@import '~basics/colors/colors.scss';
@import '~basics/responsive/responsive.scss';
@import '~basics/shadows/shadows.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/mixins/spacing.scss';
@import '../top-nav/top-nav.scss';

$hig__global-nav__sidenav--width: 280px;

.hig__global-nav__sidenav {
  @include reset;
  position: fixed;
  top: 0;
  left: $hig__global-nav__sidenav--width * -1; // Hide offscreen by default
  bottom: 0;
  background: color(hig-white);
  border-right: 1px solid color(hig-cool-gray-20);
  overflow-x: hidden;
  @include vendor-prefix('transition', 'left 150ms cubic-bezier(0.000, 0.775, 0.775, 0.680)');

  @include shadow("inner-right");

  width: $hig__global-nav__sidenav--width;

  margin-top: $hig__global-nav__top-nav--height;
  z-index: 2;
  @include tablet-breakpoint {
    margin-top: 0;
  }

  // Sidenav Scroll
  &__scroll {
    position: absolute;
    top: 4px;
    left: 0;
    right: 4px;
    bottom: 4px;
    @include vendor-prefix('box-sizing', 'border-box');
    padding: 14px 0;

    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      width: 5px;
      height: 200px;
      background-color: color(hig-cool-gray-50);
      border-radius: 2px;
    }

    &--search{
      bottom: 4px + 52px; // search at the bottom
    }
  }

  &__links{
    margin: spacing(m) 0;
  }

  &__copyright {
    padding-left: spacing(m);
    margin-bottom: 40px;
    font-size: 12px;
    color: color(hig-cool-gray-50);
  }
}

.hig__global-nav--open .hig__global-nav__sidenav {
  left: 0;
}

.hig__global-nav__sidenav__super-header,
.hig__global-nav__sidenav__header {
  margin: 0;
  padding: 0;
}

.hig__global-nav__sidenav__super-header-link,
.hig__global-nav__sidenav__header-link {
  display: block;
  padding: 0 spacing(s) 0 spacing(m);
  font-weight: 600;
  color: color(hig-gray-70);
  text-decoration: none;

  &[href]:hover {
    cursor: pointer;
    color: color(hig-blue-50);
  }
}

.hig__global-nav__sidenav__super-header {
  color: color(hig-cool-gray-50);
  font-size: 12px;
}

.hig__global-nav__sidenav__header {
  color: color(hig-gray-70);
  font-size: 16px;
  margin-bottom: spacing(s);
}

.hig__side-nav__slot {
  padding: 32px 8px 32px 16px;
}
