@import '~basics/colors/colors.scss';
@import '~basics/shadows/shadows.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/layers.scss';

$group-height: 56px;

.hig__global-nav__top-nav {
  @include reset;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  position: relative;
  background: color(hig-white);
  height: $group-height;
  line-height: $group-height;
  z-index: $top-nav-layer;

  @include shadow("dropshadow");
}

.hig__global-nav__top-nav__items {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  padding: 0 12px;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
    bottom: 12px;
    border-left: 1px solid color(hig-cool-gray-20);
  }
}

.hig__global-nav__top-nav__item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.hig__global-nav__top-nav__spacer {
  flex: 1 1 0;
}

.hig__global-nav__top-nav__hamburger {
  display: flex;
  align-items: center;
  width: 30px;
  padding-right: 5px;
  cursor: pointer;

  &__closeicon {
    display: none;
  }

  .hig__global-nav--open &__hamburgericon {
    display: none;
  }

  .hig__global-nav--open &__closeicon {
    display: block;
  }
}

.hig__global-nav__top-nav__hamburger--hidden {
  display: none;
}

.hig__global-nav__top-nav__logo {
  display: flex;
  align-items: center;
  padding-left: 5px;
  line-height: 0;
  cursor: pointer;

  & img {
    height: 24px;
    width: auto;
  }
}
