@import '~basics/colors/colors.scss';
@import '~basics/shadows/shadows.scss';
@import '~helpers/css/mixins/base.scss';
@import '~helpers/css/layers.scss';
$hig__global-nav__top-nav--height: 56px;

.hig__global-nav__top-nav {
  @include reset;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  background: color(hig-white);
  height: $hig__global-nav__top-nav--height;
  // line-height: $hig__global-nav__top-nav--height;
  z-index: $top-nav-layer;
  padding-left: 7px;
  @include shadow("dropshadow");
}

.hig__global-nav__top-nav__item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  &+&:before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    bottom: 12px;
    border-left: 1px solid color(hig-cool-gray-20);
  }
}

.hig__global-nav__top-nav__spacer {
  flex: 1 1 0;
}

.hig__global-nav__top-nav__hamburger {
  display: flex;
  align-items: center;
  width: 30px;
  padding: 0 5px;
  cursor: pointer;
  &__closeicon {
    display: none;
  }
  .hig__global-nav--open &__hamburgericon {
    display: none;
  }
  .hig__global-nav--open &__closeicon {
    display: block;
  }
}

.hig__global-nav__top-nav__hamburger--hidden {
  display: none;
}

.hig__global-nav__top-nav__logo {
  display: flex;
  align-items: center;
  padding: 0 12px 0 5px;
  line-height: 0;
  cursor: pointer;
  & img {
    height: 24px;
    width: auto;
  }
}
