@import "~@hig/styles/mixins/links.scss";
@import "~@hig/styles/mixins/typography.scss";
@import "~@hig/styles/mixins/spacing.scss";

.hig__rich-text {
  @include typography-base;
  margin-bottom: spacing(m);

  ul {
    padding-left: 20px;
  }

  li {
    list-style: none;

    &:before {
      content: "·";
      vertical-align: middle;
      font-size: 18px;
      padding-right: spacing(xs);
      margin-left: -14px;
    }
  }
}

.hig__rich-text--small {
  @include typography-small;
  margin-bottom: spacing(xs);

  b,
  p {
    @include typography-small;
  }
}

.hig__rich-text--large {
  @include typography-large;

  p {
    @include typography-large;
  }
}

.hig__rich-text h1 {
  @include typography-h1;
}

.hig__rich-text h2 {
  @include typography-h2;
}

.hig__rich-text h3 {
  @include typography-h3;
}

.hig__rich-text h4 {
  @include typography-h4;
}

.hig__rich-text h5 {
  @include typography-h5;
}

.hig__rich-text a {
  @include base-link;
  @include primary-link;
}

.hig__rich-text p {
  margin: 0 0 spacing(m) 0;
}

.hig__rich-text {
  b,
  strong {
    font-weight: 700;
  }
}
