@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/spacing.scss';
.hig__expanding-filter-section {
  display: block;
}

.hig__expanding-filter-section__summary {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid color(hig-slate-30);
  line-height: 24px;
  padding: spacing(xs) 0;
  margin-bottom: spacing(m);
  user-select: none;
  cursor: pointer;
  &:focus {
    outline: none;
    border-bottom-color: color(hig-blue-60);
    box-shadow: 0 1px 0 color(hig-blue-60);
  }
  .hig__expanding-filter-section--s>& {
    border-bottom: none;
    box-shadow: none;
    padding: 0;
    margin-bottom: spacing(s);
  }
}

.hig__expanding-filter-section__summary::-webkit-details-marker {
  display: none;
}

.hig__expanding-filter-section__label {
  flex: 1 1 auto;
  font-family: 'ArtifaktElement', sans-serif;
  font-size: 18px;
  font-weight: 500;
  .hig__expanding-filter-section--s & {
    font-size: 14px;
  }
}

.hig__expanding-filter-section__caret {
  flex: 0 0 auto;
  transform: rotate(-90deg);
  .hig__expanding-filter-section--open>.hig__expanding-filter-section__summary>& {
    transform: rotate(0deg);
  }
}

.hig__expanding-filter-section__content {
  margin-bottom: spacing(xl);
}