@import '~helpers/css/mixins/spacing.scss';
@import '~basics/colors/colors.scss';
@import '../side-nav.scss';

.hig__global-nav__side-nav__section__group {
  padding: spacing(xs) 0;
  position: relative;

  &::before,
  &:last-child::after {
    position: absolute;
    top: 0;
    height: 1px;
    display: block;
    content: '';
    left: $hig__global-nav__sidenav--l-side-padding;
    right: $hig__global-nav__sidenav--r-side-padding;
    border-top: 1px solid color(hig-gray-50);
  }

  &:last-child::after {
    top: auto;
    bottom: 0;
  }

  &:empty {
    padding: 0;
    background-color: red;

    &::before,
    &::after {
      display: none;
    }
  }

  &--hide {
    display: none;
  }
}
