@import '~basics/colors/colors.scss';
.hig__action-bar {
  display: flex;
}

.hig__action-bar__group {
  display: flex;
  border-left: 1px solid color(hig-cool-gray-20);
  &:first-child,
  .hig__action-bar__spacer+& {
    border: none;
  }
}

.hig__action-bar__spacer {
  flex: 1 1 0;
}