.hig-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.hig-menu-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.hig-menu-content .hig-slot {
  padding: 10px;
}

.hig-sidebar {
  display: none;
  background: green;
}

.hig-sidebar.hig-sidebar--open {
  display: block;
}

.hig-menu-top-toggle {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 32px;
  padding: 0;
}

.hig-menu-top-toggle:focus {
  outline: solid 1px blue;
}

.hig-menu-top {
  background: yellow;
  padding: 10px;
}

.hig-menu-slot {
  background: purple;
  flex-grow: 1;
}

.hig-group {
  padding: 10px;
}

.hig-group--small .hig-group-item {
  font-size: 12px;
  line-height: 16px;
}

.hig-group-item {
  border: none;
  display: block;
  background: red;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.hig-group-item:focus {
  outline: solid 1px blue;
}

.hig-group-item--selected {
  font-weight: bold;
}