@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/breakpoints.scss';
@import '~helpers/css/mixins/base.scss';

.hig__table__text-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;



  .hig__table--standard & {
    height: 16px;
    line-height: 14px;
  }

  .hig__table--compressed & {
    height: 14px;
    line-height: 14px;
  }

  .hig__table--large & {
    height: 32px;
    line-height: 16px;
  }
}

.hig__table__text-cell-detail {
  color: color(hig-slate-30);
  display: none;
  font-size: 12px;
  
  .hig__table--large & {
    display: block;
  }
}