@import "../../tokens.scss";

.hig__banner__icon-background {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: $banner-wrapper-min-height;
  margin: 0;

  svg * {
    fill: color(hig-white);
  }
}

.hig--light-theme {
  .hig__banner--urgent &.hig__banner__icon-background {
    background-color: map-get($banner-hig-light-theme, icon-background-color--urgent);
  }

  .hig__banner--warning &.hig__banner__icon-background {
    background-color: map-get($banner-hig-light-theme, icon-background-color--warning);
  }

  .hig__banner--primary &.hig__banner__icon-background {
    background-color: map-get($banner-hig-light-theme, icon-background-color--primary);
  }

  .hig__banner--complete &.hig__banner__icon-background {
    background-color: map-get($banner-hig-light-theme, icon-background-color--complete);
  }
}

.hig--matrix-theme {
  .hig__banner--urgent &.hig__banner__icon-background {
    background-color: map-get($banner-matrix-theme, icon-background-color--urgent);
  }

  .hig__banner--warning &.hig__banner__icon-background {
    background-color: map-get($banner-matrix-theme, icon-background-color--warning);
  }

  .hig__banner--primary &.hig__banner__icon-background {
    background-color: map-get($banner-matrix-theme, icon-background-color--primary);
  }

  .hig__banner--complete &.hig__banner__icon-background {
    background-color: map-get($banner-matrix-theme, icon-background-color--complete);
  }
}