@import '~basics/colors/colors.scss';
@import '~basics/shadows/shadows.scss';
@import '~helpers/css/mixins/base.scss';

$group-height: 56px;

.hig__global-nav__top-nav{
    @include reset;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    background: color(hig-white);
    height: $group-height;
    line-height: $group-height;
    z-index: 2;

    @include shadow("dropshadow");    

    &__group {
        height: 32px;
        line-height: 32px;
        display: flex;
        align-items: center;

        &--right{
            border-left: 1px solid color(hig-gray-50);
        }
        &--left{
            padding-right: 20px;
            border-right: 1px solid color(hig-gray-50);
        }

    }

    &__hamburger{
      width: 30px;
      height: 30px;
      margin: 0 10px 0 12px;
      cursor: pointer;

      &__closeicon{
        display: none;
      }

      .hig__global-nav--open &__hamburgericon{
        display: none;
      }

      .hig__global-nav--open &__closeicon{
        display: block;
          
      }
    }

    &__logo {
        line-height: 0;
        height: 24px;
        line-height: 0;
        cursor: pointer;

        & img{
            height: 100%;
        }
    }

    &__spacer {
        flex: 1 1 0;
    }
}