@mixin table-edge-padding($padding-left: null, $padding-right: null) {
  .hig__table {
    &__header-column,
    &__row-column {
      @if $padding-left != null {
        &:first-child {
          padding-left: $padding-left;
        }
      }

      @if $padding-right != null {
        &:last-child {
          padding-right: $padding-right;
        }
      }
    }
  }
}

.hig__table {
  $table-font-size: 13px !default;
  $table-border-radius: 4px !default;
  $table-padding-left: 15px !default;
  $table-padding-right: 15px !default;
  $column-padding: 7.5px !default;

  $background-color: #ffffff !default;
  $box-shadow-color: #eeeeee !default;
  $box-shadow-offset: 2px !default;
  $box-shadow-blur: 4px !default;
  $border: 1px solid #eeeeee !default;
  $header-background-color: #f8f8f8 !default;
  $header-font-weight: 700 !default;
  $row-hovered-background-color: #f3f3f3 !default;
  $header-column-hovered-background-color: #f3f3f3 !default;
  $sort-indicator-hovered-color: #888888 !default;
  $column-resizer-color: #cccccc !default;

  $show-frozen-rows-shadow: true !default;
  $show-frozen-columns-shadow: true !default;

  border-radius: $table-border-radius;
  box-shadow: 0 $box-shadow-offset $box-shadow-blur 0 $box-shadow-color;
  background-color: $background-color;
  position: relative;
  box-sizing: border-box;
  font-size: $table-font-size;

  &--disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  @if ($show-frozen-rows-shadow) {
    // make frozne row's box-shadow visible using z-index
    &--has-frozen-rows {
      .hig__table__header {
        box-shadow: 0 $box-shadow-offset $box-shadow-blur 0 $box-shadow-color;
        z-index: 1;
      }

      .hig__table__table-frozen-left,
      .hig__table__table-frozen-right {
        z-index: 2;
      }

      .hig__table__resizing-line {
        z-index: 3;
      }
    }
  }

  &__table {
    position: absolute;
    top: 0;

    &-main {
      @include table-edge-padding($table-padding-left, $table-padding-right);
      outline: $border;
      left: 0;

      .hig__table__header {
        background-color: $header-background-color;
      }
    }

    &-frozen-left,
    &-frozen-right {
      .hig__table__header,
      .hig__table__body {
        overflow: hidden !important;
      }

      .hig__table__row-expanded,
      .hig__table__row--customized,
      .hig__table__header-row--customized {
        display: none;
      }
    }

    &-frozen-left {
      @include table-edge-padding($table-padding-left, null);
      @if ($show-frozen-columns-shadow) {
        box-shadow: $box-shadow-offset 0 $box-shadow-blur 0 $box-shadow-color;
      }
      top: 0;
      left: 0;

      .hig__table__header-row,
      .hig__table__row {
        padding-right: 0 !important;
      }

      .hig__table__body {
        overflow-y: auto !important;
      }
    }

    &-frozen-right {
      @include table-edge-padding(null, $table-padding-right);
      @if ($show-frozen-columns-shadow) {
        box-shadow: -$box-shadow-offset 0 $box-shadow-blur 0 $box-shadow-color;
      }
      top: 0;
      right: 0;

      .hig__table__header-row,
      .hig__table__row {
        padding-left: 0 !important;
      }

      .hig__table__body {
        overflow-y: auto !important;
      }
    }
  }

  &__header {
    overflow: hidden !important;
  }

  .hig__table__header,
  .hig__table__body {
    outline: none;
  }

  &__header-row {
    display: flex;
    align-items: center;
    border-bottom: $border;
    background-color: $header-background-color;
    font-weight: $header-font-weight;
  }

  &__row {
    display: flex;
    align-items: center;
    border-bottom: $border;
    background-color: $background-color;

    &:hover,
    &--hovered {
      background-color: $row-hovered-background-color;
    }
  }

  &__row-expanded {
    border-bottom: $border;
  }

  &__header-column,
  &__row-column {
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 $column-padding;

    &--align-center {
      justify-content: center;
      text-align: center;
    }

    &--align-right {
      justify-content: flex-end;
      text-align: right;
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__header-column {
    position: relative;
    cursor: default;

    &--sortable {
      &:hover {
        background-color: $header-column-hovered-background-color;
        cursor: pointer;

        .hig__table__sort-indicator {
          display: block;
          color: $sort-indicator-hovered-color;
        }
      }
    }

    &--sorting {
      .hig__table__sort-indicator {
        display: block;
      }
    }

    &--resizing {
      .hig__table__column-resizer {
        // workaround to prevent header being clicked when resizing stopped on header
        padding-left: 999px;
        border-color: $column-resizer-color;
      }
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

  &__header-row--resizing {
    .hig__table__header-column {
      background-color: transparent;
      cursor: ew-resize;

      &:not(.hig__table__header-column--sorting) {
        .hig__table__sort-indicator {
          display: none;
        }
      }

      &:not(.hig__table__header-column--resizing) {
        .hig__table__column-resizer {
          border-color: transparent;
        }
      }
    }
  }

  &__column-resizer {
    border-color: transparent;

    &:hover {
      border-color: $column-resizer-color;
    }
  }

  &__footer {
    background-color: $background-color;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  &__empty-layer {
    background-color: $background-color;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  &__resizing-line {
    cursor: ew-resize;
    position: absolute;
    top: 0;
    background-color: $column-resizer-color;
  }
}
