$table-font-size: 13px !default;
$table-border-radius: 4px !default;
$table-padding-left: 15px !default;
$table-padding-right: 15px !default;
$column-padding: 7.5px !default;
$resizing-line-width: 3;

$background-color: #ffffff !default;
$box-shadow-color: #eeeeee !default;
$box-shadow-offset: 2px !default;
$box-shadow-blur: 4px !default;
$border: 1px solid #eeeeee !default;
$header-background-color: #f8f8f8 !default;
$header-font-weight: 700 !default;
$row-hovered-background-color: #f3f3f3 !default;
$header-column-hovered-background-color: #f3f3f3 !default;
$sort-indicator-hovered-color: #888888 !default;
$column-resizer-color: #cccccc !default;

$show-frozen-rows-shadow: true !default;
$show-frozen-columns-shadow: true !default;
