@import '~basics/colors/colors.scss';
@import '~helpers/css/mixins/base.scss';

.hig__global-nav__top-nav__search{
    position: relative;
    
    &__icon{
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle;

        &:hover{
            cursor: pointer;
        }
    }

    &__inputholder{
        display: inline-block;
        vertical-align: middle;

        &__input{
            @include reset;
            margin-left: -5px;
            border: none;
            font-size: 16px;
            padding: 5px;
            max-width: 460px;
            font-weight: 500;

            &::placeholder{
                font-weight: normal;
                color: $hig-gray-30;
            }

            &:focus{
                border: none;
                outline: none;
            }
        }
    }

    &__clear{
        position: absolute;
        right: 0;
        top: 12px;
        opacity: 0; // hide by opacity to enable event propagation with focusin/focusout events

        &--show{
            opacity: 1;
        }

        &:hover{
            cursor: pointer;
        }
    }
}