@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/breakpoints.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/spacing.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__side-nav {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.hig__side-nav__overflow {
  @include vendor-prefix('box-sizing', 'border-box');
  flex: 1 1 auto;
  height: 100%;
  padding: 14px 0;
  margin: 4px 4px 4px 0;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    height: 200px;
    border-radius: 2px;
  }
}

.hig__side-nav__headers {
  margin-bottom: spacing(s);
}

.hig__side-nav__super-header {
  @include typography-base;
  font-size: 12px;
}

.hig__side-nav__header {
  @include typography-base;
  font-size: 16px;
}

.hig__side-nav__super-header-link,
.hig__side-nav__header-link {
  padding: 0 spacing(s) 0 spacing(m);
  font-weight: 600;
  text-decoration: none;
  &[href]:hover {
    cursor: pointer;
  }
}

.hig__side-nav__slot {
  padding: 32px 8px 32px 16px;
}

.hig__side-nav__links {
  margin: spacing(m) 0;
}

.hig__side-nav__copyright {
  @include typography-base;
  padding-left: spacing(m);
  margin-bottom: 40px;
  font-size: 12px;
}

.hig__side-nav__minimize {
  display: flex;
  justify-content: flex-end;
  margin: 0 4px;

  @include tablet-breakpoint {
    display: none;
  }
}

// Light theme
.hig--light-theme {
  .hig__side-nav__overflow::-webkit-scrollbar-thumb {
    background-color: color(hig-cool-gray-50);
  }

  .hig__side-nav__super-header-link,
  .hig__side-nav__header-link {
    color: color(hig-gray-70);

    &[href]:hover {
      color: color(hig-blue-50);
    }
  }

  .hig__side-nav__super-header {
    color: color(hig-cool-gray-50);
  }

  .hig__side-nav__header {
    color: color(hig-gray-70);
  }

  .hig__side-nav__copyright {
    color: color(hig-cool-gray-50);
  }
}

// Dark Blue
.hig--dark-blue-theme {
  .hig__side-nav__overflow::-webkit-scrollbar-thumb {
    background-color: color(hig-cool-gray-40);
  }

  .hig__side-nav__super-header-link,
  .hig__side-nav__header-link {
    color: color(hig-white);
    &[href]:hover {
      color: color(hig-blue-40);
    }
  }

  .hig__side-nav__super-header,
  .hig__side-nav__header {
    color: color(hig-white);
  }

  .hig__side-nav__copyright {
    color: transparentize($color: color(hig-white), $amount: 0.5);
  }

  .hig__side-nav__minimize {
    svg * {
      fill: color(hig-white);
    }
  }
}
